{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                What you need
            </h1>

            <p>Who must register as a 'responsible person':</p>

            <ul class="list-bullet spacelarge">

                <li>anyone who directs the business &ndash; this includes sole proprietors, partners, directors and shadow directors</li>
                <li>anyone who owns or controls at least 25% the business</li>
                <li>the ‘nominated officer’ &ndash; the person who acts as the money laundering reporting officer</li>
            </ul>
            
            <div class="panel panel-border-wide spacelarge">Your business must have one nominated officer.</div>


            <p>Each responsible person needs to provide their:</p>

            <ul class="list-bullet spacelarge">
                <li>current name, and any alternative or former names</li>
                <li>national insurance number, if relevant</li>
                <li>date of birth</li>
                <li>passport number, if relevant</li>
                <li>nationality and country of birth</li>
                <li>phone number and email address</li>
                <li>home address</li>
                <li>position within the business and start date</li>
                <li>VAT number and Self Assessment number, if relevant</li>
                <li>details of any relevant experience and training</li>
            </ul>

            <p><a href="your-name" class="button ">Continue</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}