{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Bank details</span>
                What you need
            </h1>

            <div class="panel panel-border-narrow">
               We need to identify the bank accounts used by your business. This isn't the place to pay registration fees.
            </div>
<p>For each bank account used by the business, you'll need:</p>
            <ul class="list-bullet space">
                <li>the account name</li>
                <li>the account number</li>
                <li>if it's a UK or overseas account</li>
                <li>whose account it is</li>
            </ul>

            <div class="form-group">
                <a href="accounts" class="button ">Continue</a>
            </div>


        </div>
    </div>

{{/main}}
{{/layout}}