{{<layout}}
{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
               <span class="heading-secondary">Pre-registration</span>
                What do you need to register?
            </h1>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="check-your-answers">
                <div class="form-group">
                    <fieldset>
                        <legend class="visuallyhidden"> Which activities do you need to register for?</legend>
                        <p>Select all that apply</p>

                        <label class="block-label" for="asp">
                            <input id="asp" type="checkbox" name="activities" value="0">Accountancy services
                        </label>

                        <label class="block-label" for="ct">
                            <input id="ct" type="checkbox" name="activities" value="">Bill payment services
                        </label>

                        <label class="block-label" for="paye">
                            <input id="paye" type="checkbox" name="activities" value="1">Estate agent business
                        </label>

                        <label class="block-label" for="sa">
                            <input id="sa" type="checkbox" name="activities" value="2">High value dealing
                        </label>

                        <label class="block-label" for="tc">
                            <input id="tc" type="checkbox" name="activities" value="3">Money service business
                        </label>

                        <label class="block-label" for="vat">
                            <input id="vat" type="checkbox" name="activities" value="4">Trust or company services
                        </label>

                        <label class="block-label" for="tdit">
                            <input id="tdit" type="checkbox" name="activities" value="">Telephone, digital and IT payment services
                        </label>
                    </fieldset>
                </div>

                <details class="spacelarge">
                    <summary><span class="summary">More information about these categories</span></summary>
                    <div class="panel panel-border-narrow">

                         <p>'Accountancy Service Providers' provide professional bookkeeping services, accounts preparation and signing, or tax advice. <a href="https://www.gov.uk/guidance/money-laundering-regulations-accountancy-service-provider-registration">More information about Accountancy Service Providers.</a></p>

                         <p>‘Bill Payment Service Providers’ work on behalf of businesses to handle household bill payments from customers.</p>

                        <p>'Estate Agency Businesses' introduce people who want to buy or sell property, and facilitate the purchase or sale of property. <a href="https://www.gov.uk/guidance/registration-guide-for-estate-agency-businesses">More information about Estate Agency Businesses.</a></p>

                         <p>'High Value Dealers' accept cash payments of €15,000 or more (or equivalent in any currency) in exchange for goods. Estate agents are not classed as High Value Dealers. <a href="https://www.gov.uk/guidance/money-laundering-regulations-high-value-dealer-registration">More information about High Value Dealers.</a></p>

                        <p>'Money Service Businesses' exchange currency, transmit money, or cash cheques for their customers. <a href="https://www.gov.uk/guidance/money-laundering-regulations-money-service-business-registration">More information about Money Service Businesses.</a></p>

                        <p>'Trust or Company Service Providers' form companies. They also provide other services such as acting - or arranging for another person to act - in a certain role within a company. <a href= "https://www.gov.uk/guidance/money-laundering-regulations-trust-or-company-service-provider-registration">More information about Trust or Company Service Providers.</a></p>

                        <p>‘Telecommunications, Digital and IT Payment Service Providers’ manage customer payments for businesses, where the payments are made with devices such as phones, computers, and smart TVs.</p>


                    </div>
                </details>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}