{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

			{{>includes/back}}
			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Your answers
			</h1>
<table class="space">
				<tbody>
					<tr>
						<th width="90%">Money Laundering Regulations registration number</th>
						<td><a href="registered">Edit</a></td>
					</tr>
				
					<tr>
						<td colspan="2">8765 4321</td>
					</tr>
				</tbody>
			</table>

			
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">VAT registration number </th>
						<td><a href="vat">Edit</a></td>
					</tr>
					
					<tr>
						<td colspan="2">2468 1357 90</td>
					</tr>
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Corporation Tax number</th>
						<td><a href="corporation-tax">Edit</a></td>
					</tr>
					
					<tr>
						<td colspan="2">UTR: 2468 1357 90</td>
					</tr>
				</tbody>
			</table>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Registered office</th>
						<td><a href="confirming-address">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">{{>includes/business-address}}</td>
					</tr>
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Phone number</th>
						<td><a href="contacting-you">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">0191 234 5678</td>
					</tr>
					
					
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Email address</th>
						<td><a href="contacting-you">Edit</a></td>
					</tr>
					
					<tr>
						<td colspan="2">info@acme.com</td>
					</tr>
					
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Postal address</th>
						<td><a href="contacting-you">Edit</a></td>
					</tr>
					
					<tr>
						<td colspan="2">{{>includes/business-address}}</td>
					</tr>
					
				</tbody>
			</table>


			<a href="../registration-progress" class="button" type="submit">Confirm and continue</a>

		</div>
	</div>

{{/main}}
{{/layout}}
