{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="#" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Money service business
	   		</span>
	   		Business activities
	   	</h1>
          
		<form class="form" method="post">
        
            <div class="form-group">
                <fieldset>
                    <legend class="form-label">What specific money service business services will you be carrying out?</legend>
                    <span class="form-hint">(Please select all that apply.)</span>
                    <label class="block-label" >
                        <input id="asp" type="checkbox" name="activities" value="asp">
                        Money transmitter
                    </label>
                        
                    <label class="block-label" >
                        <input id="ct" type="checkbox" name="activities" value="bpsp">
                        Currency exchange
                    </label>
                        
                    <label class="block-label" >
                        <input id="paye" type="checkbox" name="activities" value="eab">
                        Foreign exchange
                    </label>
                        
                    <label class="block-label" >
                        <input id="sa" type="checkbox" name="activities" value="hvd">
                        Cheque casher (Nonscrap metal dealer)
                    </label>
                       
                    <label class="block-label" >
                        <input id="tc" type="checkbox" name="activities" value="msb">
                        Scrap metal dealer cheque casher
                    </label>
    
                       
                </fieldset>
            </div>


			<div class="form-group">
<!--	   			<a class="button" href="summary" id="next">Save and continue</a>-->
              <a class="button" href="#">Save and continue</a>
   			</div>


	   	</form>



	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



{{/content}}

{{/layout-amls}}
