{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                
                <a href="#" class="link-back">Back</a>
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Bank account details
	   		          </span>
                   Accounts used for MLR activities</h1>
               <p>Please provide details of all accounts used for the purposes of MLR activities.</p>
                
                </div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
                
            		</div>
                
                <h2 class="heading-medium">UK accounts</h2>
                
               <p><a href="bank-details-3">Add a UK bank account</a></p>


		<h2 class="heading-medium">International accounts</h2>
                
                <p><a href="bank-details-3a">Add an international bank account</a></p>
                <br>
    <div class="form-group">
   			<a href="responsible-persons-1" class="button">Next section</a> 
		</div>


 <div class="form-group">
   			<a href="summary" >Return to form summary</a>
		</div>
        

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
