{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Anti-money laundering supervision registration</span>
                Your application status
            </h1>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide">
                <p><span class="heading-small">Your business:</span><br />Ubunchews Accountany Services</span></p>
            </div>

        </div>

    </div>

    <div class="grid-row">
        <div class="column-one-third">
            <ol class="list list-number status-list">
                <li class="status-list--pending status-list--start">Incomplete <span class="status-list--icon"></span></li>
                <li class="status-list--upcoming">Submitted <span class="status-list--icon"></span></li>
                <li class="status-list--upcoming">Fee paid <span class="status-list--icon"></span></li>
                <li class="status-list--upcoming">Under review <span class="status-list--icon"></span></li>
                <li class="status-list--upcoming">Decision made<span class="status-list--icon"></span></li>
            </ol>

        </div>
        <div class="column-two-thirds status-text">
            <h2 class="heading-medium">Application incomplete</h2>
            <p>You’ve started the application form but you haven’t finished it. You have XX days to complete all sections. After XX days the information you entered will be lost, and you’ll need to start again.</p>
            <div class="form-group">
                <a href="../registration-progress" class="button" type="submit">Complete all sections</a>
            </div>
        </div>
    </div>


    {{>includes/templinks}}

{{/main}}
{{/layout}}
