{{<layout}}
{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">


    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Business matching</span>
                    What do you need to register?
                </h1>

                <form class="form" method="post">

                <input type="hidden" name="next-page" value="summary">
                    <div class="form-group">
                        <fieldset>
                            <legend class="visuallyhidden"> Which activities do you need to register for?</legend>
                            <p>Select all that apply</p>

                            <label class="block-label" for="asp">
                                <input id="7" type="checkbox" name="activities" value="7">Accountancy services
                            </label>

                            <label class="block-label" for="ct">
                                <input id="13" type="checkbox" name="activities" value="13">Bill payment services
                            </label>

                            <label class="block-label" for="paye">
                                <input id="8" type="checkbox" name="activities" value="8">Estate agent business
                            </label>

                            <label class="block-label" for="sa">
                                <input id="9" type="checkbox" name="activities" value="9">High value dealing
                            </label>

                            <label class="block-label" for="tc">
                                <input id="10" type="checkbox" name="activities" value="10">Money service business
                            </label>

                            <label class="block-label" for="vat">
                                <input id="11" type="checkbox" name="activities" value="11">Trust and company services
                            </label>

                            <label class="block-label" for="tdit">
                                <input id="12" type="checkbox" name="activities" value="12">Telephone, digital &amp; IT payment services
                            </label>
                        </fieldset>
                    </div>


                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>

                </form>


            </div>

        </div>


{{/main}}
{{/layout}}