<h2 class="heading-medium">Has anything changed in your business?</h2>
<p>If anything changes, or if you notice any mistakes, you must update your application. You have 30 days to update the information, from when the change takes place.   
</p>
<ul class=" list-bullet">
	        <li><a href="https://www.gov.uk/guidance/money-laundering-regulations-report-changes-to-your-business">more information about what kind of changes you need to update</a></li>
            <li><a href="../registration-progress">update your application form</a></li>
             <li><a href="../application-status/withdraw-application">withdraw your application for anti-money laundering supervision</a></li>
        </ul>
