{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Pre-application</span>
                Your answers
            </h1>



            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Business you're registering</th>
                        <td><a href="index">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Your organisation's
                            <br>Registered address
                            <br>Town
                            <br>County
                            <br>AB1 2DE
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Corporation Tax Unique Tax Reference (UTR)</th>
                        <td><a href="business-details">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">UTR 23626 37849</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Company registration number</th>
                        <td><a href="registration-number">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">A1234567</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Business structure</th>
                        <td><a href="business-type">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Charity</td>
                    </tr>
                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>
                        <th width="90%">Activities you're registering for</th>
                        <td><a href="activities">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">{{>includes/business-type}}</td>
                    </tr>
                </tbody>
            </table>

            <a href="../registration-progress" class="button" type="submit">Confirm and continue</a>

        </div>
    </div>

{{/main}}
{{/layout}}