{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                What you need
            </h1>
        </div>
    </div>
        <div class="grid-row">
        <div class="column-two-thirds">

            <p>For this section you'll need to know:</p>
            <ul class="list-bullet spacelarge">
                <li>the anticipated turnover for the next 12 months</li>
                <li>approximately how many people your business employs</li>
                <li>approximately how many people work on activities covered by Money Laundering Regulations</li>

            </ul>

             <p>Depending on your circumstances, you may also need to know:</p>
            <ul class="list-bullet spacelarge">
                <li>in which countries your customers live or work</li>
                <li>your franchisor's name</li>
                <li>how you record transactions</li>
                <li>your professional advisor's name and address</li>
                <li>your professional advisor's HMRC agent code</li>

            </ul>


            <div class="form-group">
                <a href="confirm-activities" class="button ">Continue</a>
            </div>


        </div>

        <div class="column-one-third">
            {{>includes/save-message}}
        </div>
    </div>

{{/main}}
{{/layout}}