{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}


        <div class="grid-row">
	  <div class="column-two-thirds">


	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Trading premises
	   		</span>
	   		Agent's tax details
	   	</h1>


		<form class="form" method="post">
			<input type="hidden" name="next-page" value="agent-2" />

            <div class="form-group">
		   		<label class="form-label" for="middle-name">What is your agent's legal entity name?</label>
		   		<input type="text" id="middle-name">
		   	</div>


			<div class="form-group">
				<legend>What is your agent's legal entity type?</legend>

				<label  class="block-label">
								<input type="radio" name="bus_type" id="sole" value="SOP">
								Sole proprietor
							</label>
							<label  class="block-label">
								<input type="radio" name="bus_type" id="partner" value="BPT">
								Limited liability partnership
							</label>
							<label class="block-label">
								<input type="radio" name="bus_type" id="cb" value="LPT">
								Partnership
							</label>
							<label class="block-label">
								<input type="radio" name="bus_type" id="ub" value="LLP">
								Corporate body
							</label>
							<label class="block-label">
								<input type="radio" name="bus_type" id="other" value="UAS">
								Unincorporated body
							</label>

			</div>

			<div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>

			<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>

	   	</form>



	  </div>
	  <div class="column-one-third">

{{>includes/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/main}}
{{/layout}}
