{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}


		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">
					<span class="heading-secondary">Trading premises</span>
					Information about your agent
				</h1>
                <p>An agent is a business that offers your services on your behalf.</p>

				<form class="form" method="post">
					<input type="hidden" name="next-page" value="activities">

					<fieldset>
						<legend class="visuallyhidden">Agent's tax details</legend>

						<div class="form-group">
							<label class="form-label-bold" for="middle-name">What is your agent's registered business name?</label>
                            <span class="form-hint">It must be identical to the name on the incorporation certificate.</span>							<input type="text" id="middle-name" class="form-control">
						</div>

						<div class="form-group">
		   					<label class="form-label-bold" for="middle-name">What is your agent's UTR?</label>
		   					<input type="text" id="middle-name" class="form-control">
		   				</div>

		   				<div class="form-group">
							<label class="form-label-bold">What type of tax does your agent pay?</label>
                    		<fieldset class="inline">
                        		<label class="block-label" for="radio-inline-2-1">
                          			<input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">Self-assesment
                        		</label>
                        		<label class="block-label" for="radio-inline-2-2">
                          			<input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">Corporation tax
                        		</label>
                    		</fieldset>
						</div>

						<div class="form-group">
							<legend class="form-label-bold">What is your agent's legal entity type?</legend>

							<label  class="block-label">
								<input type="radio" name="bus_type" id="sole" value="SOP">Sole proprietor
							</label>
							<label  class="block-label">
								<input type="radio" name="bus_type" id="partner" value="BPT">Limited liability partnership
							</label>
							<label class="block-label">
								<input type="radio" name="bus_type" id="cb" value="LPT">Partnership
							</label>
							<label class="block-label">
								<input type="radio" name="bus_type" id="ub" value="LLP">Corporate body
							</label>
							<label class="block-label">
								<input type="radio" name="bus_type" id="other" value="UAS">Unincorporated body
							</label>
						</div>


						<div class="form-group">
							<input type="submit" class="button" value="Save and continue">
						</div>

					</fieldset>
				</form>

				<a href="javascript:history.go(-1)" class="link-back">Back</a>
			</div>
		</div>

{{/main}}
{{/layout}}
