{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}

		<div class="grid-row">


			<div class="column-two-thirds">



                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Trading premises
	   		          </span>
                   Premises used for MLR activities</h1>
			 <p>This includes your own premises and other business's premises, where you have a contractual agreement for them to act as your agent and offer your services.</p>


                </div>

           <div class="column-one-third">
                 {{>includes/action-links}}
			</div>

            		</div>

                <h2 class="heading-medium">Your own premises</h2>

               <p><a href="own-1">Add one of your own premises</a></p>
				<table class="table-check-answers">



		<thead>
		<tr>
			<td>
				Address
			</td>
			<td>
				Activities
			</td>
			<td>
				Start date
			</td>
			<td class="edit-link">

			</td>
		</tr>
		</thead>
<tbody>

	<tr>
			<td>
				Your organisation's, Registered address, Town, County, AB1 2DE
			</td>
			<td>
				Estate agent business
			</td>
			<td>
				17 November 2016
			</td>
			<td class="edit-link">
				<a href="summary-own">Edit</a>
			</td>
		</tr>
	</tbody>
	</table>


		<h2 class="heading-medium">Other business's premises</h2>
                <p><a href="agent-1">Add another business's premises</a></p>

                <br>
    <div class="form-group">
		<form method="post">
				<input type="hidden" name="next-page" value="responsible-persons/1">
   			 <input class="button" type="submit" value="Next section" >
			</form>
		</div>


 <div class="form-group">
   			<a href="../summary" >Return to your application summary</a>
		</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/main}}
{{/layout}}
