{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Money service business</span>
                Does your business use an Intermediary Payment Service Provider?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="funds-transfer">

                {{! <div class="form-group">
                    <label class="form-label form-hint" for="amount">Give the answer in whole pounds (£)</label>
                    <input id="amount" type="text" class="form-control" name="amount">
                </div> }}



                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="visuallyhidden">Does your business use an Intermediary Payment Service Provider?</legend>
                        <p>An Intermediary Payment Service Provider is involved in the transfer of funds, but isn't the Payment Service Provider for the payer or the payee.</p>
                        <label class="block-label" for="radio-inline-5" data-target="IPSP">
                            <input id="radio-inline-5" type="radio" name="radio-inline-group-3" value="Yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-6">
                            <input id="radio-inline-6" type="radio" name="radio-inline-group-3" value="No">No
                        </label>
                    </fieldset>

                    <div class="panel panel-indent js-hidden" id="IPSP">
                        <div class="form-group">
                            <label class="form-label" for="specify">Intermediary Payment Service Provider's name</label>
                            <input type="text" name="" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="specify">Intermediary Payment Service Provider's anti-money laundering registration number</label>
                            <input type="text" name="" class="form-control" value="">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>



        </div>
    </div>

{{/main}}
{{/layout}}