{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Estate agency business</span>
                Check your answers
            </h1>

            <p>Please check all the information you have provided.</p>


            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Estate agency services</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Residential Estate Agency
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Redress scheme: The Property Ombudsman Limited
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has the business, or anyone in the business, ever been penalised under the Estate Agents Act 1979?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            I had a very good reason
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has the business, or anyone in the business, ever been penalised by a professional body?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            I had a very good reason
                        </td>
                    </tr>
                </tbody>
            </table>


            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>



        </div>
    </div>


{{/main}}
{{/layout}}