{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
		<div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business matching</span>
                What's your business structure?
            </h1>

		    <form class="form" method="post">
                <fieldset>
                    <legend class="visuallyhidden">What's your business structure</legend>
                    <div class="form-group">
						<label for="lc" class="block-label">
                            <input type="radio" name="next-page" id="lc" value="business-details">
                            Limited Company
                        </label>
                        <label for="sole" class="block-label">
							<input type="radio" name="next-page" id="sole" value="business-details-st">
							Sole Proprietor
						</label>
						<label for="partner" class="block-label">
                            <input type="radio" name="next-page" id="partner" value="business-details">
                            Partnership
                        </label>

                        <label for="llp" class="block-label">
							<input type="radio" name="next-page" id="llp" value="business-details">
							Limited Partnership or Limited Liability Partnership
						</label>


						<label for="other" class="block-label">
							<input type="radio" name="next-page" id="other" value="business-details">
							Unincorporated Association or Trust
						</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>
                </fieldset>
		    </form>

		</div>
	</div>

{{/main}}
{{/layout}}