{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


        <div class="grid-row">
            <div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                    <span class="heading-secondary">Accountancy Service Provider</span>
                   Are you registered with HMRC to handle other business' tax matters?
                </h1>
                <span class="form-hint">This refers to the HMRC Agent Registration Scheme</span>
                <form method="post">
                    <input type="hidden" name="next-page" value="supervised">

                    <div class="form-group">
                        <fieldset class="inline">
                            <label class="block-label" for="radio-inline-2-1" data-target="vat">
                                <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-2-2">
                                <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">No
                            </label>

                            <div class="panel js-hidden" id="vat">
                                <label class="form-label" for="vat">HMRC Agent Registration Number</label>
                                <input class="form-control" name="vat" type="text" id="sort-code">
                            </div>

                        </fieldset>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>
                </form>



            </div>
        </div>

{{/main}}
{{/layout}}
