
{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
  	   		    <span class="heading-secondary">Accountancy Service Provider</span>
  	   		    Which services does your business provide?
            </h1>

            <p>Select all that apply</p>
    		<form class="form" method="post">
                <input type="hidden" name="next-page" value="agent-scheme">

                <div class="form-group">
                    <fieldset>
                        <legend class="visuallyhidden">Which services does your business provide?</legend>

                        <label class="block-label" >
                            <input type="checkbox" name="" value="accountant">Accountancy
                        </label>

                        <label class="block-label" >
                            <input type="checkbox" name="" value="psp">Payroll services
                        </label>

                        <label class="block-label">
                            <input type="checkbox" name="" value="bookkeeper">Bookkeeping
                        </label>

                        <label class="block-label">
                            <input type="checkbox" name="" value="auditor">Auditing
                        </label>

                        <label class="block-label" >
                            <input type="checkbox" name="" value="ftadvisor">Financial advice and/or tax advice
                        </label>
                    </fieldset>
                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
     			</div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}