{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                    <span class="heading-secondary">Bank details</span>
                   	Check your answers
				</h1>

               	<p>Please check all the information you have provided.</p>

				<table class="space">
                    <tbody>
                        <tr>
                            <th width="90%">ACME Limited</th>
                            <td><a href="index">Edit</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Account: 01234537</td>
                        </tr>
                        <tr>
                            <td colspan="2">Sort code: 45-33-14</td>
                        </tr>
                        <tr>
                            <td colspan="2">Personal account</td>
                        </tr>
                        <tr>
                            <td colspan="2">UK</td>
                        </tr>
                    </tbody>
                </table>

                <table class="space">
                    <tbody>
                        <tr>
                            <th width="90%">Mr W. Coyote</th>
                            <td><a href="index">Edit</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">01234537</td>
                        </tr>
                        <tr>
                            <td colspan="2">23-45-67</td>
                        </tr>
                        <tr>
                            <td colspan="2">Business account</td>
                        </tr>
                        <tr>
                            <td colspan="2">UK</td>
                        </tr>
                    </tbody>
                </table>






				<p><a href="account-details">Add another bank account</a></p>
				<form method="post">
    				<div class="form-group">
   						<input type="submit" class="button" value="Accept and complete section">

					</div>
				</form>


			</div>
		</div>

{{/main}}
{{/layout}}
