{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">


			<h1 class="heading-xlarge">Registration progress</h1>
            <p class="lede">Complete all the sections below to register. Once you start the application, you have 28 days to finish it.</p>

			{{#sections}}




	  			<div class="grid-row summaryblock {{#status}}green{{/status}}">


					<div class="column-two-thirds statusblock {{#status}}nospace{{/status}} ">
		  				<h2 class="heading-small">{{name}}</h2>
		  				{{#status}}<a href="{{editlink}}" class="font-xsmall">Edit this section</a>{{/status}}
		  				{{^status}}<p>{{message}}<!--<br /><span class="font-xsmall">May take up to {{time}} mins to complete</span>--></p>{{/status}}
		  			</div>

	  				<div class="column-one-third al-center">
						{{#status}}
						<img src="public/images/icons/icon-tick-white.png" class="statusspace"/>
						{{/status}}
						{{^status}}

							<a href="{{link}}">
							<div class="grid-row">
								<div class="column-one-half">
									<p class="heading-large">{{time}}<br /><span>minutes to complete section</span></p>
								</div>
								<div class="column-one-half">
									<span class="chevron right"></span>
								</div>
							</div>
							</a>
	  					{{/status}}
	  				</div>
	  			</div>




	  		{{/sections}}


	  	</div>
  	</div>

{{/main}}
{{/layout}}
