{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">High Value Dealer</span>
                What you need
            </h1>
        </div>
    </div>

        <div class="grid-row">
        <div class="column-two-thirds">

            <p>For this section you'll need to know:</p>


            <ul class="list-bullet spacelarge">
                <li>what your business will sell</li>
                <li>how you'll sell goods</li>
                <li>if your business has already accepted cash payments of €15,000 or more</li>
                <li>if you can automatically identify linked cash payments of €15,000 or more</li>
                <li>if you expect to receive cash payments of €15,000 from customers you've not met in person</li>
                <li>how much of your turnover you expect to come from cash payments over €15,000</li>
            </ul>
            

            <div class="form-group">
                <a href="selling" class="button ">Continue</a>
            </div>


        </div>


        <div class="column-one-third">
            {{>includes/save-message}}
        </div>
    </div>

{{/main}}
{{/layout}}