{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible People</span>
                What you need
            </h1>
                       
                <p>Who must register as a 'Responsible Person':</p>
           

                        {{! <div class="panel panel-border-wide">
            <p>The Responsible People section usually takes X minutes to complete.</p>
            </div> }}


      

            <ul class="list-bullet space">
                <li>anyone who directs the business &ndash; this includes sole proprietors, partners, directors and shadow directors</li>
                <li>anyone who owns or controls at least 25% the business</li>
                <li>the ‘nominated officer’ &ndash; the person who acts as the money laundering reporting officer</li>
            </ul>




            <p>For each Responsible Person, you'll need their:</p>
       
            <ul class="list-bullet space">
                <li>current name, and any alternative or former names</li>
                <li>national insurance number, if relevant</li>
                <li>date of birth and passport number</li>
                <li>nationality and country of birth</li>
                <li>phone number and email address</li>
                <li>home address and previous addresses</li>
                <li>position within the business and start date</li>
                <li>VAT number and Self Assessment number, if relevant</li>
                <li>details of any relevant experience and training</li>                     </ul>


            <p><a href="your-name" class="button ">Continue</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}