{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                What's your position within the business?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="vat">

                <fieldset>
                    <div class="form-group">
                        <legend class="visuallyhidden">What's your position within the business?</legend>
                        <p>Select all that apply</p>
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="checkbox" name="radio-group">Beneficial owner (holding 25% or more of shares)
                        </label>
                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="checkbox" name="radio-group">Director
                        </label>
                        <label class="block-label" for="radio-3">
                            <input id="radio-3" type="checkbox" name="radio-group">External accountant
                        </label>
                        <label class="block-label" for="radio-4">
                            <input id="radio-4" type="checkbox" name="radio-group">Internal accountant
                        </label>
                        <label class="block-label" for="radio-5">
                            <input id="radio-5" type="checkbox" name="radio-group">Nominated officer
                        </label>
                        <label class="block-label" for="radio-6">
                            <input id="radio-6" type="checkbox" name="radio-group">Partner
                        </label>
                        <label class="block-label" for="radio-7">
                            <input id="radio-7" type="checkbox" name="radio-group">Sole proprietor
                        </label>
                        {{! <label class="block-label" for="radio-8" data-target="other" >
                            <input id="radio-8" type="checkbox" name="radio-group">Other
                        </label>

                        <div class="panel panel-indent js-hidden" id="other">
                            <label class="form-label" for="specify">Please specify</label>
                            <input class="form-control" name="specify" type="text" id="sort-code">
                        </div> }}
                    </div>
                </fieldset>

                {{! <fieldset>
                <div class="form-group">
                            <div class="form-date">
                                <label class="form-label-bold">When did you start this position?</label>
                                <p class="form-hint">For example, 31 3 2010</p>

                                <div class="form-group form-group-day">
                                    <label for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>

                                <div class="form-group form-group-month">
                                    <label for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>

                                <div class="form-group form-group-year">
                                    <label for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                </div>
                            </div>
                        </div>
                    </fieldset> }}


                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>




        </div>
    </div>

{{/main}}
{{/layout}}