{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="#" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Business details
	   		</span>
	   		AMLS history
	   	</h1>
          

		<form class="form">
        
            <div class="form-group">
                <label class="form-label">Has the business previously been regsitered with HMRC for MLR supervision? </label>
                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-2-1">
                          <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">
                          Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                          <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">
                          No
                        </label>
                    
                        <div class="clearfix js-hidden"></div>
                <h3 class="heading-small js-hidden">If you have previously registered:</h3>
                <div id="uk-yes" class="panel-indent inline-indent">
                    <label class="form-label" for="first-name-2">Previous AMLS registration number
                    <span class="form-hint">You will find it on correspondance from us.</span>
                    </label>
                    <input class="form-control" id="first-name-2" type="text">
                </div>
                        </fieldset>
            </div>


			<div class="form-group">
	   			<a class="button" href="business-details-3" id="next">Save and continue</a>
   			</div>


	   	</form>



	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>

{{/content}}

{{/layout-amls}}
