{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                What's this person's position within the business?
            </h1>


                <div class="notice">
                    <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                    <p>The business must have a nominated officer. Only one person can register as the nominated officer.</p>
                </div>


            <form class="form" method="post">

                {{! <input type="hidden" name="next-page" value="vat"> }}

                <fieldset>
                    <div class="form-group">
                        <legend class="visuallyhidden">What's your position within the business?</legend>
                        <p>Select all that apply</p>
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="checkbox" name="next-page" value="experience-training" >Beneficial owner (holding more than 25% of shares)
                        </label>
                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="checkbox" name="next-page" value="experience-training" >Director
                        </label>
                        <label class="block-label" for="radio-4">
                            <input id="radio-4" type="checkbox" name="next-page" value="experience-training" >Internal accountant
                        </label>
                        <label class="block-label" for="radio-5">
                            <input id="radio-5" type="checkbox" name="next-page" value="experience-training" >Nominated officer
                        </label>
                        <label class="block-label" for="radio-6">
                            <input id="radio-6" type="checkbox" name="next-page" value="vat" >Partner
                        </label>
                        <label class="block-label" for="radio-7">
                            <input id="radio-7" type="checkbox" name="next-page" value="vat" >Sole proprietor
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}