{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			{{>includes/back}}
<h1 class="heading-xlarge">
		  		<span class="heading-secondary">Trust or Company Service Provider</span>
		  		Check your answers
			</h1>


			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%"> What kind of Trust or Company Service Provider are you?</th>
                        <td><a href="service-type">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Registered office, business address, and/or virtual office services provider</td>
                    </tr>
                    <tr>
                        <td colspan="2">Trust or company formation agent</td>
                    </tr>

                    <tr>
                        <td colspan="2">Do you sell only off-the-shelf companies? No</td>
                    </tr>
                    <tr>
                        <td colspan="2">Do you create complex corporate structures for clients, or are you planning to do so in the future? Yes</td>
                    </tr>
                </tbody>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Which services does your business provide?</th>
                        <td><a href="services">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Email handling</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mail forwarding</td>
                    </tr>
                    <tr>
                        <td colspan="2">Self-collect mailboxes</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>

            </table>







            <table class="spacelarge">
                <tbody>
                    <tr>
                        <th width="90%">Does your business use the services of another trust and company service provider?</th>
                        <td><a href="other-trust-provider">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2"> Money Laundering Regulation reference number: 9327 1752</td>
                    </tr>
                </tbody>
            </table>

			<form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>


            <p><a href="#">Print this page</a></p>

  		</div>
  	</div>


{{/main}}
{{/layout}}