{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                {{>includes/back}}
<h1 class="heading-xlarge">
                	<span class="heading-secondary">Trading premises</span>
                   	Your answers
				</h1>

                <div class="panel panel-border-wide spacelarge">
                    <p><a href="premises">Add a trading premise</a></p>
                </div>


                <table class="spacesummary">
                    <tbody>
                        <tr>
                            <td>B3285, Perranporth, Cornwall TR6 0BU</td>
                            <td class="numeric"><a href="trading-premise-details">Edit</a></td>
                            <td width="10%" class="numeric"><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                            <td>4 Roundhill Pl, Queensbury, Bradford, West Yorkshire BD13 1HJ</td>
                            <td class="numeric"><a href="trading-premise-details">Edit</a></td>
                            <td width="10%" class="numeric"><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                            <td>29 New Rd, Ilford, Greater London IG3 8AU</td>
                            <td class="numeric"><a href="trading-premise-details">Edit</a></td>
                            <td width="10%" class="numeric"><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                            <td>A487, Fishguard, Pembrokeshire SA65</td>
                            <td class="numeric"><a href="trading-premise-details">Edit</a></td>
                            <td width="10%" class="numeric"><a href="#">Delete</a></td>
                        </tr>
                    </tbody>
                </table>


				<a href="../registration-progress" class="button" type="submit">Confirm and continue</a>



			</div>
		</div>

{{/main}}
{{/layout}}
