{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                Who must register as a responsible person
            </h1>

       

            <ul class="list-bullet spacelarge">

                <li>anyone who directs the business &ndash; this includes sole proprietors, partners, directors and shadow directors</li>
                <li>anyone who owns or controls at least 25% the business</li>
                <li>the ‘nominated officer’ &ndash; the person who acts as the money laundering reporting officer</li>
            </ul>

           

            <p><a href="what-you-need" class="button ">Continue</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}