{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Your application status
        </h1>
    </div>
</div>

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p>Ubunchews Accountany Services
                <br>Benton Park Road
                <br>Newcastle
                <br>Tyne and Wear
                <br>AB1 2DE</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <ol class="list list-number status-list">
            <li class="status-list--pending status-list--start">Complete all sections <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Submit application <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Pay fee <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Under review <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Decision <span class="status-list--icon"></span></li>
            {{!
            <li class="status-list--upcoming">Rejected <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Withdrawn <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Timed out <span class="status-list--icon"></span></li> }}
        </ol>

        <a href="submit" class="link-back">temp status link</a>
    </div>
    <div class="column-two-thirds status-text">
        <h2 class="heading-medium">Complete the application form</h2>
        <p>You’ve started the application form but you haven’t finished it. You have XX days to complete all sections. After XX days the information you entered will be lost, and you’ll need to start again.</p>
        <div class="form-group">
            <a href="../registration-progress" class="button" type="submit">Complete all sections</a>
        </div>
    </div>
</div>

{{/main}}
{{/layout}}
