{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Your application status
        </h1>
    </div>
</div>

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p>Ubunchews Accountany Services
                <br>Benton Park Road
                <br>Newcastle
                <br>Tyne and Wear
                <br>AB1 2DE</p>
        </div>
    </div>
    {{>includes/confirmation-code}}
</div>

<div class="grid-row">
    <div class="column-one-third">
        <ol class="list list-number status-list">
            <li class="status-list--complete">Complete all sections <span class="status-list--icon"></span></li>
            <li class="status-list--complete">Submit application <span class="status-list--icon"></span></li>
            <li class="status-list--pending">Pay fee <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Under review <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Decision <span class="status-list--icon"></span></li>
            {{!
            <li class="status-list--upcoming">Withdrawn <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Timed out <span class="status-list--icon"></span></li> }}
        </ol>
    </div>
    <div class="column-two-thirds status-text">
        <h2 class="heading-medium">Pay the registration fee</h2>
        <p>You’ve submitted the application but you haven’t paid the registration fee. Your application form won’t be reviewed until the fee is paid.</p>
        <p>Your registration fee:
            <br /><span class="heading-xlarge">&pound;1,200</span></p>
        <div class="form-group">
            <a href="#" class="button" type="submit">Pay fee</a>
        </div>
    </div>
</div>

<hr />

<div class="grid-row">
    <div class="column-two-thirds">
        {{>includes/status-change}}
        <a href="review" class="link-back">temp status link</a>
    </div>
</div>

{{/main}}
{{/layout}}
