{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Your application status
        </h1>
    </div>
</div>

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p><span class="heading-small">Your business:</span><br />Ubunchews Accountany Services</span></p>
            <p class="heading-small">Confirmation code<br /><span class="font-small">CXAAM00000123456</span></p>
        </div>
    </div>

</div>
<div class="grid-row">
    <div class="column-one-third">
        <ol class="list list-number status-list">
            <li class="status-list--complete">Completed <span class="status-list--icon"></span></li>
            <li class="status-list--complete">Submitted <span class="status-list--icon"></span></li>
            <li class="status-list--complete">Fee paid<span class="status-list--icon"></span></li>
            <li class="status-list--complete">Under review <span class="status-list--icon"></span></li>
            <li class="status-list--pending status-list--end">Decision made<span class="status-list--icon"></span></li>
        </ol>
    </div>
    <div class="column-two-thirds status-text">
        <h2 class="heading-medium">Application rejected</h2>
        <p>Your application has been rejected, and your business is not registered with HM Revenue and Customs for anti-money laundering supervision. XXwhat happens now? What do we want them to do?XX</p>
        <div class="form-group">
            <a href="../pre-application/confirm-am.html" class="button" type="submit">Submit new application</a>
        </div>
    </div>
</div>

{{/main}}
{{/layout}}
