{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Your application status
        </h1>
    </div>
</div>

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p>Ubunchews Accountany Services
                <br>Benton Park Road
                <br>Newcastle
                <br>Tyne and Wear
                <br>AB1 2DE</p>
        </div>
    </div>
    {{>includes/confirmation-code}}
</div>

<div class="grid-row">
    <div class="column-one-third">
        <ol class="list list-number status-list">
            <li class="status-list--complete">Complete all sections <span class="status-list--icon"></span></li>
            <li class="status-list--complete">Submit application <span class="status-list--icon"></span></li>
            <li class="status-list--complete">Pay fee <span class="status-list--icon"></span></li>
            <li class="status-list--pending">Under review <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Decision <span class="status-list--icon"></span></li>
            {{!
            <li class="status-list--upcoming">Rejected <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Withdrawn <span class="status-list--icon"></span></li>
            <li class="status-list--upcoming">Timed out <span class="status-list--icon"></span></li> }}
        </ol>
    </div>
    <div class="column-two-thirds status-text">
        <h2 class="heading-medium">Under review</h2>
        <p>Your application is being reviewed by HM Revenue and Customs. This usually takes XX weeks, and you’ll receive the decision by XXemail?XX. If you haven’t received a response within XXtimescaleXX, XXwhat action if any do we want them to take?XX</p>
    </div>
</div>

<hr />

<div class="grid-row">
    <div class="column-two-thirds">
        {{>includes/status-change}}
        <a href="approved" class="link-back">temp status link</a>
    </div>
</div>

{{/main}}
{{/layout}}
