{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

		  	<h1 class="heading-xlarge">
		  		<span class="heading-secondary">Business matching</span>
		  		Confirming your details
		  	</h1>

		  	<p>You are registering the following business for anti-money laundering supervision:</p>


			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Business name</th>
                        <td><a href="business-details">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">ACME Limited</td>
                    </tr>

                </tbody>
            </table>
			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Registered address</th>
                        <td><a href="index"></a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Your organisation's
							<br>Registered address
							<br>Town
							<br>County
							<br>AB1 2DE
						</td>
                    </tr>

                </tbody>
            </table>



			<p><a href="#">Not the right business?</a></p>

			<div class="form-group">
				<a href="../business-activities/index" class="button" type="submit" id="save-and-continue">Save and continue to business activities</a>
			</div>

		  	<a href="javascript:history.go(-1)" class="link-back">Back</a>

	  	</div>
	</div>

{{/main}}
{{/layout}}