{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

		  	<h1 class="heading-xlarge">
		  		Confirming your details
		  	</h1>

		  	<p>You are registering the following business for anti-money laundering supervision:</p>

            <div class="panel">
                <p>ACME Limited
    			<br>Registered address
    			<br>Town
    			<br>County
    			<br>AB1 2DE</p>
            </div>


			<p><a href="#">Not the right business?</a></p>

			<div class="form-group">
				<a href="../business-activities/index" class="button" type="submit" id="save-and-continue">Start registration process</a>
			</div>

		  	<a href="javascript:history.go(-1)" class="link-back">Back</a>

	  	</div>
	</div>

{{/main}}
{{/layout}}