{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Does your business carry out any other activities? 
            </h1>
       

            <form class="form" method="post">
                <fieldset class="inline">
                    <legend class="visuallyhidden">Are the activities the business is registering for, the only activities carried out by the business?</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes">
                            <input id="yes" type="radio" name="next-page" value="turnover">Yes
                        </label>
                        <label class="block-label" data-target="no-activity">
                            <input id="no" type="radio" name="next-page" value="business-turnover">No
                        </label>


                        <div class="panel js-hidden" id="no-activity">
                            <div class="form-group">
                                <label class="form-label">What other activities are carried out by the business?</label>
                                <textarea class="form-control" name=""></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>


        </div>
    </div>

{{/main}}
{{/layout}}