{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Business details
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="employment">

                <fieldset class="inline">
                    <legend class="form-label-bold">Is this business a franchise?</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="franchise">
                            <input id="yes" type="radio" name="franchise-group" value="yes">Yes
                        </label>
                        <label class="block-label" >
                            <input id="no" type="radio" name="franchise-group" value="no">No
                        </label>

                        <div class="panel js-hidden" id="franchise">
                            <label class="form-label" for="mlr">What is your franchisor's name</label>
                            <input class="form-control" name="mlr" type="text" id="mlr">
                        </div>
                    </div>

                </fieldset>

                <fieldset class="inline">
                    <legend class="form-label-bold">People in the business</legend>
                    <div class="form-group">
                        <label for="yes" class="form-label">How many people are employed in this business?</label>
                        <input id="yes" class="form-control form-control-1-4" type="number" >
                    </div>
                    <div class="form-group">
                        <label for="yes" class="form-label">How many people in the business are/will be directly involved in the MLR activities?</label>
                        <input id="yes" class="form-control form-control-1-4" type="number" >
                    </div>

                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
        </div>
    </div>

{{/main}}
{{/layout}}