{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Do you keep detailed and auditable records of all of your transactions?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="procedures">


                <fieldset>

                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="visuallyhidden">Do you keep detailed and auditable records of all of your transactions?</legend>
                            <label class="block-label" for="radio-inline-5" data-target="records">
                                <input id="radio-inline-5" type="radio" name="radio-inline-group3" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-6" >
                                <input id="radio-inline-6" type="radio" name="radio-inline-group3" value="No">No
                            </label>
                        </fieldset>


                        <div class="panel panel-indent js-hidden" id="records">
                            <div class="form-group">
                                <fieldset>
                                    <legend class="form-label-bold">How do you record your transactions?</legend>
                                    <span class="form-hint">Select all that apply</span>

                                    <label class="block-label" for="radio-1" >
                                        <input id="radio-1" type="checkbox" name="radio-group" value="Northern Ireland">Manual
                                    </label>
                                    <label class="block-label" for="radio-2" >
                                        <input id="radio-2" type="checkbox" name="radio-group" value="Isle of Man or the Channel Islands">Spreadsheet
                                    </label>
                                    <label class="block-label" for="radio-3" data-target="comm">
                                        <input id="radio-3" type="checkbox" name="radio-group" value="I am a British citizen living abroad">Commercial package
                                    </label>
                                    <div class="js-hidden" id="comm">
                                        <div class="form-group">
                                            <label class="form-label" for="national-insurance">Specify package name</label>
                                            <input class="form-control" name="national-insurance" type="text" id="national-insurance">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
        </div>
    </div>

{{/main}}
{{/layout}}