{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Check your answers
            </h1>

            <p>Please check all the information you have provided below.</p>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Kind of business</th>
                        <td><a href="penalised">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Accountancy service provider</td>
                    </tr>
                    <tr>
                        <td colspan="2">Money service business</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Are the activities the business is registering for, the only activities carried out by the business</th>
                        <td><a href="penalised">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Anticipated total business turnover for the next 12 months</th>
                        <td><a href="penalised">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;2 - &pound;10</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Anticipated MLR activity turnover for the next 12 months</th>
                        <td><a href="professional-body">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;250k - &pound;1m</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Business details</th>
                        <td><a href="services">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Franchise</td>
                    </tr>
                    <tr>
                        <td colspan="2">64 people in the business</td>
                    </tr>
                    <tr>
                        <td colspan="2">6 directly involved in MLR activities</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you anticipate having customers not resident in the UK</th>
                        <td><a href="index">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">France<br />Germany<br />Norway<br />Sweden</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you keep detailed and auditable records of all of your transactions</th>
                        <td><a href="index">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">Spreadsheet</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Suspicious activity, policies and procedures</th>
                        <td><a href="index">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes - written guidance on how to identify and report suspicious activity</td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes - registered with the National Crime Agency</td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes - formal Risk Assessment and Policies/Procedures</td>
                    </tr>
                </tbody>
            </table>


            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Save and complete section">
                </div>
            </form>

            <a href="javascript:history.go(-1)" class="link-back">Back</a>

        </div>
    </div>

{{/main}}
{{/layout}}