{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
             How much turnover do you expect in the next 12 months, from activities which you are registering for anti-money laundering supervision?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="franchise">

                <fieldset>
                    <div class="form-group">
                        <legend class="visuallyhidden">What is the anticipated MLR activity turnover for the next 12 months:</legend>
                                    <label class="block-label" for="radio-1">
                            <input id="radio-1" type="radio" name="radio-group">&pound;0 - &pound;15,000
                        </label>
                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="radio" name="radio-group">&pound;15,001 - &pound;50,000
                        </label>
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="radio" name="radio-group">&pound;50,001 - &pound;100,000
                        </label>
                        <label class="block-label" for="radio-4">
                            <input id="radio-4" type="radio" name="radio-group">&pound;100,001 - &pound;250,000
                        </label>
                        <label class="block-label" for="radio-3">
                            <input id="radio-3" type="radio" name="radio-group">&pound;250,001 - &pound;1,000,000
                        </label>
                        <label class="block-label" for="radio-5">
                            <input id="radio-5" type="radio" name="radio-group">&pound;1,000,001 - &pound;10,000,000
                        </label>
                        <label class="block-label" for="radio-6">
                            <input id="radio-6" type="radio" name="radio-group">&pound;10,000,001+
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>


        </div>
    </div>

{{/main}}
{{/layout}}