.DS_Store
/node_modules/
/public/
/global/public/
/global/admin/public/
/global/template/
/views/
session.json
npm-debug.log
.idea/
session.json
app/**/public/stylesheets/application.css
/app/sprint22/public/stylesheets/application-phil.css
