{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                People you have registered
            </h1>

<div class="panel panel-border-wide spacelarge">
                    <p><a href="your-name">Add a responsible person</a></p>
                </div>

            <table>
                <tbody>
                    <tr>
                        <th width="40%">John Doe</th>



                        <td class="numeric"><a href="responsible-person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>

                        <th width="40%">Doe John</th>
                        <td class="numeric"><a href="responsible-person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>

                        <th width="40%">Someone Else</th>


                        <td class="numeric"><a href="responsible-person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>



                                    <div class="form-group">
                <a href="../registration-progress" class="button" type="submit">Confirm and continue</a>
            </div>

              <p><a href="#">Print this page</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}
