{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                Check your answers
            </h1>

            <div class="panel panel-border-wide spacelarge">
                <p>Please check all the information you have provided.</p>
                <p><a href="your-name">Add another responsible person</a></p>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th width="90%">John Doe</th>
                        <td><a href="your-name">Edit</a></td>
                    </tr>

                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <th width="90%">Doe John</th>
                        <td><a href="your-name">Edit</a></td>
                    </tr>

                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>
                        <th width="90%">Someone Else</th>
                        <td><a href="your-name">Edit</a></td>
                    </tr>

                </tbody>
            </table>





            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
