{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Trust and company service provider information</span>
				What kind of trust and company service business are you?
	  		</h1>

	  		<p>Select all that apply</p>

			<form class="form" method="post">

				<input type="hidden" name="next-page" value="services">
				<fieldset>
					<legend class="visuallyhidden">What kind of Trust and Company Service business are you?</legend>

					<div class="form-group">
						<label class="block-label" >
							<input id="asp" type="checkbox" name="service" value="asp">Nominee shareholders provider
						</label>
						<label class="block-label" >
					  		<input id="ct" type="checkbox" name="service" value="bpsp">Trustee provider
						</label>
						<label class="block-label">
					  		<input id="paye" type="checkbox" name="service" value="eab">Registered office, business address, and/or virtual office services provider
						</label>
						<label class="block-label">
							<input id="sa" type="checkbox" name="service" value="hvd">Company director, secretary, and/or partner provider
						</label>
						<label class="block-label" data-target="trust">
							<input id="tc" type="checkbox" name="service"  value="msb">Trust or company formation agent
						</label>
					</div>

		  			<div class="panel panel-border-narrow js-hidden" id="trust">
					  	<div class="form-group">
                			<label class="form-label-bold">Do you sell only off-the-shelf companies?</label>
                    		<fieldset class="inline">
                        		<label class="block-label" for="radio-inline-2-1">
                          			<input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">Yes
                        		</label>
                        		<label class="block-label" for="radio-inline-2-2">
                          			<input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">No
                        		</label>
							</fieldset>
						</div>

						<div class="form-group">
                			<label class="form-label-bold">Do you create complex corporate structures for clients, or are you planning to do so in the future?</label>
                    		<fieldset class="inline">
                        		<label class="block-label" for="radio-inline-32-1">
                          			<input id="radio-inline-32-1" type="radio" name="radio-inline-group-32" value="Yes">Yes
                        		</label>
                        		<label class="block-label" for="radio-inline-32-2">
                          			<input id="radio-inline-32-2" type="radio" name="radio-inline-group-32" value="No">No
                        		</label>
							</fieldset>
						</div>
            		</div>

				</fieldset>
				<div class="form-group">
		  			<input type="submit" class="button" value="Save and continue">
				</div>
			</form>

  		</div>
  	</div>

{{/main}}
{{/layout}}
