{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                {{>includes/back}}
<h1 class="heading-xlarge">
                	<span class="heading-secondary">Trading premises</span>
                   	Detailed answers
				</h1>


                <table class="spacesummary">
                    <tbody>
                        <tr>
                            <th colspan="3">ACME Limited</th>

                        </tr>
                        <tr>
                            <td width="40%">Address:</td>
                            <td>This Street
                                <br />Town
                                <br />County
                                <br />AB1 2DE</td>
                            <td class="numeric"><a href="premises">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Trading start date:</td>
                            <td>31 March 2010</td>
                            <td class="numeric"><a href="premises">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Residential adress:</td>
                            <td>No</td>
                            <td class="numeric"><a href="premises">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Who uses these premises:</td>
                            <td>My Business</td>
                            <td class="numeric"><a href="premises">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Services at this address:</td>
                            <td>{{>includes/business-type}}</td>
                            <td class="numeric"><a href="activities">Edit</a></td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-group">
                <a href="your-answers" class="button" type="submit">Confirm and continue</a>

            </div>

              <p><a href="#">Print this page</a></p>



			</div>
		</div>

{{/main}}
{{/layout}}
