{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Money Service Business</span>
                Check your answers
            </h1>

                       {{! <div class="panel panel-border-wide spacelarge">
                <p>Please check all the information you have provided.</p>
            </div>
 }}

           {{!  <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Which services does your business provide?</th>
                        <td><a href="services">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Transmitting money</td>
                    </tr>
                    <tr>
                        <td colspan="2">Currency exchange</td>
                    </tr>


                </tbody>
            </table> }}


            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">How much throughput do you expect in the next 12 months?</th>
                        <td><a href="anticipated-totals">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;1m - &pound;20m</td>
                    </tr>

                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you have branches or agents in other countries? </th>
                        <td><a href="branches-or-agents">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">USA<br />India<br />Norway<br />Sweden</td>
                    </tr>
                </tbody>
            </table>



            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Can your systems identify linked transactions?</th>
                        <td><a href="transactions">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>

            {{! <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has your business applied for a Payment Systems Regulator (PSR) registration number?</th>
                        <td><a href="psr-registration">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">Registration number: 123456789</td>
                    </tr>
                </tbody>
            </table> }}

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business use an Intermediary Payment Service Provider (IPSP)?</th>
                        <td><a href="payment-service-provider">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">IPSP's name: Aaron Example</td>
                    </tr>
                    <tr>
                        <td colspan="2">IPSP's HM Revenue and Customs registration number: 12345678</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you transfer money without using formal banking systems?</th>
                        <td><a href="funds-transfer">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">How many transactions do you expect in the next 12 months?
</th>
                        <td><a href="transfers">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">2000</td>
                    </tr>
                </tbody>
            </table>

                        <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you send money to other countries?</th>
                        <td><a href="largest-amounts">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>

                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Where do you expect to send the largest amounts of money?</th>
                        <td><a href="most-transactions">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">France<br />Germany<br />Norway<br />Sweden</td>
                    </tr>
                </tbody>
            </table>

 <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Where do you expect to send the most transactions?</th>
                        <td><a href="most-transactions">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">France</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%"> Which currencies do you expect to supply the most to your customers?</th>
                        <td><a href="currency">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Euros<br />US Dollars</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Who will supply your foreign currency?</th>
                        <td><a href="currency">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Customers selling their foreign currency</td>
                    </tr>
                </tbody>
            </table>



            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>


            <p><a href="#">Print this page</a></p>

        </div>
    </div>


{{/main}}
{{/layout}}