{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Money Service Business</span>
                What you need
            </h1>
        </div>
    </div>
        <div class="grid-row">
        <div class="column-two-thirds">

            <p>For this section you'll need to know:</p>

            <ul class="list-bullet spacelarge">
                <li>a list of which services you provide</li>
                <li>how much throughput you expect in the next 12 months</li>
                <li>how many transactions you expect in the next 12 months</li>
                <li>if your systems can identify linked payments</li>
                <li>if you transfer money without using formal banking systems</li>
                <li>how many transactions you expect in the next 12 months</li>
                <li>which currencies you expect to be most popular with customers</li>
                <li>who will supply your foreign currency</li>
            </ul>

            <p>Depending on your circumstances, you may also need to know:</p>

            <ul class="list-bullet spacelarge">

                <li>which countries your branches or agents operate in</li>
                <li>your Intermediary Payment Service Provider's name</li>
                <li>your Intermediary Payment Service Provider's HM Revenue and Customs registration number</li>
                <li>where you expect to send the largest amounts of money</li>
                <li>where you expect to send the greatest number of money transfers</li>

             </ul>


            <div class="form-group">
                <a href="anticipated-totals" class="button ">Continue</a>
            </div>

        </div>

        <div class="column-one-third">
            {{>includes/save-message}}
        </div>
    </div>

{{/main}}
{{/layout}}