{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}


        <div class="grid-row">
	  <div class="column-two-thirds">



	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Trust and company service provider information
	   		</span>
	   		Has the business or anyone in the business been warned, fined, suspended or expelled by a professional body with regards to these activities?
	   	</h1>

      <form method="post">

        <input type="hidden" name="next-page" value="5">

      		<div class="form-group">

                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-2-1">
                          <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">
                          Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                          <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">
                          No
                        </label>

                        <div class="clearfix js-hidden"></div>
                <h3 class="heading-small js-hidden">If you have previously been supervised:</h3>
                <div id="uk-yes" class="panel-indent inline-indent">
					<div class="form-group">
						<label class="form-label" for="first-name-2">Please give brief details
						</label>
						<textarea></textarea>
					</div>



                        </fieldset>
                      </div>
                <div class="form-group">
                  <input type="submit" class="button" value="Save and continue">
                </div>
<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
          </form>


			</div>

             <div class="column-one-third">

                 {{>includes/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#other").hide();
      $("#other-ps").click(function(){
        $("#other").show();
      });
    });
  })(jQuery || window.jQuery);
</script>



{{/main}}
{{/layout}}
