{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Money service business</span>
                Check your answers
            </h1>

            <p>Please check all the information you have provided below.</p>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Anticipated total throughput for the next 12 months</th>
                        <td><a href="index">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;1m - &pound;20m</td>
                    </tr>

                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you have branches or agents in other countries</th>
                        <td><a href="index">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">France<br />Germany<br />Norway<br />Sweden</td>
                    </tr>
                </tbody>
            </table>



            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Needs title</th>
                        <td><a href="services">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes: Can your systems identify linked transactions?</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mail forwarding</td>
                    </tr>
                    <tr>
                        <td colspan="2">Self-collect mailboxes</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Intermediary Payment Service Provider (IPSP)</th>
                        <td><a href="professional-body">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Some name</td>
                    </tr>
                    <tr>
                        <td colspan="2">934 567 890</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Funds transfer</th>
                        <td><a href="penalised">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No: operate an informal funds transfer system</td>
                    </tr>

                    <tr>
                        <td colspan="2">840: Money Transfer transactions for the next 12 months?</td>
                    </tr>
                </tbody>
            </table>



            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Save and complete section">
                </div>
            </form>




        </div>
    </div>


{{/main}}
{{/layout}}