{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
              Does your business receive advice on Money Laundering Regulations and due diligence?</h1>


            <p>This only applies to guidance from a professional advisor who is not part of your business, such as an accountant.</p>


            </h1>

            <form class="form" method="post">
                <fieldset class="inline">
                    <legend class="visuallyhidden"> Does your business use an accountant for matters relating to money laundering regulations??</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes">
                            <input id="yes" type="radio" name="next-page" value="accountant-details">Yes
                        </label>
                        <label class="block-label" >
                            <input id="no" type="radio" name="next-page" value="check-your-answers">No
                        </label>
                    </div>

                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>


        </div>
    </div>

{{/main}}
{{/layout}}