{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header-not-matched}}

		   {{! <header class="page-header">
		  <span class="form-hint">AMLS Registration</span>
		</header> }}
		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">Your business details</h1>

				{{! <form action="/business-search/" method="POST"> }}
				<form method="post">
					<fieldset>
						
						<div class="form-group">
							<label class="form-label-bold" for="ni-number">
								What is your registered business name?
	    						<span class="form-hint">
                                    It must be identical to the name on the incorporation certificate</span>
	  						</label>
	  						<input class="form-control" id="reg_name" type="text" name="reg_name" value="">
  						</div>

						<div class="form-group">
	  						<label class="form-label-bold" for="ni-number">
								Corporation Tax Unique Tax Reference (UTR)
	    						<span class="form-hint">For example: UTR 23626 37849</span>
	    						{{! <a href="#">Where to find your UTR</a> }}
	  						</label>
	  						<input class="form-control" id="reg_name" type="text" name="reg_name" value="">
	  					</div>

						<div class="form-group">
							<a href="business-matching-3"  class="button" type="submit" id="save-and-continue">Search</a>
						</div>
					</fieldset>
				</form>

				<a href="javascript:history.go(-1)" class="link-back">Back</a>

			</div>
		</div>

{{/main}}
{{/layout}}