{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

		  	<h1 class="heading-xlarge">Your business details</h1>

		  	<p class="lede">You are about to apply for Anti Money Laundering Supervision using the following business details.</p>

			<table class="space">
				<thead>
			  		<tr>
						<th width="60%">Name</th>
						<th>Registered address</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr>
						<td>ACME Limited</td>
						<td>
							Your organisation's
							<br>Registered address
							<br>Town
							<br>County
							<br>AB1 2DE
						</td>
				  	</tr>
				</tbody>
			</table>

			<p><a href="#">Not the right business?</a></p>

			<div class="form-group">
		  		<a href="business-activities" class="button" type="submit">Continue</a>
			</div>


		  	<a href="javascript:history.go(-1)" class="link-back">Back</a>

	  	</div>
	</div>

{{/main}}
{{/layout}}