{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




    {{>includes{{/main}}
/service-header-not-matched}}

		   <header class="page-header">
		  <span class="form-hint">AMLS Registration</span>
		</header>		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-xlarge">Match business details</h1>
				<p>We will attempt to match your details against information we currently hold.</p>
				<form action="/business-search/" method="POST">
					<div class="form-group">
		        <h4 class="heading-small">Registered name</h4>
		        <p class="form-hint">Your company name exactly as on your incorporation certificate</p>
		        <input class="form-control" id="reg_name" type="text" name="reg_name" value="">
		      </div>

					<div class="form-group">
		        <h4 class="heading-small">Corporation Tax Unique Tax Reference (UTR)</h4>
		      	<a href="/no_utr/">Where to find your UTR</a>
		        <p class="form-hint">Example, UTR 23626 37849</p>
		        <input class="form-control" id="utr" type="text" name="utr" value="">
		      </div>


					<div class="form-group">
						<a href="business-matching-3"  class="button" type="submit" id="save-and-continue">Search</a>
					</div>
					<a id="return-to-summary" href="business-matching-1">Back</a>
				</form>
			</div>
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>

<script type="text/javascript">
    //when next button is clicked create a function
    $('#next').click(function() {
        //if radio button yes is checked go to home '/'
        if($('#yes-alias').is(':checked')){
            location.href = 'other-names'
        }
        // else if radio button no is checked go to /summary page
        else if ($('#no-alias').is(':checked')){
            location.href = 'business-details'
        }
        // else if nothing is ticket return false and od nothing
        else{
            return false;
        }
    });
</script>

{{/main}}
{{/layout}}