{{<layout}}
{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}


{{$main}}

		{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-large"><span class="heading-secondary"><!--Question 1.1--> Question 1</span>What activities are you applying for?</h1>

				<form class="form" method="post">
					<div class="form-group">
						<fieldset>
							<span class="form-hint">(Please select all that apply.)</span>

							<label class="block-label" for="asp">
								<input id="asp" type="checkbox" name="activities" value="2">Accountancy service provider
							</label>

							<label class="block-label" for="ct">
								<input id="ct" type="checkbox" name="activities" value="3">Bill payment service provider
							</label>

							<label class="block-label" for="paye">
								<input id="paye" type="checkbox" name="activities" value="4">Estate agent business
							</label>

							<label class="block-label" for="sa">
								<input id="sa" type="checkbox" name="activities" value="5">High value dealer
							</label>

							<label class="block-label" for="tc">
								<input id="tc" type="checkbox" name="activities" value="6">Money service business
							</label>

							<label class="block-label" for="vat">
								<input id="vat" type="checkbox" name="activities" value="7">Trust and company service provider
							</label>

							<label class="block-label" for="tdit">
								<input id="tdit" type="checkbox" name="activities" value="8">Telephone, digital &amp; IT payment service provider
							</label>
						</fieldset>
					</div>

					<div class="form-group">
						<input class="button" type="submit" name="submit" value="Save and continue"/>
					</div>
				</form>

			</div>

			<div class="column-one-third">
				{{>includes/action-links}}
				<div class="meta-data"></div>
			</div>

		</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
	(function($) {
		$(document).ready(function(){
			$("#amls-utr").hide();
			$("#ct-utr").hide();
			$("#paye-utr").hide();
			$("#sa-utr").hide();
			$("#tc-utr").hide();
			$("#vat-utr").hide();
			$("#amls").click(function(){
				$("#amls-utr").show();
			});
			$("#ct").click(function(){
				$("#ct-utr").show();
			});
			$("#paye").click(function(){
				$("#paye-utr").show();
			});
			$("#sa").click(function(){
				$("#sa-utr").show();
			});
			$("#tc").click(function(){
				$("#tc-utr").show();
			});
			$("#vat").click(function(){
				$("#vat-utr").show();
			});
		});
	})(jQuery || window.jQuery);
</script>

{{/main}}
{{/layout}}