{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                 Is this person a UK resident?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="contacting-you">

                <fieldset>

                    <div class="form-group">
                        <fieldset class="inline">

                            <label class="block-label" for="radio-inline-5" data-target="resident">
                                <input id="radio-inline-5" type="radio" name="radio-inline-group3" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-6" data-target="residentno">
                                <input id="radio-inline-6" type="radio" name="radio-inline-group3" value="No">No
                            </label>
                        </fieldset>

                        <div class="panel panel-indent js-hidden" id="resident">
                            <label class="form-label" for="national-insurance">National Insurance number</label>
                            <span class="form-hint">For example: QQ123456C</span>
                            <input class="form-control" name="national-insurance" type="text" id="national-insurance">
                        </div>

                        <div class="panel panel-indent js-hidden" id="residentno">
                            <div class="form-group">
                                <label class="form-label" for="national-insurance">Date of birth</label>
                                <div class="form-date">
                                    <p class="form-hint">For example, 31 3 1980</p>
                                    <div class="form-group form-group-day">
                                        <label for="dob-day">Day</label>
                                        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label for="dob-month">Month</label>
                                        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label for="dob-year">Year</label>
                                        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <legend class="form-label">What type of passport does this person have?</legend>

                                    <label class="block-label" for="radio-1" data-target="ukpassport">
                                        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">UK passport
                                    </label>
                                    <div class="panel panel-indent js-hidden" id="ukpassport">
                                        <label class="form-label" for="national-insurance">Passport number</label>
                                        <input class="form-control" name="national-insurance" type="text" id="national-insurance">
                                    </div>
                                    <label class="block-label" for="radio-2" data-target="passport">
                                        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">Non-UK passport
                                    </label>
                                    <div class="panel panel-indent js-hidden" id="passport">
                                        <label class="form-label" for="national-insurance">Passport number</label>
                                        <input class="form-control" name="national-insurance" type="text" id="national-insurance">
                                    </div>
                                    <label class="block-label" for="radio-3">
                                        <input id="radio-3" type="radio" name="radio-group" value="I am a British citizen living abroad">This person doesn't have a passport
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="last-name">Country of birth</label>
                        <input type="text" id="last-name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="last-name">Country of nationality</label>
                        <input type="text" id="last-name" class="form-control">
                    </div>


                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}