{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
               Guidance
            </h1>

            <p class="lede">In order to register for anti-money laundering supervision, HMRC must be satisfied that suitable people are running the business.</p>

                        {{! <div class="panel panel-border-wide">
            <p>The Responsible People section usually takes X minutes to complete.</p>
            </div> }}


            <p>Who needs to complete this section:</p>

            <ul class="list-bullet">
                <li>anyone who directs the business - this includes sole proprietors, partners, directors and shadow directors</li>
                <li>‘beneficial owners’ - anyone who owns or controls at least 25% the business</li>
                <li>the ‘nominated officer’ - the person who acts as the money laundering reporting officer</li>
            </ul>


            <h2 class="heading-medium">What you may need</h2>
            <p>You need the following information for each person you are registering:</p>

            <ul class="list-bullet space">
                <li>current name, and any alternative or former names</li>
                <li>national insurance number, if relevant</li>
                <li>passport number, if relevant</li>
                <li>nationality and country of birth</li>
                <li>phone number and email address</li>
                <li>home address and previous addresses, if relevant</li>
                <li>position within the business and start date</li>
                <li>VAT number, if relevant</li>
                <li>Self Assessment number, if relevant</li>
                <li>details of any relevant experience</li>
                <li>details of any relevant training</li>
            </ul>


            <p><a href="your-name" class="button ">Continue</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}