{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Responsbile people</span>
                Check your answers
            </h1>

            <p>Please check all the information you have provided.</p>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">What specific high value dealer goods will you be selling?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Gold and Jewellery
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Antiques
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">How are these goods to be sold</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Auction
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Retail
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has the business already accepted any high value cash payments over the threshold?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            12 February 2015
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do your systems automatically identify linked cash payments which come to €15,000 or more</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            No
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you anticipate receiving high value cash payments over the threshold from customers you have not seen face to face?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            By courier
                        </td>
                    </tr>


                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">What percentage of your turnover do you anticipate will come from High Value Cash payments?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            41 - 60%
                        </td>
                    </tr>
                </tbody>
            </table>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Save and complete section">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
