{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
               Is your business currently registered for anti-money laundering supervision?
            </h1>

              <p>This only refers to registration with HMRC.</p>

            <form class="form" method="post">
                <fieldset class="inline">
                    <legend class="visuallyhidden">Is your business currently registered for anti-money laundering supervision?</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="exisiting">
                            <input id="yes" type="radio" name="next-page" value="vat">Yes
                        </label>
                        <label class="block-label">
                            <input id="no" type="radio" name="next-page" value="activities">No
                        </label>

                        <div class="panel js-hidden" id="exisiting">
                            <label class="form-label" for="mlr">Money Laundering Regulation registration number</label>
                            <span class="form-hint">For example: 12345678</span>
                            <input class="form-control" name="mlr" type="text" id="mlr">
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>


        </div>
    </div>

{{/main}}
{{/layout}}