{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Money service business</span>
               Which currencies do you expect to supply the most to your customers?
            </h1>
<span class="form-hint">List up to 3 currencies</span>
            <form class="form" method="post">
                <input type="hidden" name="next-page" value="check-your-answers">

                <div class="form-group">
                <fieldset>
                    <legend class="visuallyhidden">Which currencies do you expect to supply the most to your customers?</legend>


                    <div class="form-group">
                        <label for="country1" class="form-label"></label>

                        <input type="text" class="form-control" id="country1">
                    </div>
                    <div class="form-group">
                        <label for="country1" class="form-label"></label>
                        <input type="text" class="form-control" id="country1">
                    </div>
                    <div class="form-group">
                        <label for="country1" class="form-label"></label>
                        <input type="text" class="form-control" id="country1">
                    </div>

                </fieldset>
</div>

                <div class="form-group">
                <fieldset>
                    <legend class="form-label-bold">Who will supply your foreign currency?</legend>

                        <span class="form-hint">Select all that apply</span>
                        <label class="block-label" data-target="bank">
                            <input type="checkbox" name="services" value="bank">Banks
                        </label>

                        <div class="panel panel-indent js-hidden" id="bank">
                            <label class="form-label" for="specify">Which banks?</label>
                            <input class="form-control" id="first-name-2" type="text">
                        </div>

                        <label class="block-label" data-target="whole">
                            <input type="checkbox" name="services" value="whole">Currency wholesalers
                        </label>

                        <div class="panel panel-indent js-hidden" id="whole">
                            <label class="form-label" for="specify">Which currency wholesalers?</label>
                            <input class="form-control" id="first-name-2" type="text">
                        </div>

                        <label class="block-label">
                            <input type="checkbox" name="services" value="resale">Customers selling their foreign currency
                        </label>

                        {{! <label class="block-label">
                            <input type="checkbox" name="services" value="no">No physical foreign currency provided to customers
                        </label> }}

                </fieldset>

</div>




                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>



        </div>
    </div>

{{/main}}
{{/layout}}