{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}klnjn

{{$main}}

	{{>includes/service-header}}


		<div class="grid-row">
			<div class="column-two-thirds">

				{{>includes/back}}
                <h1 class="heading-xlarge">
					<span class="heading-secondary">Trading premises</span>
					What is your agent's Company Registration number (CRN)
				</h1>

                <form class="form" method="post">
					<input type="hidden" name="next-page" value="activities">

					<fieldset>
						<legend class="visuallyhidden">Agent's tax details</legend>

                        <div class="form-group">
                            <label class="visuallyhidden" for="middle-name">What is your agent's Company Registration number (CRN)</label>
                            <input type="text" id="middle-name" class="form-control">
                        </div>

						<div class="form-group">
							<input type="submit" class="button" value="Save and continue">
						</div>

					</fieldset>
				</form>


			</div>
		</div>

{{/main}}
{{/layout}}
