{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Trading premises</span>
               Which activities take place at these premises?
            </h1>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="premises-registered">
                <fieldset>
                    <legend class="visuallyhidden">What does your business do at these premises?</legend>

                    <p>Select all that apply</p>
                    <div class="form-group">
                        <label class="block-label" for="money">
                            <input id="money" type="checkbox" name="radio-group">Transmitting money
                        </label>
                        <label class="block-label" for="currency">
                            <input id="currency" type="checkbox" name="radio-group">Currency exchange
                        </label>
                        <label class="block-label" for="cash">
                            <input id="cash" type="checkbox" name="radio-group">Cheque cashing (all businesses except scrap metal dealers)
                        </label>
                        <label class="block-label" for="scrap">
                            <input id="scrap" type="checkbox" name="radio-group">Cheque cashing (scrap metal dealers)
                        </label>


                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
    	   	</form>



        </div>
    </div>


{{/main}}
{{/layout}}
