{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}klnjn

{{$main}}

	{{>includes/service-header}}


		<div class="grid-row">
			<div class="column-two-thirds">

				{{>includes/back}}
<h1 class="heading-xlarge">
					<span class="heading-secondary">Trading premises</span>
					What is your agent's business structure?
				</h1>



				<form class="form" method="post">
					{{! <input type="hidden" name="next-page" value="activities"> }}

					<fieldset>
						<legend class="visuallyhidden">What is your agent's business structure?</legend>
						<div class="form-group">
							<label class="block-label">
								<input type="radio" name="next-page" id="ub" value="crn-number">Limited company
							</label>
							<label class="block-label">
								<input type="radio" name="next-page" id="sole" value="dateofbirth">Sole proprietor
							</label>
							<label class="block-label">
								<input type="radio" name="next-page" id="cb" value="partners">Partnership
							</label>
							<label  class="block-label">
								<input type="radio" name="next-page" id="partner" value="crn-number">Limited partnership or limited liability partnership
							</label>

							<label class="block-label">
								<input type="radio" name="next-page" id="other" value="premises-registered">Unincorporated association or trust
							</label>
						</div>
					</fieldset>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>

				</form>

			</div>
		</div>

{{/main}}
{{/layout}}
