{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                People you have registered
            </h1>

           {{!  <table>
                <tbody>
                    <tr>
                        <th>John Doe</th>
                        <td class="numeric"></td>
                    </tr>

                </tbody>
            </table>

             <table class="spacelarge">
                <tbody>

                    <tr>
                        <td width="50%">Previous names:</td>
                        <td>No</td>
                        <td><a href="your-name">Edit</a></td>
                    </tr>
                    <tr>
                        <td>UK resident:</td>
                        <td>Yes</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Country of birth:</td>
                        <td>England</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Nationality:</td>
                        <td>English</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Phone number:</td>
                        <td>0123456789</td>
                        <td><a href="contacting-you">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>email@email.com</td>
                        <td><a href="contacting-you">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>44 This Street<br />Someplace<br />NE1 13S</td>
                        <td><a href="address">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Position:</td>
                        <td>Nominated officer</td>
                        <td><a href="position">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Registered for VAT:</td>
                        <td>Yes: 234 976548</td>
                        <td><a href="vat">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Registered for Self Assessment:</td>
                        <td>Yes: 234 976548</td>
                        <td><a href="self-assessment">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Previous Experience:</td>
                        <td>No</td>
                        <td><a href="experience-training">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Training in anti-money laundering:</td>
                        <td>No</td>
                        <td><a href="training">Edit</a></td>
                    </tr>
                </tbody>
            </table> }}
<table>
                <tbody>
                    <tr>


                        <th width="40%">Brian Coult</th>
                        <td class="numeric"><a href="person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>

                        <th width="40%">Milly Shaw</th>
                        <td class="numeric"><a href="person-details">View and edit</a></td>

                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>

                        <th width="40%">Michael Wolfendale</th>
                        <td class="numeric"><a href="person-details">View and edit</a></td>

                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>


            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
