{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}


        <div class="grid-row">
            <div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                    <span class="heading-secondary">About you</span>
                    Check your answers
                </h1>

                <table class="space">
                    <tbody>
                        <tr>
                            <th width="90%">Your role in the business</th>
                            <td><a href="index">Edit</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Internal accountant</td>
                        </tr>
                    </tbody>
                </table>
                <table class="space">
                    <tbody>
                        <tr>
                            <th width="90%">Your details</th>
                            <td><a href="your-details">Edit</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Vincent Gough</td>
                        </tr>
                    </tbody>
                </table>

                <form method="post" action="summary">
                    <div class="form-group">
                        <input type="submit" class="button" value="Accept and complete section">
                    </div>
                </form>



            </div>
        </div>

{{/main}}
{{/layout}}