/*** SIGN OUT ***/

a.sign-out:link, a.sign-out:visited {
    float: right;
    color: #FFF;
    font-weight: bold;
    margin-top: 4px;
}

/**** SERVICE-HEADER ****/

.clearfix {
    clear: both;
}

.inline-indent {
    margin-bottom: 0px;
}


.service-header {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #bfc1c3;
}

.logo { }
.login-name { text-align: right; font-size:16px; margin:0; float:right; }

.organisation-logo, .organisation-logo-stacked {
  font-family: Helvetica,Arial;
  font-weight: 400;
  position: relative;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  padding: 0px 0 0px 30px;
  background-image: url(../images/crests/hmrc_crest_18px.png);
  background-position: 5px center;
  background-size: auto 20px;
  background-repeat: no-repeat;
  border-left: 2px solid #009390;
}

@media (min-width: 641px) {

    .service-header .logo {
      display:inline;
      width: 33.33%;
      margin-bottom: .52632em;
    }

    .organisation-logo-medium {
      font-size: 18px;
      line-height: 22px;
      padding: 0px 0 0px 33px;
      background-image: url(../images/crests/hmrc_crest_18px.png);
      background-position: 6px center;
      background-size: auto 20px;
      border-left: 2px solid #009390;
    } 

}

.block {
    display:block;
}

.percentage-box { width:20%; }

.address-fields input { display:block; margin-bottom: 10px; }
#postcode { width:15%; }

/// AUTO COMPLETE

    .ui-autocomplete {
      padding: 0;
	  width:300px; 
      list-style: none;
      background-color: #fff;
      border: 1px solid #B0BECA;
      max-height: 250px;
      overflow-x: hidden;
    }
    .ui-autocomplete .ui-menu-item {
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
    }
    .ui-autocomplete .ui-menu-item:first-child {
      border-top: none;
    }
    .ui-autocomplete .ui-menu-item.ui-state-focus {
      background-color: #D5E5F4;
      color: #161A1C;
    }

	#country-selector {
		width:30%;
		-webkit-appearance: textfield;
		padding: 1px;
  	background-color: white;
  	border: 2px inset;
	}

textarea {
	width:60%;
}
