{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Trading premises</span>
                What you need
            </h1>

        </div>
    </div>
        <div class="grid-row">
        <div class="column-two-thirds">

            
            <p>For each of your trading premises, you'll need to know:</p>
            <ul class="list-bullet space">
                <li>the trading name and address</li>
                <li>whose premises they are</li>
                <li>the date you'll start trading from these premises</li>
                <li>if it's a residential address</li>
            </ul>
            
            <div class="panel panel-border-wide spacelarge">
               If you use agents, we also need to know where your agents trade from. An agent is an individual or business that works on behalf of your business, to offer your services. An employee is not an agent.
            </div>
            
            <p>You'll need the following information for each agent:</p>
             <ul class="list-bullet space">
                <li>your agent's registered business name</li>
                {{! <li>the type of tax your agent pays</li> }}
                <li>your agent's business structure</li>
             </ul>
            <div class="form-group">
                <a href="premises" class="button ">Continue</a>
            </div>


        </div>

        <div class="column-one-third">
            {{>includes/save-message}}
        </div>
    </div>

{{/main}}
{{/layout}}