
{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}

    <div class="grid-row">
      <div class="column-two-thirds">


        <h1 class="heading-large">
          <span class="heading-secondary">
            Accountancy service provider
          </span>
          Check your answers
        </h1>

        <p>Please check all the information you have provided below.</p>

      </div>

      <div class="column-one-third">
        {{>includes/action-links}}
      </div>
    </div>

    <table class="table-check-answers">

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Services</h2>
          </th>
          <th class="edit-link">
            <a href="asp-1">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            What ASP services will you be offering?
          </td>
          <td colspan="2" class="answer">
            Accountant
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>VAT</h2>
          </th>
          <th class="edit-link">
            <a href="asp-2">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            Is your business registered for VAT?
          </td>
          <td colspan="2" class="answer">
            Yes
          </td>
        </tr>
        <tr>
          <td class="question">
            <span>VAT Registration Number</span>
          </td>
          <td colspan="2" class="answer">
            12341234
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Previous Supervision</h2>
          </th>
          <th class="edit-link">
            <a href="asp-3">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            Has this business's activities previously been supervised under the MLRegs 2007 by another supervisor?
          </td>
          <td colspan="2" class="answer">
            Yes
          </td>
        </tr>

        <tr>
          <td class="question">
            Name of your last supervisor
          </td>
          <td colspan="2" class="answer">
            Supervision Agency
          </td>
        </tr>

        <tr>
          <td class="question">
            Start date of supervision
          </td>
          <td colspan="2" class="answer">
            31st March 2008
          </td>
        </tr>

        <tr>
          <td class="question">
            End date of supervision
          </td>
          <td colspan="2" class="answer">
            31st March 2010
          </td>
        </tr>

        <tr>
          <td class="question">
            Why did your supervision end with them?
          </td>
          <td colspan="2" class="answer">
            Lorem ipsum dolor sit amet
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Professional Body</h2>
          </th>
          <th class="edit-link">
            <a href="asp-4">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            Are you currently a member of a professional body?
          </td>
          <td colspan="2" class="answer">
            Yes
          </td>
        </tr>

        <tr>
          <td class="question">
            Which professional body?
          </td>
          <td colspan="2" class="answer">
            Association of Accounting Technicians
          </td>
        </tr>
      </tbody>
    </table>

    <form method="post">
      <div class="form-group">
        <input type="submit" class="button" value="Next section">
      </div>
    </form>

<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
  </main>
{{/main}}
{{/layout}}