{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			{{>includes/back}}
<h1 class="heading-xlarge">
				<span class="heading-secondary">Trust or Company Service Provider</span>
				Which services does your business provide?
			</h1>

			<p>Select all that apply</p>
			<form class="form" method="post">
				<input type="hidden" name="next-page" value="other-trust-provider">
				<fieldset>
					<legend class="visuallyhidden">Which services does your business provide?</legend>

					<div class="form-group">

						<label class="block-label" >
							<input id="asp" type="checkbox" name="activities" value="asp">Phonecall handling
						</label>
						<label class="block-label" >
							<input id="ct" type="checkbox" name="activities" value="bpsp">Email handling
						</label>
						<label class="block-label">
							<input id="paye" type="checkbox" name="activities" value="eab">Email server
						</label>
						<label class="block-label">
							<input id="sa" type="checkbox" name="activities" value="hvd">Self-collect mailboxes
						</label>
						<label class="block-label" >
							<input id="tc" type="checkbox" name="activities" value="msb">Mail forwarding
						</label>
						<label class="block-label" >
							<input id="tc" type="checkbox" name="activities" value="msb">Receptionist
						</label>
						<label class="block-label" >
							<input id="tc" type="checkbox" name="activities" value="msb">Conference rooms
						</label>
						<label class="block-label" data-target="other">
							<input id="other-ps" type="checkbox" name="activities" value="other" >Other
						</label>
                        <div id="other" class="panel inline-indent js-hidden">
                            <label class="form-label" for="first-name-2">Please give details</label>
                            <input class="form-control" id="first-name-2" type="text">
                        </div>

					</div>
				</fieldset>

				<div class="form-group">
		  			<input type="submit" class="button" value="Save and continue">
				</div>
			</form>


	  	</div>
	</div>

{{/main}}
{{/layout}}