{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">Trust and company service provider information</span>
				What kind of Trust and Company Service business are you?
	  		</h1>

	  		<p>Select all that apply</p>

			<form class="form" method="post">
				<fieldset>
					<legend class="visuallyhidden">What kind of Trust and Company Service business are you?</legend>

					<div class="form-group">
						<label class="block-label" >
							<input id="asp" type="checkbox" name="next-page" value="asp">Nominee shareholders
						</label>
						<label class="block-label" >
					  		<input id="ct" type="checkbox" name="next-page" value="bpsp">Trustee provider
						</label>
						<label class="block-label">
					  		<input id="paye" type="checkbox" name="next-page" value="eab">Registered office/business address/virtual office services
						</label>
						<label class="block-label">
							<input id="sa" type="checkbox" name="next-page" value="hvd">Company director/secretary/partner provider
						</label>
						<label class="block-label" >
							<input id="tc" type="checkbox" name="next-page" value="msb">Trust or company formation agent
						</label>
					</div>
				</fieldset>
				<div class="form-group">
		  			<input type="submit" class="button" value="Save and continue">
				</div>
			</form>

  		</div>
  	</div>

<script type="text/javascript">

  $(function () {

	var $tc = $('#tc'),
	  $paye = $('#paye'),
	  $next = $('input[name="next-page"]');

	$next.val('2');

	$('input[type="checkbox"]').on('change', function () {
	  if ($tc.is(':checked') && $paye.is(':checked')) {
		$next.val('1a-2');
	  } else if ($paye.is(':checked')) {
		$next.val('1a');
	  } else if ($tc.is(':checked')) {
		$next.val('1b');
	  } else {
		$next.val('2');
	  }
	});
  });
</script>

{{/main}}
{{/layout}}
