{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}


        <div class="grid-row">
	  <div class="column-two-thirds">


	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Trust and company service provider information
	   		</span>
	   		Has this business's activities previously been supervised under the MLRegs 2007 by another supervisor?
	   	</h1>

	   	<form method="post">

        <input type="hidden" name="next-page" value="3">

					<div class="form-group">

                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-2-1">
                          <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">
                          Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                          <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">
                          No
                        </label>

                        <div class="clearfix js-hidden"></div>
				                <h3 class="heading-small js-hidden">If you have previously been supervised:</h3>
				                <div id="uk-yes" class="panel-indent inline-indent">
												<div class="form-group">
													<label class="form-label" for="first-name-2">Name of your last supervisor
													</label>
													<input type="text" id="first-name">
												</div>
												<div class="form-group">
												      <div class="form-date">
														  <label class="form-label" for="first-name-2">Start date of supervision
														  </label>
														  <p class="form-hint">For example, 31 3 2008</p>

														<div class="form-group form-group-day">
														  <label for="dob-day">Day</label>
														  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
														</div>

														<div class="form-group form-group-month">
														  <label for="dob-month">Month</label>
														  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
														</div>

														<div class="form-group form-group-year">
														  <label for="dob-year">Year</label>
														  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
														</div>
													  </div>
												</div>
												<div class="form-group">
												      <div class="form-date">
														  <label class="form-label" for="first-name-2">End date of supervision
														  </label>
														  <p class="form-hint">For example, 31 3 2010</p>

														<div class="form-group form-group-day">
														  <label for="dob-day">Day</label>
														  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
														</div>

														<div class="form-group form-group-month">
														  <label for="dob-month">Month</label>
														  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
														</div>

														<div class="form-group form-group-year">
														  <label for="dob-year">Year</label>
														  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
														</div>
													  </div>
												</div>
												<div class="form-group">
													<label class="form-label" for="first-name-2">Why did your supervision end with them?
													</label>
													<textarea></textarea>
												</div>
                      </fieldset>
                      </div>
                <div class="form-group">
	                <input type="submit" class="button" value="Save and continue">
                </div>
                <div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
                </form>

			</div>

             <div class="column-one-third">

                 {{>includes/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>



{{/main}}
{{/layout}}
