{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Anti-money laundering supervision registration</span>
                Your application status
            </h1>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide">
            <p>Ubunchews Accountany Services
            <br>Benton Park Road
            <br>Newcastle
            <br>Tyne and Wear
            <br>AB1 2DE</p>
        </div>
        </div>
        <div class="column-one-third declaration">
            <p class="heading-small">CXAAM00000123456</p>
            <p class="font-small">Quote this code if you need to contact HM Revenue and Customs about your registration.</p>
        </div>
    </div>



    <div class="grid-row">
        <div class="column-one-third spacelarge">
            {{>status/status-list}}
        </div>
        <div class="column-two-thirds status-text">
            {{>status/fee-paid}}
        </div>
    </div>

    <hr />

    <div class="grid-row">
        <div class="column-two-thirds">
           {{>includes/status-change}}
        </div>
        <div class="column-one-third">
            <h3 class="heading-small">Actions</h3>
            <ul class="list">
    <li><a href="#">Change your trading premises</a></li>
    <li><a href="#">Change your responsible people</a></li>
    <li><a href="#">Withdraw application</a></li>
</ul>
        </div>

    </div>

{{/main}}
{{/layout}}