{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}

		<div class="grid-row">


			<div class="column-two-thirds">



                <h1 class="heading-large">
                    <span class="heading-secondary">
                        AMLS
	   		          </span>
                   Declaration</h1>

              <p>Text of declaration.</p>

                  <div class="form-group">
   			<a href="#" class="button">Pay and submit application</a>
		</div>

                </div>

           <div class="column-one-third">
                 {{>includes/action-links}}
			</div>

            		</div>







	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/main}}
{{/layout}}
