{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <h1 class="heading-xlarge">Sign in with your Government Gateway account</h1>

                <p>You can <a href="#">register for a Government Gateway account</a> if you don't have one.</p>
                <form method="post">
                    <fieldset>
                        <legend class="visuallyhidden">Sign in with your Government Gateway account</legend>
                        <div class="form-group">
                            <label class="form-label" for="userId">User ID</label>
                            <input class="form-control" type="text" id="userId" name="userId" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required />
                        </div>
                        <div class="form-group">
                            <a href="business-activities/business-structure" class="button" type="submit">Sign in</a>
                        </div>
                    </fieldset>
                </form>

                <h2 class="heading-medium">Problems signing in</h2>
                <ul class="action-list">
                    <li><a href="https://online.hmrc.gov.uk/user/credentials/userid" target="_blank" data-sso="false">Lost user ID</a></li>
                    <li><a href="https://online.hmrc.gov.uk/user/credentials/password" target="_blank" data-sso="false">Lost password</a></li>
                    <li><a href="http://www.hmrc.gov.uk/contactus/online-services.htm" target="_blank" data-sso="false">Lost user ID and password (Self Assessment only)</a></li>
                    <li><a href="https://online.hmrc.gov.uk/information/faqs?affinitygroup=&amp;faqid=eng.faq.employers.faq.faqcom046" target="_blank" data-sso="false">Lost account activation code</a></li>
                </ul>

			</div>
		</div>

{{/main}}
{{/layout}}