{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">Sprint five prototype</h1>

				<h2 class="heading-medium">Gov.UK / Gov Gateway (updated)</h2>
				<ul class="list-bullet">
					<li><a href="start">Start page</a></li>
					<li><a href="gov-gateway">Gov Gateway</a></li>
				</ul>

				<h2 class="heading-medium">Business matching and activities (updated)</h2>
				<ul class="list-bullet">
					<li><a href="business-activities/business-structure">What is your business structure</a></li>
					<li><a href="business-activities/business-details">Your business details</a></li>
					<li><a href="business-activities/business-confirm">Business confirmation</a></li>
					<li><a href="business-activities/business-type">Business type</a></li>
				</ul>

				<h2 class="heading-medium">Application summary page (started update)</h2>
				<ul class="list-bullet">
					<li><a href="summary">Summary</a></li>
				</ul>

				<h2 class="heading-medium">About the business (updated)</h2>
				<ul class="list-bullet">
					<li><a href="business-details/index">Has this business been registered before?</a></li>
					<li><a href="business-details/vat">Is this business registered for VAT?</a></li>
					<li><a href="business-details/confirming-address">Confirming your address</a></li>
					<li><a href="business-details/contacting-you">Contacting you</a></li>
					<li><a href="business-details/address-for-letters">Address for letters relating to anti-money laundering supervision</a></li>
					<li><a href="business-details/summary">Summary</a></li>


					{{! <li><a href="business-details/summary">Check your answers</a></li> }}
				</ul>

				{{! <h2 class="heading-medium">Accountancy service provider section</h2>
				<ul class="list-bullet">
					<li><a href="asp/1.html">Services provided</a></li>
					<li><a href="asp/2">VAT Registration</a></li>
					<li><a href="asp/3">Previous Supervision</a></li>
					<li><a href="asp/4">Professional Body</a></li>
					<li><a href="asp/summary">Check your answers</a></li>
				</ul> }}

				<h2 class="heading-medium">Estate Agency Business</h2>
				<ul class="list-bullet">
					<li><a href="eab/1">Services provided</a></li>
					<li><a href="eab/2">Redress scheme</a></li>
					<li><a href="eab/2b">EAA warnings</a></li>
					<li><a href="eab/3">Professional Body warnings</a></li>
					<li><a href="eab/summary">Check your answers</a></li>
				</ul>

				{{! <h2 class="heading-medium">Trust and company service provider section</h2>
				<ul class="list-bullet">
					<li><a href="tcsp/1">Services provided</a></li>
					<li><a href="tcsp/1.html">Registered office/business address/virtual office services</a></li>
					<li><a href="tcsp/1b">Trust or company formation agents</a></li>
					<li><a href="tcsp/2">Previous supervision</a></li>
					<li><a href="tcsp/3">Professional body</a></li>
					<li><a href="tcsp/4">Warnings</a></li>
					<li><a href="tcsp/5">Other TCSP services used?</a></li>
					<li><a href="tcsp/summary">Check your answers</a></li>
				</ul> }}

				{{! <h2 class="heading-medium">High value dealers section</h2>
				<ul class="list-bullet">
					<li><a href="hvd/1">Business activities</a></li>
					<li><a href="hvd/2">Business activities 2</a></li>
					<li><a href="hvd/3">Your transactions</a></li>
					<li><a href="hvd/4">Your systems</a></li>
					<li><a href="hvd/5">Your turnover</a></li>
					<li><a href="hvd/6">Non face to face payments</a></li>
					<li><a href="hvd/6a">Non face to face payments 2</a></li>
					<li><a href="hvd/summary">Check your answers</a></li>
				</ul> }}

				<h2 class="heading-medium">Trading premises section</h2>
				<ul class="list-bullet">
					<li><a href="trading-premises/index">Add a premise</a></li>
					<li><a href="trading-premises/own-1">Address details (Own Premises)</a></li>
					<li><a href="trading-premises/own-2">Activities (Own Premises)</a></li>
					<li><a href="trading-premises/own-3">Start date (Own Premises)</a></li>
					<li><a href="trading-premises/summary-2">Summary - Own</a></li>
					<li><a href="trading-premises/own-1">Legal entity details (Agent's Premises)</a></li>
					<li><a href="trading-premises/own-2">Tax details (Agent's Premises)</a></li>
					<li><a href="trading-premises/agent-3">Address details (Agent's Premises)</a></li>
					<li><a href="trading-premises/agent-4">Activities (Agent's Premises)</a></li>
					<li><a href="trading-premises/agent-5">Start date (Agent's Premises)</a></li>
					<li><a href="trading-premises/summary-3">Summary - Own and agent</a></li>
				</ul>

				<h2 class="heading-medium">Bank details section (updated)</h2>
				<ul class="list-bullet">
					<li><a href="bank-details/index">Does your business use any bank accounts?</a></li>
					<li><a href="bank-details/account-details">Bank account details</a></li>
					<li><a href="bank-details/summary">Summary</a></li>
				</ul>

				<h2 class="heading-medium">About you section (updated)</h2>
				<ul class="list-bullet">
					<li><a href="about-you/index">Your name</a></li>
					<li><a href="about-you/your-role">Role in the business</a></li>
					<li><a href="about-you/summary">Summary</a></li>
				</ul>

				<h2 class="heading-medium">Payment</h2>
				<ul class="list-bullet">
					<li><a href="payment/1">Payment</a></li>
					<li><a href="payment/summary">Summary: Payment</a></li>
				</ul>

			</div>
		</div>

{{/main}}

{{/layout}}