{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">
                {{! <span class="heading-secondary">Service</span> }}
                Register for Anti-Money Laundering Supervision
            </h1>

            <p class="lede">Use this service to register with HMRC for Anti-Money Laundering Supervision.</p>
            <p>You can also <a href="#">continue with a previously saved application</a>.</p>

            <p><a href="gov-gateway" class="button button-get-started">Get started</a></p>

            <h2 class="heading-medium">Before you start</h2>
            <p>To complete this service you will need to provide us with:</p>
            <!--is it feasible to list everything here? If not, should all this section be removed?-->
            <ul class="list-bullet">
                <li>your details</li>
                <li>details of each address where you carry on <a href="#">business activities covered by the Money Laundering Regulations</a></li>
                <li>details of staff and agents</li>
            </ul>
            <p>Once you start the application, you have 28 days to complete it.</p>

		</div>

        <div class="column-third">

            <h3 class="heading-medium">Related</h3>
            <ul>
                <li><a href="#">Who needs to register with HMRC?</a></li>
                <li><a href="#">The fit and proper test</a></li>
            </ul>

        </div>
	</div>

{{/main}}
{{/layout}}