@import 'app';

// for anyone panicking about the nested media queries...
// https://www.npmjs.com/package/css-mqpacker
// https://www.npmjs.com/package/gulp-postcss

// image sprite
// usage: url(#{$sprite-path})
$sprite-path: '../images/icons/app-status.png';

@function get-path-to-assets($sprite-path) {
  @return $sprite-path;
};

// dimensions
$gutter: 20px; // this probably needs a better name

// just to make things look less broken in IE8…
// these are mostly due to lack of respect for media queries
.lte-ie8 {

  #content {
    margin: 0 auto;
  }

  .reg-step--submit {
    margin: 0 15px;
    padding-left: 0;
  }
}

.space {
  margin-bottom: $gutter;
}

.margin20 {
  margin-top: ($gutter * 2);
}

.reg-step--status-tick {
  margin-top: $gutter;
}

.spacelarge {
  margin-bottom: ($gutter * 2);
}

.spacesummary {
  margin-bottom: ($gutter * 2.5);
}

.link-back,
.nospace {
  margin-bottom: 0;
}

.form-label-bold {
  margin-bottom: .5em;
}

.form-label {
  margin-bottom: .3em;
}

.heading-large {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

// Registration Page Coding
// block-level link
a.reg-step {
  background: $grey-3;
  color: $text-colour;
  display: block;
  margin-bottom: 12px;
  padding: 0;
  position: relative;
  transition: all .25s ease-in;

  &:focus,
  &:hover,
  &.complete {

    .reg-link--to-go {
      color: $page-colour;
    }

    .progress-icon--pending {
      background-position: 36px 35px;

      @media screen and (min-width: 481px) {
        background-position: -227px -107px;
      }

      @media screen and (min-width: 769px) {
        background-position: -167px -108px;
      }
    }
  }

  &:focus,
  &:hover {
    background-color: $green;
  }

  &.complete {
    background-color: $turquoise;

    .reg-link {
      color: $link-colour;
    }

    &:hover .reg-link {
      color: $link-hover-colour;
    }
  }

  > .column-one-third,
  > .column-two-thirds {
    min-height: 8em;
    padding-bottom: 10px;

    @media screen and (min-width: 769px) {
      min-height: initial;
    }
  }

  > .column-one-third {
    float: left;
    width: 33.33333%;
  }

  > .column-two-thirds {
    float: left;
    width: 66.66667%;
  }
}

.reg-step--details {
  background: $grey-4;
  border-bottom: $grey-3 solid 3px;
  padding-bottom: 10px;

  p {
    margin: 0;
    padding-bottom: 10px;
  }
}

.reg-link--to-go {
  display: block;
  text-decoration: none;

  p {
    margin: 0;
    padding: 24px 0 0;
  }

  @media screen and (min-width: 481px) {

    .column-one-third {
      float: right;
      right: $gutter;
      text-align: right;
      width: 33.33333%;
    }

    .column-two-thirds {
      float: left;
      width: 66.66667%;
    }
  }
}

.reg-step--status {
  color: $secondary-text-colour;
  position: relative;
}

.reg-step--submit {
  padding-left: 30px;
  padding-right: 0;
}

// progress icon
.progress-icon {
  background-image: url(#{$sprite-path});
  position: absolute;

  &.progress-icon--complete {
    background-position: -10px -10px;
    height: 28px;
    left: 10px;
    top: 10px;
    width: 36px;
  }

  &.progress-icon--pending {
    background-position: -126px -63px;
    bottom: 10px;
    height: 28px;
    right: 10px;
    width: 20px;

    @media screen and (min-width: 481px) {
      background-position: -127px -107px;
      bottom: inherit;
      height: 42px;
      right: 10px;
      top: 45px;
      width: 26px;
    }

    @media screen and (min-width: 769px) {
      background-position: -67px -108px;
      height: 80px;
      right: 10px;
      top: 35px;
      width: 45px;
    }

    @media screen and (min-width: 1024px) {
      top: 25px;
    }
  }
}

.white {
  color: $page-colour;
}

.notice p {
  display: block;
  margin-left: -15px;
  padding-left: 65px;
}

// information icon override
.declaration {
  background: $grey-4;
  border-bottom: $grey-3 solid 3px;
  margin: 0 -15px;
  padding: $gutter;

  @media screen and (min-width: 641px) {
    margin: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.govuk-box-highlight {
  margin-top: ($gutter * 2);
  padding: $gutter;

  .heading-large {
    margin: 0;
  }
}

.statuslist {
    background: $grey-2;
    padding: 10px;
    color: $page-colour;
}
.statusdone {
    padding: 10px;
    color: $page-colour;
    background: $turquoise;
}
.statuspending {
    padding: 10px;
    // color: $grey-1;
    // background-color: $grey-4;

}


.grey45 {
    // background-color: $grey-4;
    // border-bottom: 3px solid $grey-3;
    padding: 0 20px;
}


.status-text {
  h2 {
    margin-top: 10px;
  }

}

hr { margin-bottom: 0;}
