{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
<h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
               Has this person already passed the HMRC Money Laundering Regulations Fit and Proper test?

            </h1>h
            <span class ="form-hint"></span>
            <form method="post">
                    <input type="hidden" name="next-page" value="responsible-person-registered">


                    <div class="form-group">
                        <legend class="visuallyhidden">Have you had any training in anti-money laundering or counter-terrorism funding?</legend>
                        <fieldset class="inline">
                            <label class="block-label" for="radio-inline-2-3" >
                                <input id="radio-inline-2-3" type="radio" name="radio-inline-group-2" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-2-4">
                                <input id="radio-inline-2-4" type="radio" name="radio-inline-group-2" value="No">No
                            </label>

                        </fieldset>
                    </div>



                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>
                </form>






        </div>
    </div>

{{/main}}
{{/layout}}