{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
		  		<span class="heading-secondary">Trust or Company Service Provider</span>
		  		Your answers
			</h1>

			            {{! <div class="panel panel-border-wide spacelarge">
                <p>Please check all the information you have provided.</p>
            </div> }}

			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Type of trust and company service business</th>
                        <td><a href="service-type">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Registered office, business address, and/or virtual office services provider</td>
                    </tr>
                    <tr>
                        <td colspan="2">Trust or company formation agent</td>

                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Trust or company formation details</th>
                        <td><a href="service-type">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No: Sell off-the-shelf companies</td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes: Do you create complex corporate structures for clients, or are you planning to do so in the future</td>
                    </tr>
                </tbody>
            </table>



            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Services offered</th>
                        <td><a href="services">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Email handling</td>
                    </tr>
                    <tr>
                        <td colspan="2">Mail forwarding</td>
                    </tr>
                    <tr>
                        <td colspan="2">Self-collect mailboxes</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Professional Body</th>
                        <td><a href="professional-body">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Association of Accounting Technicians</td>
                    </tr>
                    <tr>
                        <td colspan="2">Association of Taxation Technicians</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has the business, or anyone in the business, ever been penalised by a professional body?</th>
                        <td><a href="penalised">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No</td>
                    </tr>
                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>
                        <th width="90%">Does your business use the services of another trust and company service provider?</th>
                        <td><a href="other-trust-provider">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">MLR Reference: 9327 1752</td>
                    </tr>
                </tbody>
            </table>

			 <a href="../registration-progress" class="button" type="submit">Confirm and continue</a>





  		</div>
  	</div>


{{/main}}
{{/layout}}