{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Make a change to your application
        </h1>
    </div>
</div>

{{! <div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p><span class="heading-small">Your business:</span><br />Ubunchews Accountany Services</span></p>
            <p class="heading-small">Confirmation code<br /><span class="font-small">CXAAM00000123456</span></p>
        </div>
    </div>
</div>
 }}
    <div class="grid-row">
        <div class="column-two-thirds">
            <p>Your business is currently registered for anti-money laundering supervision with HM Revenue and Customs.</p>
            <p>De-register your business if you want to remove it from this supervision. Any fees you have paid for anti-money laundering supervision registration will not be refunded.</p>
            <p>If you de-register, the business must not carry out activities which are covered by Money Laundering Regulations.</p>
            <div class="form-group">
                <a href="de-registered" class="button" type="submit">Continue</a>
            </div>
        </div>
    </div>

{{/main}}
{{/layout}}
