{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row spacelarge">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Registration</span>
                Application status
            </h1>

            {{>includes/business-address}}

        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <section class="section--branded">
                <div class="grid-row">
                    <div class="column-third">
                        <ul class="nav-list four-buckets">
                            <li class="selected">
                                <div>
                                    <div class="bucket-text">
                                        <span class="bold-small">PAYE Income Tax</span>
                                        <span class="bold-medium">£2,284</span>
                                    </div>
                                    <div class="bucket-chevron">
                                        <span class="chevron right"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="taxable-income">
                                    <div>
                                        <div class="bucket-text">
                                            <span class="bold-small">Taxable income</span>
                                            <span class="bold-medium">£22,020</span>
                                        </div>
                                        <div class="bucket-chevron">
                                            <span class="chevron right"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tax-free-allowance">
                                    <div>
                                        <div class="bucket-text">
                                            <span class="bold-small">Tax-free allowance</span>
                                            <span class="bold-medium">£11,000</span>
                                        </div>
                                        <div class="bucket-chevron">
                                            <span class="chevron right"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tax-code">
                                    <div>
                                        <div class="bucket-text">
                                            <span class="bold-small">Tax code</span>
                                            <span class="bold-medium">1040L</span>
                                        </div>
                                        <div class="bucket-chevron">
                                            <span class="chevron right"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        </div><!-- end column-third -->
                        <div class="column-two-thirds">
                            <h3 class="heading-medium flush--ends">How this is collected</h3>
                        </div>
                    </section>





            {{! <h2 class="heading-medium">Status</h2>
            <ul class="list list-bullet">
                <li>Pending (Application pending)</li>
                <li>Pending (Application under consideration)
                <li>Withdrawn</li>
                <li>Rejected</li>

            </ul>

			<div class="panel panel-border-wide spacelarge">
				<p>Your registration fee:
				<br /><span class="heading-xlarge">&pound;1,200</span></p>
				<div class="form-group">
                    <a href="payment/index" class="button" type="submit">Pay fee</a>
				</div>
			</div> }}



            {{! <h2 class="heading-large">How to pay</h2>
            <p>You can pay the fee by Bacs or cheque.</p>

            <h3 class="heading-medium">Bacs</h3>
            <p>Use the following bank account details to pay the fee via bank transfer. Use your 8-digit Money Laundering Regulations number as the reference.</p>
            <div class="panel panel-border-wide spacelarge">
                <p><span class="heading-small">Account name</span><br />HMRC Money Services Receipts (HMRC MS RCTS)</p>
                <p><span class="heading-small">Sort code</span><br />20-50-46</p>
                <p><span class="heading-small">Account number</span><br />10365998</p>
            </div>

            <h3 class="heading-medium">Cheque</h3>
            <p>Make the cheque payable to ‘HM Revenue and Customs’ and write your 8-digit Money Laundering Regulations reference number on the back.</p>
            <p>Post the cheque to:</p>

            <div class="panel panel-border-wide spacelarge">
                <p>HM Revenue and Customs
                <br />Anti Money Laundering Supervision
                <br />7th Floor, Alexander House
                <br />21 Victoria Avenue
                <br />Southend on Sea
                <br />Essex
                <br />SS99 1AG</p>
            </div> }}
	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration margin20">
                <p><span class="heading-small">Confirmation code: XAAM00000123456</span></p>
                <p>Quote this code if you need to contact HM Revenue and Customs about your registration.</p>

                <h2 class="heading-medium">Make changes to your application</h2>
            <ul class="list list-bullet">
                <li><a href="#">trading premises</a></li>
                <li><a href="#">bank accounts</a></li>
                <li><a href="#">responsible people</a></li>
            </ul>
  			</div>
	  	</div>

  	</div>

{{/main}}
{{/layout}}