{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Registration</span>
                Application Status
            </h1>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <p>{{>includes/business-address}}</p>
            <p>Reference: XAAM00000123456</p>
            {{! <br /><span class="font-xsmall">Quote this code if you need to contact HM Revenue and Customs about your registration.</span></p> }}
        </div>
        <div class="column-one-third declaration">
            <h2 class="heading-small">Amend your application</h2>
                <ul class="list">
                <li><a href="#">Adjust trading premises</a></li>
                <li><a href="#">Change responsible people</a></li>
            </ul>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-one-third">
            <ul class="list">
                <li class="statusdone"><img src="public/images/icons/icon-tick-white-small.png"  alt="" /> Completed application</li>
                <li class="statusdone"><img src="public/images/icons/icon-tick-white-small.png"  alt="" /> Submitted application</li>
                <li class="statuspending">Pay registration fee</li>
                <li class="statuslist">Application status</li>
                <li class="statuslist">Renewal due</li>
            </ul>
        </div>

        <div class="column-two-thirds">
            <p>Make the cheque payable to ‘HM Revenue and Customs’ and write your 8-digit Money Laundering Regulations reference number on the back.</p>
            <p>Your registration fee:
            <br /><span class="heading-xlarge">&pound;1,200</span></p>
            <div class="form-group">
                <a href="payment/index" class="button" type="submit">Pay fee</a>
            </div>

            <hr />

            <h3 class="heading-medium">Cheque</h3>
            <p>Make the cheque payable to ‘HM Revenue and Customs’ and write your 8-digit Money Laundering Regulations reference number on the back.</p>
            <p>Post the cheque to:</p>

            <p>HM Revenue and Customs
            <br />Anti Money Laundering Supervision
            <br />7th Floor, Alexander House
            <br />21 Victoria Avenue
            <br />Southend on Sea
            <br />Essex
            <br />SS99 1AG</p>
        </div>

  	</div>

{{/main}}
{{/layout}}