{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}


    <div class="grid-row">
      <div class="column-two-thirds">



        <h1 class="heading-large">
          <span class="heading-secondary">
            Money service business
          </span>
         What services will you be offering?
        </h1>

        <form class="form" method="post">

          <input type="hidden" name="next-page" value="msb-2"/>

          <div class="form-group">
            <fieldset>

              <span class="form-hint">Select all that apply</span>

              <label class="block-label">
                <input type="checkbox" name="services" value="mt">
                Money transmitter
              </label>

              <label class="block-label">
                <input type="checkbox" name="services" value="ce">
                Currency exchange
              </label>

              <label class="block-label">
                <input type="checkbox" name="services" value="fe">
                Foreign exchange
              </label>

              <label class="block-label">
                <input type="checkbox" name="services" value="cc">
                Cheque casher (Nonscrap metal dealer)
              </label>

              <label class="block-label">
                <input type="checkbox" name="services" value="smdcc">
                Scrap metal dealer cheque casher
              </label>

            </fieldset>
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>
			<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
        </form>
      </div>
      <div class="column-one-third">
        {{>includes/action-links}}
        <div class="meta-data">
        </div>
      </div>
    </div>
  </main>

{{/main}}
{{/layout}}
