{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

			{{>includes/back}}
			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Check your answers
			</h1>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Is your business currently registered for anti-money laundering supervision?</th>
						<td><a href="registered">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">No</td>
					</tr>

				</tbody>
			</table>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%"> When will your business start activities which need to be registered for anti-money laundering supervision?</th>
						<td><a href="registered">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">22 06 2016</td>
					</tr>

				</tbody>
			</table>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Is your business registered for VAT in the UK?</th>
						<td><a href="vat">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">Yes</td>
					</tr>
					<tr>
						<td colspan="2">VAT registration number: 2468 1357 90</td>
					</tr>
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Is your business registered for Corporation Tax?</th>
						<td><a href="corporation-tax">Edit</a></td>
					</tr>

					<tr>
						<td colspan="2">No</td>
					</tr>
				</tbody>
			</table>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Registered office</th>
						<td><a href="confirming-address">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">{{>includes/business-address}}</td>
					</tr>
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Contact details</th>
						<td><a href="contacting-you">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">Phone number: 0191 234 5678</td>
					</tr>
					<tr>
						<td colspan="2">Email address: info@acme.com</td>
					</tr>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Postal address</th>
						<td><a href="contacting-you">Edit</a></td>
					</tr>

					<tr>
						<td colspan="2">{{>includes/business-address}}</td>
					</tr>

				</tbody>
			</table>



			<form method="post">
				<div class="form-group">
					<input type="submit" class="button" value="Accept and complete section">
				</div>
			</form>

			<p><a href="#">Print this page</a></p>
		</div>
	</div>

{{/main}}
{{/layout}}