<fieldset>
	<legend class="visuallyhidden">Is this a UK address</legend>
	<div class="form-group">
		<fieldset class="inline">
			<label class="block-label" for="radio-inline-2-1" >
				<input id="radio-inline-2-1" type="radio"  name="ukorover" value="false" checked="checked" >This is a UK address
			</label>
			<label class="block-label" for="radio-inline-2-2" >
				<input id="radio-inline-2-2" type="radio" name="ukorover" value="true">This is an overseas address
			</label>
		</fieldset>
	</div>
	<div class="form-group">
		<label for="company-address1" class="form-label">Address</label>
		<input type="text" class="form-control" id="company-address1">
	</div>
	<div class="form-group">
		<label for="company-address2" class="form-label"></label>
		<input type="text" class="form-control" id="company-address2">
	</div>
	<div class="form-group">
		<label for="company-address3" class="form-label"></label>
		<input type="text" class="form-control" id="company-address3">
	</div>
	<div class="form-group">
		<label for="company-address4" class="form-label"></label>
		<input type="text" class="form-control" id="company-address4">
	</div>
	<div id="count">
		<div id="zip" class="form-group">
			<label for="postcode-name" class="form-label">Postcode</label>
			<input type="text" class="form-control form-control-1-4" id="postcode-name" maxlength="8">
		</div>
	</div>
	<div id="over">
		<div class="form-group">
			<label for="company-address3" class="form-label">Country</label>
			<input type="text" class="form-control" id="company-address2">
		</div>
	</div>
</fieldset>