{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

		  	{{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Pre-registration</span>
		  		Is this your business?
		  	</h1>

		  	<p>You are registering the following business for anti-money laundering supervision:</p>

            <div class="panel panel-border-wide space">
                <p>Company name
    			<br>Registered address
    			<br>Town
    			<br>County
    			<br>AB1 2DE</p>
            </div>

			<p><a href="index" >Not the right business?</a></p>

			<div class="form-group">
                <a href="activities"  class="button" type="submit" id="save-and-continue">Confirm and continue</a>
            </div>

	  	</div>
	</div>

{{/main}}
{{/layout}}