{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}

    <div class="grid-row">
      <div class="column-two-thirds">


        <h1 class="heading-large">
          <span class="heading-secondary">
            Estate agency business
          </span>
          Summary
        </h1>

        <p>Please check all the information you have provided.</p>

      </div>

      <div class="column-one-third">
        {{>includes/action-links}}
      </div>
    </div>

    <table class="table-check-answers">

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Services</h2>
          </th>
          <th class="edit-link">
            <a href="../eab-1">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            What EAB services will you be offering?
          </td>
          <td colspan="2" class="answer">
            Residential Estate Agency
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Redress Scheme</h2>
          </th>
          <th class="edit-link">
            <a href="../eab-2a">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            Is this business registered with a redress scheme?
          </td>
          <td colspan="2" class="answer">
            Yes
          </td>
        </tr>
        <tr>
          <td class="question">
            <span>Which redress scheme?</span>
          </td>
          <td colspan="2" class="answer">
            The Property Ombudsman Limited
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Prohibited</h2>
          </th>
          <th class="edit-link">
            <a href="../eab-2b">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            Have you or anyone in the business been prohibited from engaging in estate agency activities or received a formal warning under the Estate Agency Act 1979
          </td>
          <td colspan="2" class="answer">
            Yes
          </td>
        </tr>
        <tr>
          <td class="question">
            Details
          </td>
          <td colspan="2" class="answer">
            I had a very good reason
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th class="section-name complete" colspan="2">
            <h2>Professional Body</h2>
          </th>
          <th class="edit-link">
            <a href="../eab-3">
              Edit
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="question">
            Has the business been warned, fined, suspended or expelled by a professional body with regards to estate agency?
          </td>
          <td colspan="2" class="answer">
            Yes
          </td>
        </tr>

        <tr>
          <td class="question">
            Details
          </td>
          <td colspan="2" class="answer">
            I had a very good reason
          </td>
        </tr>
      </tbody>
    </table>

    <form method="post">
      <div class="form-group">
        <input type="submit" class="button" value="Next section">
      </div>
    </form>

         <div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
  </main>

{{/main}}

{{/layout}}
