{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
    <div class="grid-row">
      <div class="column-three-quarters">

        <a href="eab-1" class="link-back">Back</a>

        <h1 class="heading-large">
          <span class="heading-secondary">
            Estate agent business
          </span>
          Have you or anyone in the business been prohibited from engaging in estate agency activities or recieved a formal warning under the Estate Agency Act 1979?
        </h1>

        <form method="post">

          <input type="hidden" name="next-page" value="3">

          <div class="form-group">
            <fieldset class="inline">

              <label class="block-label" for="radio-inline-2-1" data-target="#hidden">
                <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">
                Yes
              </label>

              <label class="block-label" for="radio-inline-2-2">
                <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">
                No
              </label>

              <div id="hidden" class="panel-indent inline-indent js-hidden">
                <label class="form-label" for="details">
                  Please provide details
                </label>
                <textarea name="details" id="details"></textarea>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <input class="button" type="submit" value="Save and continue">
          </div>

        </form>
			</div>
      <div class="column-quarter">
        {{>includes/amls/action-links}}
       	<div class="meta-data">
       	</div>
  		</div>
  	</div>
	</main>

{{/content}}
{{/layout-amls}}
