{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="#" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Trading premises
	   		</span>
	   		Agent's address details
	   	</h1>


		<form class="form" method="post">
			<input type="hidden" name="next-page" value="agent-4" />
      
            <div class="form-group">
		   		<label class="form-label" for="middle-name">Trading name</label>
		   		<input type="text" id="middle-name">
		   	</div>
			
		   	{{>includes/amls/address}}
			
			<div class="form-group">
			
				<label class="form-label">Is this a residential address?</label>
                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-2-1">
                          <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">
                          Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                          <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">
                          No
                        </label>
                    </fieldset>
			
			</div>

			<div class="form-group">
            <input type="submit" class="button" value="Save and continue">
          </div>

			<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>

	   	</form>


		  <table class="table-check-answers">
			 <thead>
		<tr>
			<th class="section-name complete" colspan="2">				
				<h2>Agent details
				</h2>
			</th>
			<th class="edit-link">
				<a href="agent-1" class="">
					Edit
				</a>
			</th>
		</tr>
	</thead>
			  <tbody>
				  <tr>
					<td class="question">
						What is your agent's legal entity name?
					</td>
					<td class="answer">
						Agent of ACME
					</td>
					<td class="edit-link">
					</td>
				</tr>
				   <tr>
					<td class="question">
						What is your agent's legal entity type?
					</td>
					<td class="answer">
						Limited liability partnership
					</td>
					<td class="edit-link">
					</td>
				</tr>
			  </tbody>
				  
				  
				  <thead>
		<tr>
			<th class="section-name complete" colspan="2">				
				<h2>Agent's tax details
				</h2>
			</th>
			<th class="edit-link">
				<a href="agent-2" class="">
					Edit
				</a>
			</th>
		</tr>
	</thead>
			  <tbody>
				  <tr>
					<td class="question">
						What type of tax does your agent pay?
					</td>
					<td class="answer">
						Corporation tax
					</td>
					<td class="edit-link">
					</td>
				</tr>
				   <tr>
					<td class="question">
						What is your agent's UTR?
					</td>
					<td class="answer">
						5345 2325 15
					</td>
					<td class="edit-link">
					</td>
				</tr>
			  </tbody>
				  
		  
		  </table>
		  

	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
