{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                
                <a href="#" class="link-back">Back</a>
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Trading premises
	   		          </span>
                   Premises used for MLR activities</h1>
			 <p>This includes your own premises and other business's premises, where you have a contractual agreement for them to act as your agent and offer your services.</p>
				
                
                </div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
                
            		</div>
                
                <h2 class="heading-medium">Your own premises</h2>
                
               <p><a href="own-1">Add one of your own premises</a></p>


		<h2 class="heading-medium">Other business's premises</h2>
                <p><a href="agent-1">Add another business's premises</a></p>
                <br>
    <div class="form-group">
		<form method="post">
				<input type="hidden" name="next-page" value="responsible-persons/1">
   			 <input class="button" type="submit" value="Next section" >
			</form>
		</div>


 <div class="form-group">
   			<a href="../summary" >Return to your application summary</a>
		</div>
        

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
