{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Do you have customers who live outside of the UK?
            </h1>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="records">

                <fieldset class="inline">
                    <legend class="visuallyhidden">Do you have customers who live outside of the UK?</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="franchise">
                            <input id="yes" type="radio" name="franchise-group" value="yes">Yes
                        </label>
                        <label class="block-label" >
                            <input id="no" type="radio" name="franchise-group" value="no">No
                        </label>

                        <div class="panel panel-indent js-hidden" id="franchise">
                        <label class="form-label-bold" for="specify">Where do your most high-value customers live?</label>
                            <span class="form-hint">'High value customers' are those who bring in the most revenue to your business</span>
                            <p>List up to 10 countries</p>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>
                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>

                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}