{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                What you need
            </h1>

            <p>For this section you'll need:</p>
            <ul class="list-bullet spacelarge">
                <li>anticipated turnover for the next 12 months</li>
                <li>franchisor's name, if relevant</li>
                <li>number of employees</li>
                <li>list of countries where your most high-value customers live</li>
                <li>how you record transactions, if relevant</li>
            </ul>
            <div class="form-group">
                <a href="confirm-activities" class="button ">Continue</a>
            </div>


        </div>
    </div>

{{/main}}
{{/layout}}