{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Check your answers
            </h1>

            <p>Please check all the information you have provided below.</p>


            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business carry out any other activities</th>
                        <td><a href="confirm-activities">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Anticipated total business turnover for the next 12 months</th>
                        <td><a href="business-turnover">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;2 - &pound;10</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Anticipated MLR activity turnover for the next 12 months</th>
                        <td><a href="turnover">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;250k - &pound;1m</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Is your business a franchise?</th>
                        <td><a href="franchise">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No</td>
                    </tr>

                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Employees</th>
                        <td><a href="employees">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">64 people in the business</td>
                    </tr>
                    <tr>
                        <td colspan="2">6 directly involved in MLR activities</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you have customers who live outside of the UK?</th>
                        <td><a href="employment">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">France<br />Germany<br />Norway<br />Sweden</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you keep records of all your transactions?</th>
                        <td><a href="records">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">Spreadsheet</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business have written guidance for staff on how to identify and report suspicious activity?</th>
                        <td><a href="procedures">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has your business registered online with the National Crime Agency in order to report suspicious activity?</th>
                        <td><a href="crime-agency">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business have a formal risk assessment policy and procedure?</th>
                        <td><a href="risk-assessment">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>


            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>



        </div>
    </div>

{{/main}}
{{/layout}}