
{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
<h1 class="heading-xlarge">
                <span class="heading-secondary">Supervision</span>
       Has your business ever been registered with another supervising body?
            </h1>

 <p>This only refers to registration for anti-money laundering supervision.</p>
            <form method="post">

                <input type="hidden" name="next-page" value="professional-body"/>

                <fieldset>
                    <legend class="visuallyhidden">Has your business been registered with any other supervising body before?</legend>

                    <div class="form-group">
                        <fieldset class="inline">
                            <label class="block-label" for="radio-inline-2-1" data-target="hidden">
                                <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-2-2">
                                <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">No
                            </label>
                        </fieldset>
                    </div>

                    <div id="hidden" class="panel-indent inline-indent js-hidden">
                        <div class="panel">
                            <fieldset>
                                <legend class="visuallyhidden">Previous supervisor details</legend>

                                <div class="form-group">
                                    <label class="form-label-bold" for="first-name-2">Name of your last supervisor</label>
                                    <input type="text" class="form-control" id="first-name">
                                </div>
                                <div class="form-group">
                                    <div class="form-date">
                                        <label class="form-label-bold" for="first-name-2">Start date of supervision</label>
                                        <p class="form-hint">For example, 31 3 2008</p>
                                        <div class="form-group form-group-day">
                                            <label for="dob-day">Day</label>
                                            <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label for="dob-month">Month</label>
                                            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label for="dob-year">Year</label>
                                            <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-date">
                                        <label class="form-label-bold" for="first-name-2">End date of supervision</label>
                                        <p class="form-hint">For example, 31 3 2010</p>
                                        <div class="form-group form-group-day">
                                            <label for="dob-day">Day</label>
                                            <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label for="dob-month">Month</label>
                                            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label for="dob-year">Year</label>
                                            <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label-bold" for="first-name-2">Why did the supervision end?</label>
                                    <textarea class="form-control" cols="100" rows="5"></textarea>
                                </div>
                            </fieldset>

                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>

                </fieldset>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
