{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Supervision</span>
                What you need
            </h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <p>Depending on your circumstances, you may need:</p>

            <ul class="list-bullet spacelarge">
                <li>the name of your last anti-money laundering supervisor</li>
                <li>the start date and end date of your last supervision</li>
                <li>the reason your last supervision ended</li>
                <li>a list of your professional memberships</li>
                <li>details of penalties you’ve received from a professional body</li>
            </ul>

            <div class="form-group">
                <a href="supervised" class="button ">Continue</a>
            </div>
        </div>

        <div class="column-one-third">
            {{>includes/save-message}}
        </div>

    </div>

{{/main}}
{{/layout}}