{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Who is your accountant?
            </h1>

            <form method="post">

                    {{! <input type="hidden" name="next-page" value="summary"/> }}

                    {{! <fieldset>
                        <legend class="visuallyhidden">Who is your accountant?</legend>
                        <div class="form-group">
                            <label class="visuallyhidden">Is this a UK address</label>
                            <fieldset class="inline">
                                <label class="block-label" for="radio-inline-2-1" >
                                    <input id="radio-inline-2-1" type="radio"  name="ukorover" value="false" checked="checked" >This is a UK address
                                </label>
                                <label class="block-label" for="radio-inline-2-2" >
                                    <input id="radio-inline-2-2" type="radio" name="ukorover" value="true">This is an overseas address
                                </label>
                            </fieldset>
                        </div>
                    <fieldset> }}


                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                            <label class="form-label" for="first-name">Name</label>
                            <input type="text" class="form-control" id="first-name">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="middle-name">Trading name</label>
                            <input type="text"  class="form-control" id="middle-name">
                        </div>

                        <div class="form-group">
                            <label for="company-address1" class="form-label">Address</label>
                            <input type="text" class="form-control" id="company-address1">
                        </div>

                        <div class="form-group">
                            <label for="company-address2" class="form-label"></label>
                            <input type="text" class="form-control" id="company-address2">
                        </div>

                        <div class="form-group">
                            <label for="company-address3" class="form-label"></label>
                            <input type="text" class="form-control" id="company-address2">
                        </div>

                        <div class="form-group">
                            <label for="company-address3" class="form-label"></label>
                            <input type="text" class="form-control" id="company-address2">
                        </div>

                        <div class="form-group">
                            <label for="postcode-name" class="form-label">Postcode</label>
                            <input type="text" class="form-control form-control-1-4" id="postcode-name" maxlength="8">
                        </div>

                        <div class="form-group">
                            <label for="company-address3" class="form-label">Country</label>
                            <input type="text" class="form-control" id="company-address2">
                        </div>

                    </fieldset>


                    <fieldset class="inline">
                    <legend class="form-label-bold">Does this accountant also deal with HMRC on behalf of your business, for tax-related matters?</legend>
                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="no-activity">
                            <input id="yes" type="radio" name="next-page" value="summary">Yes
                        </label>
                        <label class="block-label" >
                            <input id="no" type="radio" name="next-page" value="summary">No
                        </label>
                        <div class="panel js-hidden" id="no-activity">
                            <div class="form-group">
                                <label class="form-label">Your accountant's HMRC Agent Reference Number</label>
                                <input type="text" class="form-control" id="company-address2">
                            </div>
                        </div>
                    </div>

                </fieldset>






                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>

                </form>


        </div>
    </div>

{{/main}}
{{/layout}}