{{<layout}}

  {{$pageTitle}}
    Anti Money Laundering Registration
  {{/pageTitle}}

  {{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Update your information</h1>
            <p>If something has changed in your business which is relevant to Money Laundering Regulations, you must amend and re-submit your application for anti-money laudering supervision.</p>
            <p>There will be an additional fee to pay if you increase the number of responsible people or trading premises.</p>
           
        </div>
    </div>

    <div class="grid-row">
        <ul class="grid-layout column-two-thirds progress-steps progress-steps__amend" role="menu">

            {{#sections}}
            <li role="menuitem">

                <a href="{{^status}}{{editlink}}{{/status}}" class="progress-step {{#status}}progress-step__complete{{/status}} {{status}}">
                    <div class="grid-layout column-two-thirds progress-step--details">
                        <h2 class="heading-small">{{name}}</h2>
                        <p>{{message}}</p>
                    </div>
                    <div class="grid-layout column-one-third progress-step--status {{#status}}progress-step__complete{{/status}}">
                        {{^status}}
                        <div class="column-two-thirds progress-step--status-time">
                            <p class="visuallyhidden">Edit this section</p>
                        
                            <p class="font-xsmall">View and amend your information</p>
                        </div>
                        {{/status}}
                    </div>
                </a>

            </li>
            {{/sections}}
        </ul>
        <div class="column-one-third reg-step--submit">
            <div class="grid-row statusblock declaration">
                <h2 class="heading-small">Re-submit application</h2>
                {{^complete}}
                <p>You don't need to re-submit your application until you've made changes to it.</p>
                {{/complete}}
                {{#complete}}
                <p>All sections complete: you can now submit the application.</p>
                {{/complete}}
                <div class="form-group">
                    {{^complete}}
                    <a href="" class="button" disabled="disabled" type="submit">Re-submit application</a>
                    {{/complete}}
                    {{#complete}}
                    <a href="declaration/who-is-registering" class="button" type="submit">Re-submit application</a>
                    {{/complete}}
                </div>
            </div>
        </div>
    </div>

  {{/main}}

{{/layout}}
