{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

				<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
				<h1 class="heading-xlarge">
					<span class="heading-secondary">Bank details</span>
				  	{{! Does your business use any bank accounts? }}
				  	What kind of bank account does your business use?
				</h1>

				<form method="post">
				<fieldset>
                        <div class="form-group">
                            <legend class="visuallyhidden">What type of account is this?</legend>
                            <label class="block-label" for="radio-inline-2-1">
                              <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">A personal bank account
                            </label>
                            <label class="block-label" for="radio-inline-2-2">
                              <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">A business account belonging to your business
                            </label>
                            <label class="block-label" for="radio-inline-2-3">
                              <input id="radio-inline-2-3" type="radio" name="radio-inline-group-2" value="No">A business account belonging to another business
                            </label>
                            <label class="block-label" for="radio-inline-2-4">
                              <input id="radio-inline-2-4" type="radio" name="radio-inline-group-2" value="No">I dont use a bank account
                            </label>
                        </div>
                    </fieldset>
			   {{! 	<p>Include:</p>
				<ul class="list-bullet space">
					<li>bank accounts belonging to your business</li>
					<li>bank accounts belonging to other businesses</li>
					<li>personal bank accounts</li>
				</ul>

				<form method="post">
					<fieldset class="inline space">
						<legend class="visuallyhidden">Does your business use any bank accounts?</legend>
	      				<label class="block-label" for="radio-inline-1">
	        				<input id="radio-inline-1" type="radio" name="next-page" value="account-details">Yes
	        			</label>
	      				<label class="block-label" for="radio-inline-2">
	      					<input id="radio-inline-2" type="radio" name="next-page" value="summary-no-account">No
	      				</label>
	      			</fieldset>

	      			<div class="form-group">
				  		<input type="submit" class="button" value="Save and continue">
					</div>
      			</form> }}

					<div class="form-group">
				   		<input type="submit" class="button" value="Save and continue">
					</div>
				</form>

			</div>
		</div>

{{/main}}
{{/layout}}
