{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}


        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">
                    <span class="heading-secondary">About you</span>
                    Your name and role
                </h1>

               
                <table class="space">
                    <tbody>
                        <tr>
                            <th width="45%">Name</th>
                            <td width="45%">Vincent Gough</td>
                            <td><a href="index">edit</a></td>
                        </tr>
                        <tr>
                            <th width="35%">Your role in the business</th>
                            <td width="25%">Internal accountant</td>
                            <td><a href="your-role">edit</a></td>
                        </tr>
                    </tbody>
                </table>


                <form method="post">
                    <div class="form-group">
                        <input type="submit" class="button" value="Save and complete section">
                    </div>
                </form>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>

            </div>
        </div>

{{/main}}
{{/layout}}