{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">
                {{! <span class="heading-secondary">Service</span> }}
                Register for anti-money laundering supervision
            </h1>

            <p class="spacelarge"><a href="application-status/gov-gateway">Continue with a previously saved application</a></p>
            <p><a href="gov-gateway" class="button button-get-started">Get started</a></p>

		</div>

	</div>

{{/main}}
{{/layout}}
