{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}

				<div class="grid-row">            
            
			<div class="column-two-thirds">
                        
                <h1 class="heading-xlarge">Sprint three prototype</h1>
                    <h2 class="heading-medium">Gov.UK / Gov Gateway</h2>
                    <ul class="list-bullet">
                        <li><a href="start">Start page</a></li>
                        <li><a href="gov-gateway">Gov Gateway</a></li>
                    </ul>
                    <h2 class="heading-medium">Business Matching</h2>
                     <ul class="list-bullet">
                        <li><a href="business-matching-1">Business matching (Type of business)</a></li>
                        <li><a href="business-matching-2">Business matching (Business name)</a></li>
                        <li><a href="business-matching-3">Business matching (Confirm business)</a></li>
                    </ul>
                    <h2 class="heading-medium">Business Activities</h2>
                     <ul class="list-bullet">
                        <li><a href="business-activities">Business activities (Type of business)</a></li>
                    </ul>
                    <h2 class="heading-medium">Main summary</h2>
                     <ul class="list-bullet">
                        <li><a href="summary">Summary</a></li>
                        </ul>

                
                <h2 class="heading-medium">About ther business section</h2>
                     <ul class="list-bullet">
                        <li><a href="business-details-1">Registered office</a></li>
                        <li><a href="business-details-1a">Correspondence address</a></li>
						 <li><a href="business-details-2">Telephone</a></li>
						 <li><a href="business-details-3">Email</a></li>
						 <li><a href="business-details-4">Website</a></li>
						 <li><a href="business-details-5">Have you been registered for MLR before?</a></li>
						 <li><a href="business-details-6">VAT Registrations</a></li>
                    </ul>
        
                <h2 class="heading-medium">High value dealers section</h2>
                     <ul class="list-bullet">
                        <li><a href="hvd-1">Business activities</a></li>
                        <li><a href="hvd-2">Business activities 2</a></li>
                       <li><a href="hvd-3">Your transactions</a></li>
                       <li><a href="hvd-4">Your systems</a></li>
                       <li><a href="hvd-5">Your turnover</a></li>
                       <li><a href="hvd-6">Non face to face payments</a></li>
                       <li><a href="hvd-6a">Non face to face payments 2</a></li>
                    </ul>
              
                <h2 class="heading-medium">About you section</h2>
                     <ul class="list-bullet">
                        <li><a href="about-you-1">Your name</a></li>
                        <li><a href="about-you-2">Employment status</a></li>
                        <li><a href="about-you-2.html">Role in company</a></li>
                        <li><a href="about-you-2b">Role for company</a></li>
                        <li><a href="summary-about-you">Summary: About you</a></li>
                    </ul>
              
              <h2 class="heading-medium">Payment</h2>
                     <ul class="list-bullet">
                        <li><a href="payment">Payment</a></li>
                        <li><a href="summary-payment">Summary: Payment</a></li>
                    </ul>
                
			</div>
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>

{{/content}}

{{/layout}}
