{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Money service business</span>
                Foreign currency
            </h1>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="summary">

                <div class="form-group">
                <fieldset>
                    <legend class="form-label-bold">Where will you get your supply of foreign currencies from?</legend>

                        <span class="form-hint">Select all that apply</span>
                        <label class="block-label" data-target="bank">
                            <input type="checkbox" name="services" value="bank">Bank
                        </label>

                        <div class="panel panel-indent js-hidden" id="bank">
                            <label class="form-label" for="specify">Bank name</label>
                            <input class="form-control" id="first-name-2" type="text">
                        </div>

                        <label class="block-label" data-target="whole">
                            <input type="checkbox" name="services" value="whole">Currency wholesaler(s)
                        </label>

                        <div class="panel panel-indent js-hidden" id="whole">
                            <label class="form-label" for="specify">Bank name</label>
                            <input class="form-control" id="first-name-2" type="text">
                        </div>

                        <label class="block-label">
                            <input type="checkbox" name="services" value="resale">Re-sale of currency purchased from customers
                        </label>

                        {{! <label class="block-label">
                            <input type="checkbox" name="services" value="no">No physical foreign currency provided to customers
                        </label> }}

                </fieldset>
</div>
<div class="form-group">
                <fieldset>
                    <legend class="form-label-bold">Top 3 currencies you anticipate supplying to customers?</legend>


                    <div class="form-group">
                        <label for="country1" class="form-label"></label>
                         <span class="form-hint">1 is mandatory, others are optional</span>
                        <input type="text" class="form-control" id="country1">
                    </div>
                    <div class="form-group">
                        <label for="country1" class="form-label"></label>
                        <input type="text" class="form-control" id="country1">
                    </div>
                    <div class="form-group">
                        <label for="country1" class="form-label"></label>
                        <input type="text" class="form-control" id="country1">
                    </div>

                </fieldset>
</div>




                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>



        </div>
    </div>

{{/main}}
{{/layout}}