{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                Check your answers
            </h1>

            <div class="panel panel-border-wide spacelarge">
                <p>Please check all the information you have provided.</p>
                <p><a href="your-name">Add another responsible person</a></p>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th width="70%">John Doe</th>
                        <td><a href="your-name">Edit</a></td>
                    </tr>

                </tbody>
            </table>

             <table class="space">
                <tbody>

                    <tr>
                        <td width="70%">Previous names</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>UK resident</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Country of birth</td>
                        <td>England</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>0123456789</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>email@email.com</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>44 This Street<br />Someplace<br />NE1 13S</td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td>Nominated officer</td>
                    </tr>
                    <tr>
                        <td>Registered for VAT</td>
                        <td>Yes: 234 976548</td>
                    </tr>
                    <tr>
                        <td>Registered for Self Assessment</td>
                        <td>Yes: 234 976548</td>
                    </tr>
                    <tr>
                        <td>Previous Experience</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Training in anti-money laundering</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Training in anti-money laundering</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>



            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

        </div>
    </div>

{{/main}}
{{/layout}}
