{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

				{{>includes/back}}
                <h1 class="heading-xlarge">
					<span class="heading-secondary">Bank details</span>
					Bank account registered
				</h1>

                <div class="panel panel-border-wide spacelarge">
                    <p>You have registered 1 bank account.</p>
                </div>

				<form method="post">

                    <fieldset class="inline">
						<legend class="form-label">Do you want to register another bank account?</legend>
      					<div class="form-group">
        					<label class="block-label" data-target="sortcode" for="radio-indent-1">
          						<input id="radio-indent-1" type="radio" name="next-page" value="accounts">Yes
        					</label>
        					<label class="block-label" data-target="iban" for="radio-indent-2">
        						<input id="radio-indent-2" type="radio" name="next-page" value="check-your-answers">No
        					</label>

        				</div>
        			</fieldset>

					<div class="form-group">
				   		<input type="submit" class="button" value="Save and continue">
					</div>

				</form>
			</div>
		</div>

{{/main}}
{{/layout}}
