{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			{{>includes/back}}
<h1 class="heading-xlarge">
				<span class="heading-secondary">Estate Agent Business</span>
				Has the business, or anyone in the business, ever been penalised by a professional body?
			</h1>

			<p>The penalty should relate to estate agent business activities. Examples of a penalty include:</p>
								<ul class="list-bullet space">
									<li>a fine</li>
				              		<li>a warning</li>
				              		<li>suspension</li>
				              		<li>expulsion</li>
	  							</ul>

		  	<form method="post">
				<input type="hidden" name="next-page" value="check-your-answers">


				<fieldset>

		  			<div class="form-group">
						<fieldset class="inline">
							<legend class="visuallyhidden">Has the business, or anyone in the business, ever been penalised by a professional body?</legend>



			  				<label class="block-label" for="yes-2" data-target="pbody">
								<input id="yes-2" type="radio" name="penalised" value="Yes">Yes
							</label>
			  				<label class="block-label" for="no-2">
			  					<input id="no-2" type="radio" name="penalised" value="No">No
			  				</label>

			  				<div class="panel panel-border-narrow js-hidden" id="pbody">
									<label class="form-label" for="details">Give a brief overview of what the penalty was, and when it occurred.</label>
                                <span class="form-hint">Enter 255 characters or less.</span>
								<textarea name="details"  class="form-control" id="details" cols="100" rows="5"></textarea>
			  				</div>
						</fieldset>
		  			</div>

		  			<div class="form-group">
						<input class="button" type="submit" value="Save and continue">
		  			</div>

		  		</fieldset>
			</form>



		</div>
	</div>


{{/main}}
{{/layout}}
