@import "app.scss";

.space {
  margin-bottom: 1em; }

.form-label-bold {
  margin-bottom: .5em; }


.summaryblock {
    background:#DEE0E2;
    // background:#85994B;
    // margin-bottom: 30px;
    padding-bottom: 10px;
    padding: 0;
    border-bottom: #fff solid 10px;
}

.statusblock {
    background:#f8f8f8;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin: 0;

}



.link-back {
  margin-bottom: 0px;
}

