{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}klnjn

{{$main}}

	{{>includes/service-header}}


		<div class="grid-row">
			<div class="column-two-thirds">

				{{>includes/back}}
                <h1 class="heading-xlarge">
					<span class="heading-secondary">Trading premises</span>
					Your agent's company details
				</h1>

                <form class="form" method="post">
					<input type="hidden" name="next-page" value="premises">

					<fieldset>
                        <legend class="visuallyhidden">What is your agent's registered company name?</legend>

                        <div class="form-group">
                            <label class="form-label" for="middle-name">What is your agent's registered company name?</label>
                            <span class="form-hint">It must be identical to the registered name on the incorporation certificate.</span>
                            <input type="text" id="middle-name" class="form-control">
                        </div>
                    </fieldset>

                    <fieldset>
						<legend class="visuallyhidden">What is your agent's company registration number?</legend>

                        <div class="form-group">
                            <label class="form-label" for="middle-name">What is your agent's company registration number?</label>
                         	<span class="form-hint">For example: A1234567</span>

                            <input type="text" id="middle-name" class="form-control">
                        </div>
                    </fieldset>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>


				</form>


			</div>
		</div>

{{/main}}
{{/layout}}
