{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Trust or Company Service Provider</span>
                What you need
            </h1>

        </div>
    </div>

        <div class="grid-row">
        <div class="column-two-thirds">

             <p>For this section you'll need:</p>

            <ul class="list-bullet spacelarge">
                <li>a list of which services you provide</li>
                <li>the name of your last anti-money laundering supervisor, if relevant</li>
                <li>the start date, end date and reason for ending your last supervision, if relevant</li>
                <li>a list of which professional memberships you hold, if relevant</li>
                <li>information about any penalties you've received, if relevant</li>
                <li>If you use another Trust or Company Service Provider, its Money Laundering Regulation reference number</li>

            </ul>

            <div class="form-group">
                <a href="service-type" class="button ">Continue</a>
            </div>


        </div>

                <div class="column-one-third">
            <div class="statusblock declaration">
                <h2 class="heading-small">Title</h2>
                <p>Your progress is saved automatically. If you sign out you'll have 28 days to complete your registration.</p>
            </div>
        </div>
    </div>

{{/main}}
{{/layout}}