{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                
                <a href="#" class="link-back">Back</a>
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        High Value Dealers
	   		          </span>
                   Check your answers</h1>
               <p>Please check all the information you have provided below.</p>
                
                </div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
                
            		</div>
                
                <table class="table-check-answers">


	<tbody>
		<tr>
			<td class="question">
				What specific high value dealer goods will you be selling?
			</td>
			<td class="answer">
				Antiques
			</td>
			<td class="edit-link">
				<a href="hvd-1">
					Edit
				</a>
			</td>
		</tr>

        
        <tr>
			<td class="question">
				How are these goods to be sold?
			</td>
			<td class="answer">
				Auction
			</td>
			<td class="edit-link">
				<a href="hvd-2">
					Edit
				</a>
			</td>
		</tr>
        
        <tr>
			<td class="question">
				Has the business already accepted any high value cash payments over the threshold?
			</td>
			<td class="answer">
				Yes
			</td>
			<td class="edit-link">
				<a href="hvd-3">
					Edit
				</a>
			</td>
		</tr>
      
        <tr>
			<td class="question">
				What was the date of the first?
			</td>
			<td class="answer">
				12 02 2015
			</td>
			<td class="edit-link">
				<a href="hvd-3">
					Edit
				</a>
			</td>
		</tr>
      
        <tr>
			<td class="question">
				Do your systems automatically identify linked cash payments that exceed the HVD threshold in total?
			</td>
			<td class="answer">
				No
			</td>
			<td class="edit-link">
				<a href="hvd-4">
					Edit
				</a>
			</td>
		</tr>
  
              <tr>
			<td class="question">
				What percentage of your turnover do you anticipate will come from High Value Cash payments?
			</td>
			<td class="answer">
				62%
			</td>
			<td class="edit-link">
				<a href="hvd-5">
					Edit
				</a>
			</td>
		</tr>
      
      
                    <tr>
			<td class="question">
				Do you anticipate receiving high value cash payments over the threshold from customers you have not seen face to face?
			</td>
			<td class="answer">
				Yes
			</td>
			<td class="edit-link">
				<a href="hvd-6">
					Edit
				</a>
			</td>
		</tr>
      
       <tr>
			<td class="question">
				How do you anticipate you receive these non face to face payments?
			</td>
			<td class="answer">
				Courier
			</td>
			<td class="edit-link">
				<a href="hvd-6a">
					Edit
				</a>
			</td>
		</tr>
        

	</tbody>
	</table>
                
    <div class="form-group">
   			<a href="trading-premises" class="button">Next section</a>
		</div>
  
        

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
