{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="#" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			Trading premises
	   		</span>
	   		Where do you, or will you, trade from?
	   	</h1>
          
		<form class="form" method="post">
        
            <div class="form-group">
                <fieldset>
                    <legend class="form-label"></legend>
                    <label class="block-label" >
                        <input id="own" type="checkbox" name="activities" value="asp">
                        Your own business premises
                    </label>
                        
                    <label class="block-label" >
                        <input id="ct" type="checkbox" name="activities" value="bpsp">
                        You have contractual agreements with other businesses to act as your agent and offer your services
                    </label>
                        
                    <label class="block-label">
                        <input id="paye" type="checkbox" name="activities" value="eab">
                        Both your own premises and those of your agents
                    </label>  
                       
                </fieldset>
            </div>


			<div class="form-group">
<!--	   			<a class="button" href="summary" id="next">Save and continue</a>-->
              <a class="button">Save and continue</a>
   			</div>


	   	</form>



	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#other").hide();
      $("#other-ps").click(function(){
        $("#other").show();
      });
    });
  })(jQuery || window.jQuery);
</script>

{{/content}}

{{/layout-amls}}
