{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                	<span class="heading-secondary">Trading premises</span>
                   	Check your answers
				</h1>



                                <div class="panel panel-border-wide space">
                    <p>Please check all the information you have provided.</p>
                    <p><a href="accounts">Add another premises</a></p>
                </div>

				<table class="spacelarge">
                    <tbody>
                        <tr>
                            <th colspan="2" width="88%">ACME Limited</th>
                            <td><a href="account-details">Edit</a></td>
                        </tr>
                        {{! <tr>
                            <td>Account</td>
                            <td>Sort Code</td>
                            <td>Whose account</td>
                            <td>UK</td>
                        </tr> }}
                        <tr>
                            <td width="40%">Registered address
                                <br />Town
                                <br />County
                                <br />AB1 2DE</td>
                            <td width="48%">Estate agent business</td>
                            <td>Own</td>
                        </tr>
                    </tbody>
                </table>

                <table class="spacelarge">
                    <tbody>
                        <tr>
                            <th colspan="2" width="88%">Business Limited</th>
                            <td><a href="account-details">Edit</a></td>
                        </tr>
                        {{! <tr>
                            <td>Account</td>
                            <td>Sort Code</td>
                            <td>Whose account</td>
                            <td>UK</td>
                        </tr> }}
                        <tr>
                            <td width="40%">Registered address
                                <br />Town
                                <br />County
                                <br />AB1 2DE</td>
                            <td width="48%">Accountancy service provider</td>
                            <td>Agents'</td>
                        </tr>
                    </tbody>
                </table>




				<form method="post">
					<div class="form-group">
						<input type="submit" class="button" value="Accept and complete section">
					</div>
				</form>



			</div>
		</div>

{{/main}}
{{/layout}}
