{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="../summary" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			About you
	   		</span>
	   		Your name
	   	</h1>


		<form class="form">

			<input type="hidden" name="next-page" value="2">
		
		   	<div class="form-group">
		   		<label class="form-label" for="first-name">First name</label>
		   		<input type="text" id="first-name">
		   	</div>
            
            <div class="form-group">
		   		<label class="form-label" for="middle-name">Middle name (optional)</label>
		   		<input type="text" id="middle-name">
		   	</div>
            
            <div class="form-group">
		   		<label class="form-label" for="last-name">Last name</label>
		   		<input type="text" id="last-name">
		   	</div>

			<div class="form-group">
	            <input type="submit" class="button" value="Check your answers">
   			</div>


	   	</form>



	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



{{/content}}

{{/layout-amls}}
