{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                
                <a href="#" class="link-back">Back</a>
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        About you
	   		          </span>
                   Check your answers</h1>
               <p>Please check all the information you have provided below.</p>
                
                </div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
                
            		</div>
                
                <table class="table-check-answers">


	<tbody>
		<tr>
			<td class="question">
				Name
			</td>
			<td class="answer">
				Vincent Gough
			</td>
			<td class="edit-link">
				<a href="about-you-1">
					Edit
				</a>
			</td>
		</tr>

        
        <tr>
			<td class="question">
				Are you employed within the business?
			</td>
			<td class="answer">
				Yes
			</td>
			<td class="edit-link">
				<a href="about-you-2">
					Edit
				</a>
			</td>
		</tr>
        
        <tr>
			<td class="question">
				Your role for the business?
			</td>
			<td class="answer">
				Internal accountant
			</td>
			<td class="edit-link">
				<a href="about-you-2a">
					Edit
				</a>
			</td>
		</tr>
        

	</tbody>
	</table>
                

		<form method="post">
			<div class="form-group">
                <input type="submit" class="button" value="Next section">
			</div>
		</form>

 <div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
  
        

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
