{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Accountancy service provider</span>
                Before you start
            </h1>

           
              <p>You need the following information to complete this section:</p>
           

             <ul class="list-bullet space">
                <li>a list of which accountancy services you provide</li>
                <li>the name of your last anti-money laundering supervisor, if relevant</li>
                <li>the start date, end date and reason for ending your last supervision, if relevant</li>
                <li>a list of which professional memberships you hold, if relevant</li>
            </ul>

            <div class="form-group">
                <a href="services" class="button ">Continue</a>
            </div>


        </div>
    </div>

{{/main}}
{{/layout}}