{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                People you have registered
            </h1>

<div class="panel panel-border-wide spacelarge">
                    <p><a href="your-name">Add a responsible person</a></p>
                </div>

            <table>
                <tbody>
                    <tr>
                        <th width="40%">Brian Coult</th>
                        <td class="numeric"><a href="responsible-person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            <table>
                <tbody>
                    <tr>
                        <th width="90%">Milly Shaw</th>
                        <td class="numeric"><a href="responsible-person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>
                        <th width="90%">Michael Wolfendale</th>
                        <td class="numeric"><a href="responsible-person-details">View and edit</a></td>
                        <td width="10%" class="numeric"><a href="#">Delete</a></td>
                    </tr>

                </tbody>
            </table>

            {{! <form method="post">

                    <fieldset class="inline">
                        <legend class="form-label">Do you want to register another responsible person?</legend>
                        <div class="form-group">
                            <label class="block-label" data-target="sortcode" for="radio-indent-1">
                                <input id="radio-indent-1" type="radio" name="next-page" value="position">Yes
                            </label>
                            <label class="block-label" data-target="iban" for="radio-indent-2">
                                <input id="radio-indent-2" type="radio" name="next-page" value="../registration-progress">No
                            </label>

                        </div>
                    </fieldset>

                    <div class="form-group">
                        <input type="submit" class="button" value="Confirm and continue">
                    </div>

                </form> }}



            <a href="../registration-progress" class="button" type="submit">Save and continue</a>

        </div>
    </div>

{{/main}}
{{/layout}}
