{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
               What's the name of this responsible person?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="residency">

                <fieldset>
                    <div class="form-group">
                        <label class="form-label" for="first-name">First name</label>
                        <input type="text" id="first-name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="middle-name">Middle name, if applicable</label>
                        <input type="text" id="middle-name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="last-name">Last name</label>
                        <input type="text" id="last-name" class="form-control">
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="form-label">Has this person ever legally changed their name?</legend>
                            <label class="block-label" for="radio-inline-3" data-target="namechange">
                                <input id="radio-inline-3" type="radio" name="radio-inline-group2" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-4">
                                <input id="radio-inline-4" type="radio" name="radio-inline-group2" value="No">No
                            </label>
                        </fieldset>
                        <p>
                        <div class="panel panel-indent js-hidden" id="namechange">
                            <div class="form-group">
                                <label class="form-label" for="first-name">Previous first names</label>
                                <input type="text" id="first-name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="middle-name">Previous middle names</label>
                                <input type="text" id="middle-name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="last-name">Previous last names</label>
                                <input type="text" id="last-name" class="form-control">
                            </div>

                            <fieldset>
                                <legend class="form-label">When did the name legally change?</legend>
                                <div class="form-group">
                                    <div class="form-date">
                                        <p class="form-hint" id="dob-hint">For example, 31 3 1980</p>
                                        <div class="form-group form-group-day">
                                            <label for="dob-day">Day</label>
                                            <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label for="dob-month">Month</label>
                                            <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label for="dob-year">Year</label>
                                            <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="form-label">Is this person known by any other names?</legend>
                            <label class="block-label" for="radio-inline-5" data-target="aliaschange">
                                <input id="radio-inline-5" type="radio" name="radio-inline-group3" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-6">
                                <input id="radio-inline-6" type="radio" name="radio-inline-group3" value="No">No
                            </label>
                        </fieldset>

                        <div class="panel panel-indent js-hidden" id="aliaschange">
                            <div class="form-group">
                                <label class="form-label" for="first-name">Alternative name</label>
                                <input type="text" id="first-name" class="form-control">
                            </div>
                            {{! <div class="form-group">
                                <label class="form-label" for="middle-name">Other middle names, if applicable</label>
                                <input type="text" id="middle-name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="last-name">Other last names</label>
                                <input type="text" id="last-name" class="form-control">
                            </div> }}


                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}