{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
<h1 class="heading-xlarge">
                <span class="heading-secondary">Pre-application</span>
                You cannot continue with your application
            </h1>
            <p>Your business must have a Payment Services Regulations (PSR) reference number in order to apply for anti-money laundering supervision from HM Revenue and Customs.</p>
            <p>You can apply for a PSR reference number from the Financial Conduct Authority (FCA).</p>
            <p>The information you have given so far in this application has been saved. You have 28 days to return and complete your application.</p>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="check-your-answers">





                <div class="form-group">
                    <input type="submit" class="button" value="Log out">
                </div>

            </form>



        </div>
    </div>

{{/main}}
{{/layout}}