{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Pre-application</span>
                Which services does your business provide?
            </h1>

            <p>Select all that apply</p>
            <form class="form" method="post">


                <fieldset>
                    <div class="form-group">
                        <legend class="visuallyhidden">Which services does your business provide?</legend>


                        <label class="block-label" for="money">
                            <input id="money" type="checkbox" name="next-page" value="psr-registration">Transmitting money
                        </label>
                        <label class="block-label" for="currency">
                            <input id="currency" type="checkbox" name="next-page" value="check-your-answers">Currency exchange
                        </label>
                        <label class="block-label" for="cash">
                            <input id="cash" type="checkbox" name="next-page" value="check-your-answers">Cheque cashing (all businesses except scrap metal dealers)
                        </label>
                        <label class="block-label" for="scrap">
                            <input id="scrap" type="checkbox" name="next-page" value="check-your-answers">Cheque cashing (scrap metal dealers)
                        </label>

                    </div>
                </fieldset>


                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>



        </div>
    </div>

{{/main}}
{{/layout}}