 {{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                Check your answers
            </h1>

            <table>
                <tbody>
                    <tr>
                        <th>Brian Coult</th>
                        <td class="numeric"></td>
                    </tr>

                </tbody>
            </table>

             <table class="spacelarge">
                <tbody>

                    <tr>
                        <td width="70%">Has this person ever legally changed their name?</td>
                        <td>No</td>
                        <td><a href="your-name">Edit</a></td>
                    </tr>
                     <tr>
                        <td>Is this person known by any other names?</td>
                        <td>No</td>
                        <td><a href="your-name">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Is this person a UK resident?</td>
                        <td>Yes</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>

                     <tr>
                        <td>National Insurance number</td>
                        <td>QQ123456C</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Country of birth:</td>
                        <td>UK</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Nationality:</td>
                        <td>British</td>
                        <td><a href="residency">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Phone number:</td>
                        <td>0123456789</td>
                        <td><a href="contacting-you">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>email@email.com</td>
                        <td><a href="contacting-you">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>44 This Street<br />Someplace<br />NE1 13S</td>
                        <td><a href="address">Edit</a></td>
                    </tr>
                    <tr>
                        <td>How long has this person lived at this address?</td>
                        <td>More than 3 years</td>
                        <td><a href="address">Edit</a></td>
                    </tr>

                    <tr>
                        <td>What's this person's position within the business?</td>
                        <td>Nominated officer</td>
                        <td><a href="position">Edit</a></td>
                    </tr>
                    <tr>
                        <td>When did this position start?</td>
                        <td>12 07 2014</td>
                        <td><a href="position">Edit</a></td>
                    </tr>

                    <tr>
                        <td>Does this person have any previous experience in these activities?</td>
                        <td>No</td>

                        <td><a href="experience-training">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Has this person had training in anti-money laundering or counter-terrorism funding?</td>
                        <td>No</td>
                        <td><a href="training">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Has this person passed the Money Laundering Regulations Fit and Proper test?</td>
                        <td>Yes</td>
                        <td><a href="fit-and-proper">Edit</a></td>
                    </tr>
                </tbody>
            </table>




            <div class="form-group">
            <a href="check-your-answers" class="button" type="submit">Save and continue</a>
            </div>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}
