{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
                Has this business been registered with HMRC before?
            </h1>
              {{! <span class="form-hint">This only refers to registration for anti-money laundering supervision with HMRC.</span> }}
              <p>This only refers to registration for anti-money laundering supervision with HMRC</p>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="vat">




                <fieldset class="inline">
                    <legend class="visuallyhidden">Has this business been registered with HMRC before?</legend>

                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="exisiting">
                            <input id="yes" type="radio" name="activities" value="asp">Yes
                        </label>
                        <label class="block-label" data-target="no-exisiting">
                            <input id="no" type="radio" name="activities" value="eab">No
                        </label>

                        <div class="panel js-hidden" id="exisiting">
                            <label class="form-label" for="mlr">Money Laundering Regulation registration number</label>
                            <input class="form-control" name="mlr" type="text" id="mlr">
                        </div>

                        <div class="panel js-hidden" id="no-exisiting">

                            <div class="form-date">
                                <label class="form-label-bold">Start date??</label>
                                <p class="form-hint">For example, 31 3 2017</p>

                                <div class="form-group form-group-day">
                                    <label for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>

                                <div class="form-group form-group-month">
                                    <label for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>

                                <div class="form-group form-group-year">
                                    <label for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                </div>

                        </div>
                        </div>

                        {{! <label class="block-label" for="yes2" data-target="earlier">
                            <input id="yes2" type="radio"  name="activities" value="bpsp">Yes
                        </label>
                        <div class="clearfix js-hidden"></div>

                        <div class="panel js-hidden" id="earlier">
                            <label class="form-label" for="mlr-op">MLR registration number (optional)</label>
                            <input class="form-control" name="mlr-op" type="text" id="mlr-op">
                        </div> }}



                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>


        </div>
    </div>

{{/main}}
{{/layout}}