{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Anti-Money Laundering Supervision</span>
                    Declaration
                </h1>

                <p>Text of declaration.</p>

                <div class="form-group">
                    <a href="#" class="button">Pay and submit application</a>
                </div>

            </div>
        </div>

{{/main}}
{{/layout}}