{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">
                {{! <span class="heading-secondary">Service</span> }}
                Register for anti-money laundering supervision
            </h1>
  
            <p>Who needs to register:</p>
           
            <ul class=list-bullet>
                <li><a href="https://www.gov.uk/guidance/money-laundering-regulations-money-service-business-registration">Money Service Businesses</a> which are not supervised by the Financial Conduct Authority (FCA)</li>
                <li><a href="https://www.gov.uk/guidance/money-laundering-regulations-high-value-dealer-registration">High Value Dealers<a/></li>
                <li><a href="https://www.gov.uk/guidance/money-laundering-regulations-trust-or-company-service-provider-registration">Trust or Company Service Providers</a> which are not supervised by the FCA or a professional body</li>
                <li><a href="https://www.gov.uk/guidance/money-laundering-regulations-accountancy-service-provider-registration">Accountancy Service Providers</a> which are not supervised by a professional body</li>
                <li><a href="https://www.gov.uk/registration-guide-for-estate-agency-businesses">Estate Agency Businesses</a></li>
            </ul>
             <h2 class="heading-medium">Before you start</h2>
            <p>The fee for registering is XX, payable at the end of the registration process.</p>
            <p>You have 28 days to complete the registration. You can save your progress and return to it later.</p>
            <p><a href="#">Continue with a previously saved application</a></p>
            <p><a href="gov-gateway" class="button button-get-started">Get started</a></p>

		</div>
        
	</div>

{{/main}}
{{/layout}}
