{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">


			<h1 class="heading-xlarge">Summary of your registration progress</h1>
            <p class="lede">Complete all the sections below to register. Once you start the application, you have 28 days to finish it.</p>


			{{#sections}}
	  		<table class="summarytable">
	  			<thead>
	  				<tr>
	  					<th><a href="{{link}}">{{name}}</a></th>
	  					<th width="18%" class="numeric" >{{#status}}{{status}}</span>{{/status}}</th>
	  				</tr>
	  			</thead>

			</table>
			{{/sections}}

			{{! <td class=""><span class="locked" title="You can't complete this item right now">Declaration (locked)</span></td> }}

	  	</div>
  	</div>

{{/main}}
{{/layout}}
