{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">


			<h1 class="heading-xlarge">Summary of your registration progress</h1>
            <p class="lede">Complete all the sections below to register. Once you start the application, you have 28 days to finish it.</p>

			{{! <div class="grid-row summarytop">
				<div class="column-two-thirds">
					<p class="heading-small">Section</p>
				</div>
				<div class="column-one-third">
					<p class="heading-small"></p>
				</div>
			</div> }}


			{{#sections}}
	  		<div class="grid-row summaryblock">
				<div class="column-two-thirds statusblock">
	  				<h2 class="heading-small">{{name}}</h2>
	  				<p>{{message}}</p>
	  			</div>
	  			<div class="column-one-third ">

	  				<h2 class="heading-small">{{time}} mins to complete </h2>

	  				<p><a href="{{link}}">Start</a></p>

	  				<!--<p>{{status}}</p>-->
	  			</div>
	  		</div>
	  		{{/sections}}




			{{! <td class=""><span class="locked" title="You can't complete this item right now">Declaration (locked)</span></td> }}

	  	</div>
  	</div>

{{/main}}
{{/layout}}
