{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
	   			<span class="heading-secondary">Submit registration</span>
	   			Declaration
	   		</h1>

            <div class="notice spacelarge">
                <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                <strong class="bold-small">You've told us you are John Doe.</strong>
            </div>


            <p>I declare that:</p>
            <ul class="list-bullet spacelarge">
                <li>all the information I have given in this application is correct</li>
                <li>I understand that the business must tell HM Revenue & Customs about any change to any of the information on this form</li>
                <li>I understand that non-compliance with the Money Laundering Regulations may result in a civil penalty or criminal prosecution</li>
                <li>I confirm that I have read and understood the <a href="https://www.gov.uk/government/collections/anti-money-laundering-businesses-supervised-by-hm-revenue-and-customs">guidance</a></li>
            </ul>


			<div class="form-group">
                <a href="../confirmation.html" class="button" type="submit">Confirm and submit</a>

            </div>


	  	</div>
	</div>

{{/main}}
{{/layout}}