{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
                Where does this person live?
            </h1>
            <p>We need to know all the home addresses for the last 3 years.</p>
            <form class="form" method="post">

                {{>includes/address-b}}

                <fieldset>
                    <div class="form-group">
                        <legend class="form-label">How long has this person lived at this address?</legend>
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="radio" name="next-page" value="additional-address">0 to 5 months
                        </label>
                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="radio" name="next-page" value="additional-address">6 to 11 months
                        </label>
                        <label class="block-label" for="radio-3">
                            <input id="radio-3" type="radio" name="next-page" value="additional-address">1 to 3 years
                        </label>
                        <label class="block-label" for="radio-4">
                            <input id="radio-4" type="radio" name="next-page" value="position">More than 3 years
                        </label>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}

<script>
$("#over").hide();
$("#radio-inline-2-1").on('click', function() {
  $("#over").hide();
  $("#count").show();
});
</script>

<script>
$("#radio-inline-2-2").on('click', function() {
  $("#over").show();
  $("#count").hide();
});
</script>