{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Responsible people</span>
               What's your name?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="residency">


                <fieldset>

                    <div class="form-group">
                        <label class="form-label" for="first-name">First name</label>
                        <input type="text" id="first-name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="middle-name">Middle name (optional)</label>
                        <input type="text" id="middle-name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="last-name">Last name</label>
                        <input type="text" id="last-name" class="form-control">
                    </div>

                    <!-- Date Items 155-161 questioning the business about these
                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="form-label-bold">Are you known by any other name?</legend>
                            <label class="block-label" for="radio-inline-1" data-target="othername">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-2">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
                            </label>
                        </fieldset>


                        <div class="panel panel-indent js-hidden" id="othername">
                            <label class="form-label" for="specify">Please list all other names</label>
                            <textarea name="" class="form-control"></textarea>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="form-label-bold">Have you ever been known by another names?</legend>
                            <label class="block-label" for="radio-inline-3" data-target="namechange">
                                <input id="radio-inline-3" type="radio" name="radio-inline-group2" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-4">
                                <input id="radio-inline-4" type="radio" name="radio-inline-group2" value="No">No
                            </label>
                        </fieldset>

                        <div class="panel panel-indent js-hidden" id="namechange">
                            <div class="form-group">
                        <label class="form-label" for="first-name">Other first names</label>
                        <input type="text" id="first-name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="middle-name">Other middle names</label>
                        <input type="text" id="middle-name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="last-name">Other last names</label>
                        <input type="text" id="last-name" class="form-control">
                    </div>
                     <!-- Date Items 155-161 questioning the business about these        
                    <div class="form-group">
                                <label class="form-label" for="national-insurance">Date of change</label>
                                <div class="form-date">
                                    <p class="form-hint">For example, 31 3 1980</p>
                                    <div class="form-group form-group-day">
                                        <label for="dob-day">Day</label>
                                        <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label for="dob-month">Month</label>
                                        <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label for="dob-year">Year</label>
                                        <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </fieldset>






                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>



        </div>
    </div>

{{/main}}
{{/layout}}