{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

		<div class="grid-row">
			<div class="column-two-thirds">


				<h1 class="heading-xlarge">Anti-Money laundering supervision prototype</h1>

				<p>To just run through the service from the start:</p>
				<p><a href="start" class="button button-get-started">Get started</a></p>

				<hr />

				<h2 class="heading-medium">Gov.UK / Gov Gateway</h2>
				<ul class="list-bullet">
					<li><a href="start">Register for anti-money laundering supervision</a></li>
					<li><a href="gov-gateway">Sign in with your Government Gateway account</a></li>
				</ul>

				<h2 class="heading-medium">Business matching</h2>
				<ul class="list-bullet">
					<li><a href="business-matching/index">What's your business structure?</a></li>
					<li><a href="business-matching/sole-trader">What's your business name? (sole-proprietor)</a></li>
					<li><a href="business-matching/sole-name">What's your business name? (unincorporated)</a></li>
					<li><a href="business-matching/business-details">Help us find your business</a></li>
					<li><a href="business-matching/confirm">Is this your business?</a></li>
					<li><a href="business-matching/activities">What do you need to register? (Generates summary page)</a></li>
					<li><a href="business-matching/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Registration progress summary page</h2>
				<ul class="list-bullet">
					<li><a href="summary">Registration progress</a></li>
				</ul>

				<h2 class="heading-medium">Business activities</h2>
				<ul class="list-bullet">
					<li><a href="business-activities/index">What you need</a></li>
                    <li><a href="business-activities/confirm-activities">Confirming your business activities</a></li>
					<li><a href="business-activities/activities">Does your business carry out any other activities?</a></li>
					<li><a href="business-activities/business-turnover">How much turnover do you expect in the next 12 months?</a></li>
					<li><a href="business-activities/turnover">How much turnover do you expect in the next 12 months, from activities which you are registering for anti-money laundering supervision?</a></li>
					<li><a href="business-activities/franchise">Is this business a franchise?</a></li>
					<li><a href="business-activities/employment">Do you expect to have customers who live outside of the UK?</a></li>
					<li><a href="business-activities/records">Do you keep records of all your transactions?</a></li>
					<li><a href="business-activities/procedures">Does your business have written guidance for staff on how to identify and report suspicious activity?</a></li>
					<li><a href="business-activities/crime-agency">Has your business registered online with the National Crime Agency in order to report suspicious activity?</a></li>
					<li><a href="business-activities/risk-assessment">Does your business have a formal risk assessment policy and procedure?</a></li>
					<li><a href="business-activities/summary">Check your answers</a></li>


				</ul>



				<h2 class="heading-medium">Declaration (formerly 'about you')</h2>
				<ul class="list-bullet">
					<li><a href="about-you/index">What's your role within the business?</a></li>
					<li><a href="about-you/your-details">What's your name?</a></li>
					<li><a href="about-you/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">About the business (formerly 'business details')</h2>
				<ul class="list-bullet">
					<li><a href="business-details/index">What you need</a></li>
                    <li><a href="business-details/registered">Is the business an existing HMRC MLR registered business?</a></li>
					<li><a href="business-details/vat">Is this business registered for VAT?</a></li>
					<li><a href="business-details/confirming-address">Is this your registered office or main place of business?</a></li>
					<li><a href="business-details/contacting-you">How can we contact you?</a></li>
					<li><a href="business-details/address-for-letters">What's your postal address?</a></li>
					<li><a href="business-details/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Responsible people</h2>
				<ul class="list-bullet">
					<li><a href="responsible-people/index">What you need</a></li>
					<li><a href="responsible-people/residency">Are you a UK resident?</a></li>
					<li><a href="responsible-people/contacting-you">How can we contact you?</a></li>
					<li><a href="responsible-people/address">What's your home address?</a></li>
					<li><a href="responsible-people/additional-address">What's your previous home address?</a></li>
					<li><a href="responsible-people/additional-extra-address">What's your additional previous home address?</a></li>
					<li><a href="responsible-people/position">What's your position within the business?</a></li>
					<li><a href="responsible-people/vat">Are you registered for VAT?</a></li>
					<li><a href="responsible-people/experience-training">Do you have any previous experience in the activities the business is registering for?</a></li>
					<li><a href="responsible-people/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Bank details</h2>
				<ul class="list-bullet">
					<li><a href="bank-details/index">What you need</a></li>
					<li><a href="bank-details/account-details">What bank account does your business use?</a></li>
					<li><a href="bank-details/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Trading premises</h2>
				<ul class="list-bullet">
					<li><a href="trading-premises/index">What you need</a></li>
					<li><a href="trading-premises/activities">What does your business do at these premises?</a></li>
					<li><a href="trading-premises/agent">Who is your agent?</a></li>
					<li><a href="trading-premises/summary">Check your answers (own)</a></li>
					<li><a href="trading-premises/summary-own">Check your answers</a></li>
					<li><a href="trading-premises/summary-agent">Check your answers (agents')</a></li>
				</ul>

				<h2 class="heading-medium">Accountancy Service Provider</h2>
				<ul class="list-bullet">
					<li><a href="accountancy-service-provider/index">What you need</a></li>
                    <li><a href="accountancy-service-provider/services">Which services does your business provide?</a></li>
                    <li><a href="accountancy-service-provider/agent-scheme">Are you registered to handle other business' tax matters?</a></li>
					<li><a href="accountancy-service-provider/supervised">Has this business been registered with any other supervising body?</a></li>
					<li><a href="accountancy-service-provider/professional-body">Is the business a member of a professional body?</a></li>
					<li><a href="accountancy-service-provider/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Estate Agency Business</h2>
				<ul class="list-bullet">
					<li><a href="estate-agents/index">What you need</a></li>
                    <li><a href="estate-agents/services">Which services does your business provide?</a></li>
					<li><a href="estate-agents/penalties">Has the business, or anyone in the business, ever been penalised under the Estate Agents Act 1979?</a></li>
					<li><a href="estate-agents/penalised">Has the business, or anyone in the business, ever been penalised by a professional body?</a></li>
					<li><a href="estate-agents/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Trust or Company Service Provider</h2>
				<ul class="list-bullet">
					<li><a href="trust-company-service-provider/index">What you need</a></li>
					<li><a href="trust-company-service-provider/services.html">What services will you be offering?</a></li>
					<li><a href="trust-company-service-provider/supervised">Has this business been registered with any other supervising body?</a></li>
					<li><a href="trust-company-service-provider/professional-body">Is this business a member of a professional body?</a></li>
					<li><a href="trust-company-service-provider/penalised">Has the business, or anyone in the business, ever been penalised by a professional body?</a></li>
					<li><a href="trust-company-service-provider/other-trust-provider">Does your business use the services of another Trust or Company Service Provider?</a></li>
					<li><a href="trust-company-service-provider/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">High Value Dealers</h2>
				<ul class="list-bullet">
					<li><a href="high-value-dealer/index">What you need</a></li>
                    <li><a href="high-value-dealer/selling">What will your business sell?</a></li>
					<li><a href="high-value-dealer/how-will-you-sell">How will you sell these goods?</a></li>
					<li><a href="high-value-dealer/cash-payments">Has your business already accepted any cash payments which total €15,000 or more?</a></li>
					<li><a href="high-value-dealer/linked-cash-payments">Are you able to automatically identify linked cash payments which come to €15,000 or more?</a></li>
					<li><a href="high-value-dealer/receiving">Do you expect to receive cash payments over €15,000 from customers you've not met in person?</a></li>
					<li><a href="high-value-dealer/percentage">How much of your turnover do you expect to come from cash payments over €15,000?</a></li>
					<li><a href="high-value-dealer/summary">Section summary</a></li>
				</ul>



				<h2 class="heading-medium">Money service business</h2>
				<ul class="list-bullet">
					<li><a href="money-service-business/index">What you need</a></li>
                    <li><a href="money-service-business/services">Which services does your business provide?</a></li>
                    <li><a href="money-service-business/anticipated-totals">How much throughput do you expect in the next 12 months?</a></li>
					<li><a href="money-service-business/branches-or-agents">Do you have branches or agents in other countries?</a></li>
					<li><a href="money-service-business/transactions">Can your systems identify linked transactions?</a></li>
					<li><a href="money-service-business/psr-registration">Has your business applied for a Payment Systems Regulator (PSR) registration number?</a></li>
					<li><a href="money-service-business/payment-service-provider">Does your business use an Intermediary Payment Service Provider?</a></li>
					<li><a href="money-service-business/funds-transfer">Do you transfer money without using formal banking systems?</a></li>
					<li><a href="money-service-business/transfers">How many money transfers do you expect to make in the next 12 months?</a></li>
					<li><a href="money-service-business/largest-amounts">Where do you expect to send the largest amounts of money?</a></li>
					<li><a href="money-service-business/most-transactions">Where do you expect to send the most transactions?</a></li>
					<li><a href="money-service-business/currency">What do you expect to be the most popular foreign currencies for your customers?</a></li>
					<li><a href="money-service-business/summary">Check your answers</a></li>
				</ul>

				<h2 class="heading-medium">Payment</h2>
				<ul class="list-bullet">
					<li><a href="payment/index">How will you pay the fee?</a></li>
					<li><a href="payment/summary">Check your answers</a></li>
				</ul>

			</div>
		</div>

{{/main}}

{{/layout}}