{{<layout}}

{{$pageTitle}}
    Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">
                {{! <span class="heading-secondary">Service</span> }}
                Register for anti-money laundering supervision
            </h1>

            <p>Who needs to register:</p>

            <ul class="list-bullet space">

                <li>Accountancy Service Providers</li>
                <li>Estate Agency Businesses</li>
                <li>High Value Dealers</li>
                <li>Money Service Businesses</li>
                <li>Trust or Company Service Providers</li>
                <li>Bill Payments Service Provider</li>
                <li>Telephone, Digital and IT Payments Services</li>
            </ul>
            <p><a href="https://www.gov.uk/guidance/money-laundering-regulations-who-needs-to-register">Not sure if you need to register?</a></p>
             <h2 class="heading-medium">Before you start</h2>
            <p>The fee for registering is XX, payable at the end of the registration process.</p>
            <p>You have 28 days to complete the registration. You can save your progress and return to it later.</p>
            <p class="spacelarge"><a href="#">Continue with a previously saved application</a></p>
            <p><a href="gov-gateway" class="button button-get-started">Get started</a></p>

		</div>

	</div>

{{/main}}
{{/layout}}
