
{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

        <div class="grid-row">
            <div class="column-two-thirds">

                {{>includes/back}}
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Trading premises</span>
                    Your agent's details
                </h1>



                <form class="form" method="post">
                    <input type="hidden" name="next-page" value="premises">
                    <fieldset>
                        <legend class="visuallyhidden">What is your agent's name?</legend>

                        <div class="form-group">
                            <p class="form-hint">First name, middle name, if applicable and last name</p>
                            <input type="text" id="middle-name" class="form-control">
                        </div>
                    </fieldset>

                   <!-- <fieldset>
                        <div class="form-group">
                            <div class="form-date">
                                <label class="form-label">What is your agent's date of birth?</label>
                                <p class="form-hint">For example, 31 3 1980</p>

                                <div class="form-group form-group-day">
                                    <label for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                                </div>

                                <div class="form-group form-group-month">
                                    <label for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                </div>

                                <div class="form-group form-group-year">
                                    <label for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    -->

                        <div class="form-group">
                            <input type="submit" class="button" value="Save and continue">
                        </div>

                </form>

            </div>
        </div>

{{/main}}
{{/layout}}
<!--<script>
$("#over").hide();
$("#radio-inline-2-1").on('click', function() {
  $("#over").hide();
  $("#count").show();
});
</script>

<script>
$("#radio-inline-2-2").on('click', function() {
  $("#over").show();
  $("#count").hide();
});
</script>-->