{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

			{{>includes/back}}
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Pre-application</span>
				What's your type of business?
			</h1>

			<form method="post">
				<fieldset>
					<legend class="visuallyhidden">Business details</legend>
					<div class="form-group">
						<label class="visuallyhidden">Type of business</label>
						<span class="form-hint">For example: association, charity, trust</span>
							<input class="form-control" id="reg_name" type="text" name="reg_name" value="">
					</div>
					<div class="form-group">
						<a href="activities"  class="button" type="submit" id="save-and-continue">Save and continue</a>
					</div>
				</fieldset>
			</form>

		</div>
	</div>

{{/main}}
{{/layout}}