{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight spacelarge">
                <p class="heading-large"><img src="public/images/icons/tick.png"> You have submitted the application. {{! Now pay the registration fee. }}</p>
            </div>
         
            <p>You now have 30 days to pay the registration fee. Your application won’t be reviewed by HM Revenue and Customs until the fee is paid.</p>

            {{!<h2 class="heading-medium">Thank you for registering online.</h2>
             <p>We cannot currently receive payments. HM Revenue and Customs will contact you within 4 weeks to arrange payment for the registration fee. This does not affect your registration for anti-money laundering supervision.</p> }}


            <div class="panel panel-border-wide spacelarge">
                <p>Your registration fee:
                <br /><span class="heading-xlarge">&pound;1,200</span></p>
                <div class="form-group">
                    <a href="#" class="button" type="submit">Pay fee</a>
                </div>
            </div>

            <p>How your registration fee has been calculated:</p>
            <table class="spacelarge">
                <thead>
                    <th></th>
                    <th width="15%" class="numeric">Quantity</th>
                    <th width="20%" class="numeric">Fee per item</th>
                    <th width="20%" class="numeric">Total</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Application submission</td>
                        <td class="numeric">1</td>
                        <td class="numeric">&pound;100</td>
                        <td class="numeric">&pound;100</td>
                    </tr>
                    <tr>
                        <td>Responsible people</td>
                        <td class="numeric">4</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;440</td>
                    </tr>
                    <tr>
                        <td>Trading premises</td>
                        <td class="numeric">6</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;660</td>
                    </tr>
                    <tr>
                        <th colspan="3">Registration fee</th>
                        <th class="numeric">&pound;1,200</th>
                    </tr>
                </tbody>
            </table>
     <h2 class="heading-medium">What happens next</h2>
     <p>You will receive an email from HM Revenue and Customs within 45 days of paying the registration fee.</p>
     <p>When you receive the email, sign back in to this website to see if your application has been approved or rejected.</p>


        </div>

        <div class="column-one-third">
            <div class="grid-row declaration margin20">
                <p><span class="heading-small">Confirmation code: XAAM00000123456</span></p>
                <p>Quote this code if you need to contact HM Revenue and Customs about your registration.</p>
            </div>
        </div>

    </div>

{{/main}}
{{/layout}}