{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}


		<div class="grid-row">
			<div class="column-two-thirds">

	  			<h1 class="heading-xlarge">
					<span class="heading-secondary">High value dealer</span>
					What percentage of turnover do you anticipate will come from High Value Cash payments?
	  			</h1>

	  			<form method="post">
					<input type="hidden" name="next-page" value="summary">
					<div class="form-group">
						<div class="inline">
			  				<label class="form-label"><input id="received-income" class="form-control percentage-box" type="text"></input>&nbsp;%</label>
						</div>
					</div>

					<div class="form-group">
			  			<input type="submit" class="button" value="Save and continue">
					</div>

	  			</form>

	  			<a href="javascript:history.go(-1)" class="link-back">Back</a>
	  		</div>
	  	</div>


{{/main}}
{{/layout}}