{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}

		<div class="grid-row">


			<div class="column-two-thirds">



                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Bank account details
	   		          </span>
                   Check your answers</h1>
               <p>Please check all the information you have provided below.</p>

                </div>

           <div class="column-one-third">
                 {{>includes/action-links}}
			</div>

            		</div>

                <table class="table-check-answers">



	</tbody>
	<thead>
		<tr>
			<th class="section-name complete" colspan="2">
				<h2>

					Account details
				</h2>
			</th>
			<th class="edit-link">
				<a href="bank-details-2" class="">
					Edit
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="question">
				Type of bank account
			</td>
			<td class="answer">
				Business's account
			</td>
			<td class="edit-link">
			</td>
		</tr>
		<tr>
			<td class="question">
				UK account
			</td>
			<td class="answer">
				Yes
			</td>
			<td class="edit-link">
			</td>
		</tr>
		<tr>
			<td class="question">
				Account name
			</td>
			<td class="answer">
				ACME Limited
			</td>
			<td class="edit-link">
			</td>
		</tr>
		<tr>
			<td class="question">
				Sort code
			</td>
			<td class="answer">
				20-67-81
			</td>
			<td class="edit-link">
			</td>
		</tr>
		<tr>
			<td class="question">
				Account number
			</td>
			<td class="answer">
				41536189
			</td>
			<td class="edit-link">
			</td>
		</tr>
	</tbody>



	</table>

    <div class="form-group">
   			<a href="responsible-persons-1" class="button">Next section</a>
		</div>

<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/main}}
{{/layout}}
