{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}




{{>includes/service-header}}

		<div class="grid-row">


			<div class="column-two-thirds">



                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Bank account details
	   		          </span>
                   Accounts used for MLR activities</h1>
               <p>Please check all the information you have provided below.</p>

                </div>

           <div class="column-one-third">
                 {{>includes/action-links}}
			</div>

            		</div>

                <h2 class="heading-medium">UK accounts</h2>
                <p><a href="3">Add a UK bank account</a></p>
                <table class="table-check-answers">



		<thead>
		<tr>
			<td>
				Account name
			</td>
			<td>
				Type of account
			</td>
			<td>
				Account number
			</td>
			<td>
				Sort code
			</td>
			<td class="edit-link">

			</td>
		</tr>
		</thead>
<tbody>

	<tr>
			<td>
				ACME Limited
			</td>
			<td>
				Business account
			</td>
			<td>
				27620137
			</td>
			<td>
				14-21-37
			</td>
			<td class="edit-link">
				<a href="3">Edit</a>
			</td>
		</tr>
	<tr>
			<td>
				RR Supplies ltd
			</td>
			<td>
				Other business's account
			</td>
			<td>
				62931714
			</td>
			<td>
				62-34-91
			</td>
			<td class="edit-link">
<a href="3">Edit</a>
			</td>
		</tr>
	</tbody>
	</table>


		<h2 class="heading-medium">International accounts</h2>
                <p><a href="3a">Add an international bank account</a></p>
                <table class="table-check-answers">



		<thead>
		<tr>
			<td>
				Account name
			</td>
			<td>
				Type of account
			</td>
			<td>
				IBAN
			</td>
			<td>
				Account number
			</td>
			<td class="edit-link">

			</td>
		</tr>
		</thead>

<tbody>
		<tr>
			<td>
				Mr W. Coyote
			</td>
			<td>
				Personal account
			</td>
			<td>
				2354 4564 8368 2328
			</td>
			<td>
				n/a
			</td>
			<td class="edit-link">
			<a href="3a">Edit</a>
			</td>
		</tr>


	</tbody>
	</table>


    <div class="form-group">
   			<a href="responsible-persons-1" class="button">Next section</a>
		</div>


<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>



	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/main}}
{{/layout}}
