@import "app.scss";

.space {
  margin-bottom: 20px; }
.spacelarge {
    margin-bottom: 40px;
}

.spacesummary {
    margin-bottom: 50px;
}

.form-label-bold {
  margin-bottom: .5em; }

.form-label {
  margin-bottom: .3em;
}

// Registration Page Coding
.summaryblock {
    background:#DEE0E2;
    padding: 0;
    margin-bottom: 12px;

}

.chev {
    color: #6F777B;

    p {
        margin: 0;
        padding: 24px 0 0 0;
    }
}

.summaryblock:hover {
    background: #00823B;

    .chev {
        color: #fff;
    }
}

.greyblock {
    background:#f8f8f8;
    padding-bottom: 10px;
     border-bottom: #DEE0E2 solid 3px;

    p {
     margin: 0;
     padding-bottom: 10px;
    }
}



.green {
    background-color: #00823B;
    }

// .statusblock {
//     background:#f8f8f8;
//     padding-bottom: 0px;
//     margin-bottom: 4px;
// }

// .al-center {
//     text-align: left;
//     color: #6F777B;

//     .heading-large {
//         margin-top: 30px;
//         margin-bottom: 32px;
//         line-height: .6;

//         span {
//             font-size: 16px;
//         }
//     }

//     a:link .grid-row, a:visited .grid-row {
//         color: #6F777B;
//     }

//     a:hover .grid-row {
//             color: #fff;
//             background: #00823B;

//     }
// }






.link-back {
  margin-bottom: 0px;
}

// .green {
//     background-color: #00823B;

//     h2 {
// padding-top: 0;
// margin: 10px 0;

//     }
// }

.white {
    color:#fff;
}

.statusspace {
    margin-top: 20px
}

.nospace {
    margin-bottom: 0;
}


.chevron::before {
    border-style: solid;
    border-width: 0.4em 0.4em 0 0;
    content: '';
    display: inline-block;
    height: 2.5em;
    position: relative;
    transform: rotate(-45deg);
    left: 0;
    top: 36px;
    width: 2.5em;
    margin-left: -30px
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.notice p {
    display: block;
    padding-left: 65px;
    margin-left: -15px; }


// information icon override




.declaration {
    margin-left: 20px;
    padding: 20px;
    background:#f8f8f8;
    border-bottom: #DEE0E2 solid 3px;

    h2 {
        margin-top: 0;
    }
}

.govuk-box-highlight {

    margin-top: 0;
    .heading-large {
        margin:0;
    }
}