{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}

		<div class="grid-row">
	  		<div class="column-two-thirds">

				<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
					<span class="heading-secondary">High Value Dealer</span>
					Are you able to automatically identify linked cash payments which come to €15,000 or more?
				</h1>

                <p>If you do not use Euros, please convert to the currency you use.</p>


	  			<form method="post">

					<input type="hidden" name="next-page" value="receiving">

					<fieldset>


						<div class="form-group">

					  	<fieldset>
					  		<legend class="visuallyhidden">Are you able to automatically identify linked cash payments which come to €15,000 or more?ore?</legend>
					  		<div class="form-group">
	                    		<fieldset class="inline">
	                        		<label class="block-label" for="radio-inline-2-3">
	                          			<input id="radio-inline-2-3" type="radio" name="radio-inline-group-3" value="Yes">Yes
	                        		</label>
	                        		<label class="block-label" for="radio-inline-2-4">
	                          			<input id="radio-inline-2-4" type="radio" name="radio-inline-group-3" value="No">No
	                        		</label>
	                        	</fieldset>
	                      	</div>
	                     </fieldset>


						<div class="form-group">
				  			<input type="submit" class="button" value="Save and continue">
						</div>
					</fieldset>
				</form>



			</div>
		</div>


{{/main}}
{{/layout}}
