{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
              Does your business do anything else?
            </h1>

            <p>You've told us your business is involved in:</p>
            <div class="panel panel-border-wide spacelarge">

                Estate agent business</p>
            </div>

            <form class="form" method="post">
                <fieldset class="inline">
                    <legend class="form-label">Does your business do anything else?</legend>

                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="no-activity">
                            <input id="yes" type="radio" name="next-page" value="business-turnover">Yes
                        </label>
                        <label class="block-label" >
                            <input id="no" type="radio" name="next-page" value="turnover">No
                        </label>
                        <div class="panel js-hidden" id="no-activity">
                            <div class="form-group">
                                <legend class="form-label">Please give details</label>
                                <textarea class="form-control" cols="100" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>


        </div>
    </div>

{{/main}}
{{/layout}}