{{<layout}}
{{$pageTitle}}
Anti Money Laundering Registration
{{/pageTitle}}
{{$main}}
{{>includes/service-header}}
<div class="grid-row">
    <div class="column-two-thirds">
        {{>includes/back}}

        <div class="page-header">
            <h1 class="page-header--lede heading-xlarge">Check your answers</h1>
            <h2 class="page-header--sub heading-secondary">Business activities</h2>
        </div>

        <div id="example-1">
            <section class="check-your-answers">
                <dl>
                    <dt>The services you provide are: <a href="/anti-money-laundering/money-service-business/services?edit=true" class="edit">Edit<span class="visuallyhidden"> the types of services your business provides</span></a></dt>
                    <dd>Transmitting money</dd>
                    <dd>Currency exchange</dd>
                    <dd>Cheque cashing (all businesses except scrap metal dealers)</dd>
                    <dd>Cheque cashing (scrap metal dealers)</dd>
                </dl>
            </section>
        </div>

        <div id="example-1b">
            <section class="check-your-answers">
                <dl>
                    <dt>The services you provide are: </dt>
                    <dd>Transmitting money</dd>
                    <dd>Currency exchange</dd>
                    <dd>Cheque cashing (all businesses except scrap metal dealers)</dd>
                    <dd>Cheque cashing (scrap metal dealers)</dd>
                </dl>
                <p><a href="/anti-money-laundering/money-service-business/services?edit=true" class="edit">Edit<span class="visuallyhidden"> the types of services your business provides</span></a></p>
            </section>
        </div>

        <div id="example-2">
            <section class="check-your-answers">
                <div class="grid-row">
                    <header class="check-your-answers--header column-two-thirds">
                        <h2 class="heading-small">The services you provide are: </h2>
                    </header>
                    <footer class="check-your-answers--footer column-one-third">
                        <a href="/anti-money-laundering/money-service-business/services?edit=true" class="edit">Edit<span class="visuallyhidden"> the types of services your business provides</span></a>
                    </footer>
                </div>

                <ul class="grid-row list check-your-answers--list">
                    <li>Transmitting money</li>
                    <li>Currency exchange</li>
                    <li>Cheque cashing (all businesses except scrap metal dealers)</li>
                    <li>Cheque cashing (scrap metal dealers)</li>
                </ul>
            </section>
        </div>

        <div id="example-2b">
            <section class="check-your-answers">
                <h2 class="heading-small">The services you provide are: </h2>
                <ul class="list check-your-answers--list">
                    <li>Transmitting money</li>
                    <li>Currency exchange</li>
                    <li>Cheque cashing (all businesses except scrap metal dealers)</li>
                    <li>Cheque cashing (scrap metal dealers)</li>
                </ul>
                <p><a href="/anti-money-laundering/money-service-business/services?edit=true" class="edit">Edit<span class="visuallyhidden"> the types of services your business provides</span></a></p>
            </section>
        </div>

        <div id="table">
            <table class="check-your-answers">
                <tbody>
                    <tr>
                        <th>Which services does your business provide?</th>
                        <th class="edit" width="12"><a href="/anti-money-laundering/money-service-business/services?edit=true" aria-label="You can edit this section.">Edit</a></th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Transmitting money
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Currency exchange
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Cheque cashing (all businesses except scrap metal dealers)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Cheque cashing (scrap metal dealers)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form method="post">
            <div class="form-group">
                <input type="submit" class="button" value="Accept and complete section">
            </div>
        </form>
        <p><a href="#">Print this page</a></p>
    </div>
</div>


<details>
  <summary class="[modifier class]" role="button" aria-expanded="false">Opening Times</summary>
  <div id="details-content-1">
    <h3>The office is open:</h3>
    <p>9am - 5pm Monday to friday.</p>
    <h3>The office is closed:</h3>
    <ul>
      <li>On Saturdays and Sundays.</li><li>
      </li><li>On Bank Holidays and National holidays.</li><li>
    </li></ul>
    <a href="">More Details</a>
  </div>
</details>
{{/main}}
{{/layout}}
