{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}

            <div class="page-header">
                <h1 class="page-header--lede heading-xlarge">Check your answers</h1>
                <h2 class="page-header--sub heading-secondary">Business activities</h2>
            </div>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business involved in any other activities, which are not covered by Money Laundering Regulations?</h2>
                <p>No</p>
                <p><a href="confirm-activities" class="edit">Edit<span class="visuallyhidden"> “Is your business involved in any other activities, which are not covered by Money Laundering Regulations?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">How much turnover do you expect in the next 12 months?</h2>
                <p>&pound;250,000 - &pound;100,000</p>
                <p><a href="business-turnover" class="edit">Edit<span class="visuallyhidden"> How much turnover do you expect in the next 12 months?</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Is your business a franchise?</h2>
                <p>No</p>
                <p><a href="franchise" class="edit">Edit<span class="visuallyhidden"> “Is your business a franchise?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Approximately how many people does your business employ?</h2>
                <p>50</p>
                <p><a href="employees" class="edit">Edit<span class="visuallyhidden"> “Approximately how many people does your business employ?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Approximately how many people work on activities covered by Money Laundering Regulations?</h2>
                <p>10</p>
                <p><a href="employees" class="edit">Edit<span class="visuallyhidden"> “Approximately how many people work on activities covered by Money Laundering Regulations?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you have customers who live or work outside of the UK?</h2>
                <p>Yes</p>
                <p><a href="/anti-money-laundering/money-service-business/services?edit=true" class="edit">Edit<span class="visuallyhidden"> “Do you have customers who live or work outside of the UK?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Where do these customers live or work?</h2>
                <p>USA, India</p>
                <p><a href="employment" class="edit">Edit<span class="visuallyhidden"> “Where do these customers live or work?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Do you keep records of all your transactions with customers?</h2>
                <p>No</p>
                <p><a href="records" class="edit">Edit<span class="visuallyhidden"> “Do you keep records of all your transactions with customers?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business have written guidance for staff on how to identify and report suspicious activity?</h2>
                <p>Yes</p>
                <p><a href="procedures" class="edit">Edit<span class="visuallyhidden"> “Does your business have written guidance for staff on how to identify and report suspicious activity?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Has your business registered online with the National Crime Agency?</h2>
                <p>Yes</p>
                <p><a href="crime-agency" class="edit">Edit<span class="visuallyhidden"> “Has your business registered online with the National Crime Agency?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business have a formal risk assessment policy and procedure?</h2>
                <p>Yes: paper-based</p>
                <p><a href="risk-assessment" class="edit">Edit<span class="visuallyhidden"> “Does your business have a formal risk assessment policy and procedure?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does your business receive advice on Money Laundering Regulations and due diligence?</h2>
                <ul class="check-your-answers--list">
                    <li>Yes</li>
                    <li>Professional advisor: Alice Example</li>
                    <li>Clavering House<br />Clavering Place<br />Newcastle<br />NE1 3GN</li>
                </ul>
                <p><a href="accountant" class="edit">Edit<span class="visuallyhidden"> “Does your business receive advice on Money Laundering Regulations and due diligence?”</span></a></p>
            </section>

            <section class="check-your-answers">
                <h2 class="heading-small">Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)?</h2>
                <ul class="check-your-answers--list">
                    <li>Yes</li>
                    <li>HMRC agent code: 0123456789</li>
                </ul>
                <p><a href="tax-matters" class="edit">Edit<span class="visuallyhidden"> “Does this professional advisor also manage your tax affairs with HM Revenue and Customs (HMRC)?”</span></a></p>
            </section>

            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

        </div>
    </div>

{{/main}}
{{/layout}}
