{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">
            {{>includes/back}}

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Trading premises</span>
               What does your business do at these premises?
            </h1>

            <form class="form" method="post">
                {{! <input type="hidden" name="next-page" value="premises-registered"> }}
                <fieldset>
                    <legend class="visuallyhidden">What does your business do at these premises?</legend>

                    <p>Select all that apply</p>
                    <div class="form-group">
                        <label class="block-label" for="vat">
                            <input id="vat" type="checkbox" name="next-page" value="premises-registered">{{>includes/business-type}}
                        </label>
                        <label class="block-label" for="msb">
                            <input id="msb" type="checkbox" name="next-page" value="premises-registered">Accountancy Service Provider
                        </label>


                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
    	   	</form>



        </div>
    </div>


{{/main}}
{{/layout}}
