{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                    <span class="heading-secondary">Payment</span>
                    Check your answers
                </h1>


                <p>Please check all the information you have provided.</p>

                <table class="space">
                    <tbody>
                        <tr>
                            <th width="90%">How will you pay</th>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Electronically
                            </td>
                        </tr>

                    </tbody>
                </table>

                <form method="post">
                    <div class="form-group">
                        <input type="submit" class="button" value="Save and complete section">
                    </div>
                </form>



            </div>
        </div>


{{/main}}
{{/layout}}
