{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}


	<div class="grid-row">
	  	<div class="column-two-thirds">

			<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Is this your registered office or main place of business?
			</h1>

			<div class="panel panel-border-wide spacelarge">
				<p>Company name
				<br>Registered address
				<br>Town
				<br>County
				<br>AB1 2DE</p>
			</div>

			<form method="post">
				<fieldset class="inline">
					<legend class="visuallyhidden">Is this your registered office or main place of business?</legend>
					<div class="form-group">
						<label class="block-label" for="radio-inline-2-1">
							<input id="radio-inline-2-1" type="radio" name="next-page" value="contacting-you">Yes
						</label>
						<label class="block-label" for="radio-inline-2-3">
							<input id="radio-inline-2-3" type="radio" name="next-page" value="new-registered-office">No
						</label>
					</div>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</fieldset>
			</form>

	  	</div>
	</div>

{{/main}}
{{/layout}}