{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
                What you need
            </h1>

            <p>For this section you'll need your:</p>
            
            <ul class="list-bullet space">
                <li>VAT number, if relevant</li>
                <li>Corporation Tax number, if relevant</li>
                <li>registered office or main place of business</li>
                <li>phone number</li>
                <li>email address</li>
                <li>website address, if available</li>
            </ul>

            <div class="form-group">
                <a href="registered" class="button ">Continue</a>
            </div>


        </div>
    </div>

{{/main}}
{{/layout}}