{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                
                <a href="#" class="link-back">Back</a>
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        AMLS
	   		          </span>
                   Declaration</h1>
               
              <p>Text of declaration.</p>
              
                  <div class="form-group">
   			<a href="#" class="button">Pay and submit application</a>
		</div>
                
                </div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
                
            		</div>
                
              
                

  
        

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
