{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}


	<div class="grid-row">
	  	<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Registered office or principal place of business
			</h1>

			<p class="lede">We have the following address details for you.</p>
			<div class="panel-indent panel-indent-info space">
				<p>Your organisation's
				<br>Registered address
				<br>Town
				<br>County
				<br>AB1 2DE</p>
			</div>


			<form method="post">
				<fieldset>
					<legend class="form-label-bold">Is this address your regstered office or principal place of business?</legend>

					<div class="form-group">
						<label class="block-label" for="radio-inline-2-1">
							<input id="radio-inline-2-1" type="radio" name="next-page" value="2">Yes, and I would like correspondence to be sent here.
						</label>
						<label class="block-label" for="radio-inline-2-2">
							<input id="radio-inline-2-2" type="radio" name="next-page" value="1b">Yes, but I would like to provide a different address for correspondence.
						</label>
						<label class="block-label" for="radio-inline-2-3">
							<input id="radio-inline-2-3" type="radio" name="next-page" value="1a">No
						</label>
					</div>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</fieldset>
			</form>

			<p><a href="../summary" >Save and return to your application summary</a></p>

			<a href="javascript:history.go(-1)" class="link-back">Back</a>

	  	</div>

	  	<div class="column-one-third">
			{{>includes/action-links}}
		</div>

	</div>

{{/main}}
{{/layout}}