{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
              Has this business been registered before? 
            </h1>
            <span class="form-hint">This only refers to anti-money laundering registration with HMRC</span>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="6">

                <fieldset>
                    <legend class="visuallyhidden">Is this the first time your business has registered for anti-money laundering supervision?</legend>

                    <div class="form-group">

                        <label class="block-label" for="yes" data-target="example-ni-no">
                            <input id="yes" type="radio" name="activities" value="asp">Yes, this business has an existing registration
                        </label>

                        <div class="panel-indent js-hidden" id="example-ni-no">
                            <label class="form-label" for="mlr-reg">Money Laundering Regulation registration number</label>
                            <input class="form-control"  type="text" id="mlr-reg">
                        </div>

                        <label class="block-label" for="yes2" data-target="example-ni-no2">
                            <input id="yes2" type="radio"  name="activities" value="bpsp">Yes, this business was registered in the past, but it's not currently registered
                        </label>
                        <div class="clearfix js-hidden"></div>

                        <div class="panel-indent js-hidden" id="example-ni-no2">
                            <label class="form-label" for="mlr-reg2">MLR registration number (optional)</label>
                            <input class="form-control" type="text" id="mlr-reg2">
                        </div>

                        <label class="block-label">
                            <input id="no" type="radio" name="activities" value="eab">No
                        </label>

                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>
        </div>

        <p><a href="../summary" >Save and return to your application summary</a></p>
        <a href="javascript:history.go(-1)" class="link-back">Back</a>

        <div class="column-one-third">
            {{>includes/action-links}}
		</div>

    </div>



{{/main}}
{{/layout}}