{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
                Is this the first time your business has registered for anti-money laundering supervision?
            </h1>

            <form class="form" method="post">
                <input type="hidden" name="next-page" value="6">

                <fieldset>
                    <legend class="visuallyhidden">Is this the first time your business has registered for anti-money laundering supervision?</legend>

                    <div class="form-group">
                        <label class="block-label" for="yes" data-target="exisiting">
                            <input id="yes" type="radio" name="activities" value="asp">Yes, I have an existing registration
                        </label>

                        <div class="panel js-hidden" id="exisiting">
                            <label class="form-label" for="mlr">MLR registration number</label>
                            <input class="form-control" name="mlr" type="text" id="mlr">
                        </div>

                        <label class="block-label" for="yes2" data-target="earlier">
                            <input id="yes2" type="radio"  name="activities" value="bpsp">Yes, I was registered in the past but am not presently
                        </label>
                        <div class="clearfix js-hidden"></div>

                        <div class="panel js-hidden" id="earlier">
                            <label class="form-label" for="mlr-op">MLR registration number (optional)</label>
                            <input class="form-control" name="mlr-op" type="text" id="mlr-op">
                        </div>

                        <label class="block-label">
                            <input id="no" type="radio" name="activities" value="eab">No
                        </label>

                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
            </form>

            <a href="javascript:history.go(-1)" class="link-back">Back</a>
        </div>
    </div>





    </div>



{{/main}}
{{/layout}}