{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
                Contact details
            </h1>

            {{! <h3 class="heading-medium">Contacting your business (needs a better title)</h3> }}

            <form method="post">

                <input type="hidden" name="next-page" value="5">

                <fieldset>
                    <legend class="visuallyhidden">Contacting your business</legend>
                    <input type="hidden" name="next-page" value="5">
                    <div class="form-group">
                        <label class="form-label-bold" for="phone">Business phone number</label>
                        <input class="form-control" type="text" id="phone"  />
                    </div>

                    <div class="form-group">
                        <label class="form-label-bold" for="email">Email address</label>
                        <input class="form-control" type="email" id="email"  />
                    </div>
                    {{! <div class="form-group">
                        <label class="form-label-bold" for="mobile">Mobile contact number (optional)</label>
                        <input class="form-control" type="text" id="mobile"  />
                    </div> }}
                </fieldset>

                {{! <fieldset class="inline">
                    <legend class="form-label-bold">Does your business have a website?</legend>
                    <div class="form-group">
                        <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
                            <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">Yes
                        </label>

                        <label class="block-label" for="radio-indent-2">
                            <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">No
                        </label>

                        <div class="panel js-hidden" id="example-ni-no">
                            <label class="form-label" for="national-insurance">What is the address of your website?</label>
                            <input class="form-control" name="national-insurance" type="text" id="national-insurance">
                        </div>
                    </div>
                </fieldset> }}

                {{! <fieldset class="inline">
                    <legend class="form-label-bold">Does your business have an email address?</legend>
                    <div class="form-group">
                        <label class="block-label" data-target="emailaddress" for="radio-indent-3">
                            <input id="radio-indent-3" type="radio" name="radio-indent-group2" value="Yes">Yes
                        </label>

                        <label class="block-label" for="radio-indent-4">
                            <input id="radio-indent-4" type="radio" name="radio-indent-group2" value="No">No
                        </label>

                        <div class="panel js-hidden" id="emailaddress">
                            <label class="form-label" for="national-insurance">What is the business's email address?</label>
                            <input class="form-control" name="national-insurance" type="text" id="national-insurance">
                        </div>
                    </div>
                </fieldset> }}

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>



            <a href="javascript:history.go(-1)" class="link-back">Back</a>

        </div>

        <div class="column-one-third">
            {{>includes/action-links}}
		</div>
	</div>


{{/main}}
{{/layout}}