{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Where is your registered office or main place of business?
			</h1>

			<form method="post">
				<input type="hidden" name="next-page" value="letters">

				{{>includes/address}}

				<div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>

			<a href="javascript:history.go(-1)" class="link-back">Back</a>

	  	</div>
	</div>

{{/main}}
{{/layout}}
