{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}


	<div class="grid-row">
	  	<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Business address
			</h1>

			<p>We have the following address details for you:</p>
			<div class="panel space">
				<p>Your organisation
				<br>Registered address
				<br>Town
				<br>County
				<br>AB1 2DE</p>
			</div>

			<form method="post">
				<fieldset class="inline">
					<legend class="form-label-bold">Is this address your registered office or main place of business?</legend>
					<div class="form-group">
						<label class="block-label" for="radio-inline-2-1">
							<input id="radio-inline-2-1" type="radio" name="next-page" value="letters">Yes
						</label>
						<label class="block-label" for="radio-inline-2-3">
							<input id="radio-inline-2-3" type="radio" name="next-page" value="new-registered-office">No
						</label>
					</div>



					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</fieldset>
			</form>


			{{! <form method="post">
				<fieldset>
					<legend class="form-label-bold">Is this address your registered office or main place of business?</legend>
					<div class="form-group">
						<label class="block-label" for="radio-inline-2-1">
							<input id="radio-inline-2-1" type="radio" name="next-page" value="contact-details">Yes, and I would like letters relating to anti-money laundering supervision to be sent here.
						</label>
						<label class="block-label" for="radio-inline-2-2">
							<input id="radio-inline-2-2" type="radio" name="next-page" value="1b">Yes, but I would like to provide a different address for letters relating to anti-money laundering supervision.
						</label>
						<label class="block-label" for="radio-inline-2-3">
							<input id="radio-inline-2-3" type="radio" name="next-page" value="1a">No
						</label>
					</div>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</fieldset>
			</form> }}

			<a href="javascript:history.go(-1)" class="link-back">Back</a>

	  	</div>

	  	<div class="column-one-third">
			{{>includes/action-links}}
		</div>

	</div>

{{/main}}
{{/layout}}