{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Section summary
			</h1>

			<p>Please check all the information you have provided.</p>

			<table class="space">
				<tbody>
					<tr>
						<th width="90%">Registered office or main place of business</th>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">Your organisation's
							<br>Registered address
							<br>Town
							<br>County
							<br>AB1 2DE
						</td>
					</tr>
				</tbody>
			</table>
			<table class="space">
				<tbody>
					{{! <tr>
						<th>Should we use a different correspondance address?</th>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">Yes</td>
					</tr> }}

					<tr>
						<th width="90%">Contacting you</th>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">0191 234 5678</td>
					</tr>
					<tr>
						<td colspan="2">info@acme.com</td>
					</tr>
					<tr>
						<td colspan="2">http://www.acme.com</td>
					</tr>
					<tr>
						<td colspan="2">
							Your organisation's<br>
							Correspondance address<br>
							Town<br>
							County<br>
							AB1 2DE
						</td>
					</tr>
				</tbody>
			</table>
			<table class="space">
				<tbody>
					<tr>
						<th width="90%">VAT number</th>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<td colspan="2">2468 1357 90</td>
					</tr>
				</tbody>
			</table>

			<table class="space">
				<tbody>


					<tr>
						<th width="90%">Current or previous Money Laundering Registration number</th>
						<td><a href="#">Edit</a></td>
					</tr>


					<tr>
						<td colspan="2">8765 4321</td>
					</tr>




					{{!


					<tr>
						<th width="50%">Have you been registered for MLR before?</th>
						<td>Yes, I have an existing registration</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">MLR registration number</th>
						<td>8765 4321</td>
						<td><a href="#">Edit</a></td>
					</tr>

					 }}
				</tbody>
			</table>

			{{! <table class="space">
				<tbody>
					<tr>
						<th width="50%">Registered office or principal place of business</th>
						<td>Your organisation's
							<br>Registered address
							<br>Town
							<br>County
							<br>AB1 2DE
						</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Should we use a different correspondance address?</th>
						<td>Yes</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Your nationality</th>
						<td>
							Your organisation's<br>
							Correspondance address<br>
							Town<br>
							County<br>
							AB1 2DE
						</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Business phone number</th>
						<td>0191 234 5678</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Mobile phone number</th>
						<td>0777 234 5678</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Email address</th>
						<td>info@acme.com</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Do you have a business website</th>
						<td>Yes</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Website address</th>
						<td>http://www.acme.com</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Have you been registered for MLR before?</th>
						<td>Yes, I have an existing registration</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">MLR registration number</th>
						<td>8765 4321</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">Are you registered for VAT?</th>
						<td>Yes</td>
						<td><a href="#">Edit</a></td>
					</tr>
					<tr>
						<th width="50%">VAT registration number</th>
						<td>2468 1357 90</td>
						<td><a href="#">Edit</a></td>
					</tr>
				</tbody>
			</table> }}

		<form method="post">
			<div class="form-group">
				<input type="submit" class="button" value="Save and complete section">
			</div>
		</form>


		 <a href="javascript:history.go(-1)" class="link-back">Back</a>



{{/main}}
{{/layout}}
