{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

				<h1 class="heading-xlarge">
					<span class="heading-secondary">About the business</span>
					Check your answers
				</h1>
				<p>Please check all the information you have provided below.</p>


				<table class="space">
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						Registered office
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-1" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Registered office or principal place of business
					</td>
					<td class="answer">
						Your organisation's<br>
						Registered address<br>
						Town<br>
						County<br>
						AB1 2DE
					</td>
					<td class="edit-link">
					</td>
				</tr>
				<tr>
					<td class="question">
						Should we use a different correspondance address?
					</td>
					<td class="answer">
						Yes
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						Correspondance address
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-1a" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Your nationality
					</td>
					<td class="answer">
						Your organisation's<br>
						Correspondance address<br>
						Town<br>
						County<br>
						AB1 2DE
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						Telephoning your business
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-2" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Business phone number
					</td>
					<td class="answer">
						0191 234 5678
					</td>
					<td class="edit-link">
					</td>
				</tr>
				<tr>
					<td class="question">
						Mobile phone number
					</td>
					<td class="answer">
						0777 234 5678
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						Email
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-3" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Email address
					</td>
					<td class="answer">
						info@acme.com
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						Website
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-4" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Do you have a business website
					</td>
					<td class="answer">
						Yes
					</td>
					<td class="edit-link">
					</td>
				</tr>
				<tr>
					<td class="question">
						Website address
					</td>
					<td class="answer">
						http://www.acme.com
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						MLR registration
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-5" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Have you been registered for MLR before?
					</td>
					<td class="answer">
						Yes, I have an existing registration
					</td>
					<td class="edit-link">
					</td>
				</tr>
				<tr>
					<td class="question">
						MLR registration number
					</td>
					<td class="answer">
						8765 4321
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th class="section-name complete" colspan="2">
						<h2>
						VAT registration
						</h2>
					</th>
					<th class="edit-link">
						<a href="business-details-6" class="">
							Edit
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="question">
						Are you registered for VAT?
					</td>
					<td class="answer">
						Yes
					</td>
					<td class="edit-link">
					</td>
				</tr>
				<tr>
					<td class="question">
						VAT registration number
					</td>
					<td class="answer">
						2468 1357 90
					</td>
					<td class="edit-link">
					</td>
				</tr>
			</tbody>
		</table>
		<form method="post">
			<div class="form-group">
				<input type="submit" class="button" value="Save and complete section">
			</div>
		</form>


		 <a href="javascript:history.go(-1)" class="link-back">Back</a>





{{/main}}
{{/layout}}
