{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
<h1 class="heading-xlarge">
                <span class="heading-secondary">Estate Agent Business</span>
                Check your answers
            </h1>

                      

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Which services does your business provide?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Residential Estate Agency
                        </td>
                    </tr>
                    </tbody>
                    </table>


    <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Is this business registered with a redress scheme?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes: The Property Ombudsman Limited 
                        </td>
                    </tr>
                    </tbody>
                    </table>




                   

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has the business, or anyone in the business, ever been penalised under the Estate Agents Act 1979?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        My business received a penalty in 2003 because of reasons X, Y, Z.
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has the business, or anyone in the business, ever been penalised by a professional body?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            No
                        </td>
                    </tr>
                   
                </tbody>
            </table>


            <form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>



        </div>
    </div>


{{/main}}
{{/layout}}