{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
<h1 class="heading-xlarge">
                <span class="heading-secondary">Money service business</span>
                Do you have branches or agents in other countries?
            </h1>
           <p>An agent is a person or a business that works on behalf of your business to offer your services.</p>
            <form class="form" method="post">

                <input type="hidden" name="next-page" value="transactions">

                {{! <div class="form-group">
                    <label class="form-label form-hint" for="amount">Give the answer in whole pounds (£)</label>
                    <input id="amount" type="text" class="form-control" name="amount">
                </div> }}

                <div class="form-group">
                    <fieldset class="inline">
                        <legend class="visuallyhidden">Do you have branches or agents in other countries?</legend>
                        <label class="block-label" for="radio-inline-1" data-target="agents">
                            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
                        </label>
                        <label class="block-label" for="radio-inline-2">
                            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
                        </label>
                    </fieldset>

                    <div class="panel panel-indent js-hidden" id="agents">
                        <label class="form-label" for="specify">Which countries?</label>
                        <span class="form-hint">List up to 10 countries</span>

                        <div class="form-group">
                        <div id="countries">

                            <div class="form-group">
                                <label for="country1" class="form-label"></label>
                                <input type="text" class="form-control" id="country1">
                            </div>

                        </div>
                        </div>

                        <p><a href="#" onclick="add()" >Add another country</a></p>

                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>

        </div>
    </div>

{{/main}}
{{/layout}}

<script>
var numAdd = 1;
var add = function() {
    if (numAdd >= 10) return;
    $('#countries').append('<div class="form-group"> <label for="" class="form-label"></label><input type="text" class="form-control" id=""></div');
    numAdd++;
};

</script>