{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge"><span class="heading-secondary">Submit registration</span>
			You have already registered for anti-money laundering supervision</h1>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">


		<p class="lede">Your registration for anti-money laundering supervision has been submitted.</p>
		<p>Below is a breakdown of your payments</p>
	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration">
	  			<h2 class="heading-small">Payment details</h2>

	  			<p>All sections complete: you can now submit the registration.</p>

	  			<div class="form-group">
                    <a href="declaration/index" class="button" type="submit">Make payment</a>
				</div>
  			</div>
	  	</div>
  	</div>



{{/main}}
{{/layout}}
