{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge"><span class="heading-secondary">Submit registration</span>
			Confirmation</h1>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="govuk-box-highlight spacelarge">
				<p class="heading-large"><img src="public/images/icons/tick.png"> Your registration for anti-money laundering supervision has been submitted.</p>
				<p class="heading-small">Reference code: XAAM00000123456</p>
			</div>


			<div class="panel panel-border-wide spacelarge">
				<p>Your registration payment amount is:
				<br /><span class="heading-xlarge">&pound;1160.00</span></p>
			</div>



			<p>Below is a breakdown of your registration charge</p>
			 <table class="spacelarge">
                <thead>
                	<th></th>
                	<th width="15%">Quantity</th>
                	<th width="20%" class="numeric">Fee</th>
                	<th width="20%" class="numeric">Cost</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Application submission</td>
                        <td>1</td>
                        <td class="numeric">&pound;100.00</td>
                        <td class="numeric">&pound;100.00</td>
                    </tr>
                    <tr>
                        <td>Responsible people</td>
                        <td>4</td>
                        <td class="numeric">&pound;100.00</td>
                        <td class="numeric">&pound;400.00</td>
                    </tr>
                    <tr>
                        <td>Trading premises</td>
                        <td>6</td>
                        <td class="numeric">&pound;110.00</td>
                        <td class="numeric">&pound;660.00</td>
                    </tr>
                </tbody>
            </table>


            <h2 class="heading-medium">Information</h2>

            {{! <div class="panel panel-border-wide"> }}
            	<p>Please make a note of your registation reference and payment reference, print off or save this information</p>
            {{! </div> }}

			<p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>
	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration">
	  			<h2 class="heading-medium">How to pay</h2>
	  			<p>When you complete the registration you'll be given the full amount you need to pay. You have 28 days to complete the registration. You can save your progress and return to it later. </p>

	  			<h3 class="heading-small">Payment reference:</h3>
	  			<p>XAAM00000123456</p>



{{! 	  			<div class="form-group">
                    <a href="payment/index" class="button" type="submit">Make payment</a>
				</div>
 }}  			</div>
	  	</div>
  	</div>



{{/main}}
{{/layout}}
