{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                
                <a href="#" class="link-back">Back</a>
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Bank details
	   		          </span>
                   Add a bank account</h1>
				<form method="post">
				<input type="hidden" name="next-page" value="summary-3">
					
				<div class="form-group">
					<label class="form-label" for="first-name">Account name</label>
					<input type="text" id="first-name">
				</div>

				
				 <div class="form-group">
								<label class="form-label" for="first-name">IBAN number</label>
								<input type="text" id="first-name">
							</div>
							  <p>or</p>
							<div class="form-group">
								<label class="form-label" for="middle-name">Bank account number</label>
								<input type="text" id="middle-name">
							</div>

				
				                
				<div class="form-group">
                
                    <fieldset>
						<legend>What type of account is this?</legend>
                        <label class="block-label" for="radio-inline-2-1">
                          <input id="radio-inline-2-1" type="radio" name="radio-inline-group-2" value="Yes">
                          Personal bank account
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                          <input id="radio-inline-2-2" type="radio" name="radio-inline-group-2" value="No">
                          Business's bank account
                        </label>
						<label class="block-label" for="radio-inline-2-3">
                          <input id="radio-inline-2-3" type="radio" name="radio-inline-group-2" value="No">
                          Another business's bank account
                        </label>
						
						
                        </fieldset>
                      </div>
				
                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>
				<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
				</form>
                </div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
                
            		</div>



	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
		$("#uk-no").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
		  $("#uk-no").hide();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
		  $("#uk-no").show();
      });
    });
  })(jQuery || window.jQuery);
</script>


{{/content}}

{{/layout-amls}}
