{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                	<span class="heading-secondary">Trading premises</span>
                   	Your answers
				</h1>

                <div class="panel panel-border-wide spacelarge">
                    <p><a href="premises">Add a trading premise</a></p>
                </div>


                <table class="spacesummary">
                    <tbody>
                        <tr>
                            <th>ACME Limited</th>
                            <td class="numeric"><a href="premises">Edit</a></td>
                            <td width="10%" class="numeric"><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                            <td width="40%">Address:</td>
                            <td colspan="2">This Street
                                <br />Town
                                <br />County
                                <br />AB1 2DE</td>
                        </tr>
                        <tr>
                            <td>Trading start date:</td>
                            <td colspan="2">31 March 2010</td>
                        </tr>
                        <tr>
                            <td>Residential adress:</td>
                            <td colspan="2">No</td>
                        </tr>
                        <tr>
                            <td>Who uses these premises:</td>
                            <td colspan="2">My Business</td>
                        </tr>
                        <tr>
                            <td>Services at this address:</td>
                            <td colspan="2">Estate agents business</td>
                        </tr>
                    </tbody>
                </table>


				<a href="../registration-progress" class="button" type="submit">Confirm and continue</a>



			</div>
		</div>

{{/main}}
{{/layout}}
