{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Does your business have a formal risk assessment policy and procedure?
            </h1>

            <form class="form" method="post">

                <input type="hidden" name="next-page" value="accountant">
                <fieldset>
                    <legend class="visuallyhidden">Does your business have a formal risk assessment policy and procedure?</legend>
                    <div class="form-group">
                        <fieldset class="inline">
                            <label class="block-label" for="radio-inline-5" data-target="records">
                                <input id="radio-inline-5" type="radio" name="radio-inline-group3" value="Yes">Yes
                            </label>
                            <label class="block-label" for="radio-inline-6" >
                                <input id="radio-inline-6" type="radio" name="radio-inline-group3" value="No">No
                            </label>
                        </fieldset>

                        <div class="panel panel-indent js-hidden" id="records">
                            <div class="form-group">
                                <fieldset>
                                    <legend class="form-label-bold">Is it paper-based or digital?</legend>
<p>Select all that apply</p>
                                    <label class="block-label" for="manual" >
                                        <input id="manual" type="checkbox" name="radio-group" value="Northern Ireland">Paper-based
                                    </label>
                                    <label class="block-label" for="electronic" >
                                        <input id="electronic" type="checkbox" name="radio-group" value="Isle of Man or the Channel Islands">Digital
                                    </label>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <input type="submit" class="button" value="Save and continue">
                </div>

            </form>


        </div>
    </div>

{{/main}}
{{/layout}}