{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
                <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                Your answers
            </h1>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business do anything else?</th>
                        <td><a href="confirm-activities">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">How much turnover do you expect in the next 12 months?</th>
                        <td><a href="business-turnover">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;2 - &pound;10</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">How much turnover do you expect in the next 12 months, from these activities?</th>
                        <td><a href="turnover">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">&pound;250k - &pound;1m</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Is your business a franchise?</th>
                        <td><a href="franchise">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">No</td>
                    </tr>

                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Employees</th>
                        <td><a href="employees">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">64</td>
                    </tr>
                    <tr>
                        <td colspan="2">6 directly involved in MLR activities</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you have customers who live outside of the UK?</th>
                        <td><a href="employment">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">France<br />Germany<br />Norway<br />Sweden</td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you keep records of all your transactions with customers?</th>
                        <td><a href="records">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">Spreadsheet</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business have written guidance for staff on how to identify and report suspicious activity?</th>
                        <td><a href="procedures">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has your business registered online with the National Crime Agency?</th>
                        <td><a href="crime-agency">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business have a formal risk assessment policy and procedure?</th>
                        <td><a href="risk-assessment">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
             <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Does your business use an external accountant or financial advisor?</th>
                        <td><a href="accountant">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                </tbody>
            </table>
            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Who is your accountant?</th>
                        <td><a href="accountant-details">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">James Bell</td>
                    </tr>
                    <tr>
                        <td colspan="2">Bookkeepers Limited</td>
                    </tr>
                    <tr>
                        <td colspan="2">Clavering House<br />Clavering Place<br />Newcastle<br />NE1 3GN</td>
                    </tr>
                </tbody>
            </table>

            <table class="spacelarge">
                <tbody>
                    <tr>
                        <th width="90%">Does this accountant also deal with HMRC on behalf of your business, for tax-related matters?</th>
                        <td><a href="tax-matters">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">HMRC Agent Reference Number: 0123456789</td>
                    </tr>



                </tbody>
            </table>

            <a href="../registration-progress" class="button" type="submit">Confirm and continue</a>

        </div>
    </div>

{{/main}}
{{/layout}}