{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="../summary" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			About the business
	   		</span>
	   		Where is your registered office or principal place of business?
	   	</h1>

		<form method="post">
      
		   	{{>includes/amls/address}}

			<div class="form-group">
			
				<label class="form-label">Do you want to provide an alternative address for correspondence?</label>
                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-2-1">
                          <input id="radio-inline-2-1" type="radio" name="next-page" value="1b">
                          Yes
                        </label>
                        <label class="block-label" for="radio-inline-2-2">
                          <input id="radio-inline-2-2" type="radio" name="next-page" value="2">
                          No
                        </label>
                    </fieldset>
			
			</div>

			<div class="form-group">
                <input type="submit" class="button" value="Check your answers">
   			</div>

<div class="form-group">
   			<a href="../summary" >Save and return to your application summary</a>
		</div>
	   	</form>



	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    //when next button is clicked create a function
    $('#next').click(function() {
        //if radio button yes is checked go to home '/'
        if($('#radio-inline-2-1').is(':checked')){
            location.href = 'business-details-1a'
        }
        // else if radio button no is checked go to /summary page
        else if ($('#radio-inline-2-2').is(':checked')){
            location.href = 'business-details-2'
        }
        // else if nothing is ticket return false and od nothing
        else{
            return false;
        }
    });
</script>

{{/content}}

{{/layout-amls}}
