{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Your application status
        </h1>

    </div>
</div>

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p><span class="heading-small">Your business:</span><br />Ubunchews Accountany Services</span></p>
        </div>
    </div>

</div>

<div class="grid-row">
    <div class="column-two-thirds status-text">
        <h2 class="heading-medium">Application withdrawn</h2>
        <p>Your application has been withdrawn, and your business is not registered with HM Revenue and Customs for anti-money laundering supervision.</p>
        <div class="form-group">
            <a href="../pre-application/confirm-am" class="button" type="submit">Submit new application</a>
        </div>
    </div>
</div>
{{/main}}
{{/layout}}
