{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                	<span class="heading-secondary">Trading premises</span>
                   	Check your answers
				</h1>

			 	<p>Please check all the information you have provided.</p>

				<table class="spacelarge">
                    <tbody>
                        <tr>
                            <th colspan="3" width="88%">ACME Limited</th>
                            <td><a href="account-details">Edit</a></td>
                        </tr>
                        {{! <tr>
                            <td>Account</td>
                            <td>Sort Code</td>
                            <td>Whose account</td>
                            <td>UK</td>
                        </tr> }}
                        <tr>
                            <td width="25%">01234537</td>
                            <td width="25%">45-33-14</td>
                            <td>Personal</td>
                            <td>UK</td>
                        </tr>
                    </tbody>
                </table>

				<table class="space">
					<thead>
						<tr>
							<th>Name</th>
							<th width="30%">Address</td>
							<th>Activities</th>
							<th>Whose premises?</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ACME</td>
							<td>Your organisation's
								<br />Registered address
								<br />Town
								<br />County
								<br />AB1 2DE
							</td>
							<td>Estate agent business</td>
							<td>Own</td>
							<td><a href="summary-own">Edit</a></td>
						</tr>
						<tr>
							<td>Agent of ACME</td>
							<td>Your agents's
								<br />Registered address
								<br />Town
								<br />County
								<br />AB1 2DE
							</td>
							<td>Estate agent business</td>
							<td>Agent's</td>
							<td><a href="summary-agent">Edit</a></td>
						</tr>
					</tbody>
				</table>

				<p><a href="index">Add another premises</a></p>
				<form method="post">
					<div class="form-group">
						<input type="submit" class="button" value="Accept and complete section">
					</div>
				</form>



			</div>
		</div>

{{/main}}
{{/layout}}
