@import 'app';

// for anyone panicking about the nested media queries...
// https://www.npmjs.com/package/css-mqpacker
// https://www.npmjs.com/package/gulp-postcss

// dimensions
$gutter: 20px; // this probably needs a better name

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

// -- IE8 Hacks
// just to make things look less broken in IE8…
// these are mostly due to lack of respect for media queries
.lte-ie8 {

  #content {
    margin: 0 auto;
  }

  .column-one-third {
    float: left;
    width: 33.33333%;
  }

  .column-two-thirds {
    float: left;
    width: 66.66667%;
  }

  .reg-step--submit {
    margin: 0;
    padding-left: 0;
  }

  // Registration step: block-level link
  a.reg-step {
    background-image: url('../images/icons/icon-chevron-grey-large.png');
    background-position: 95% 50%;

    &:focus,
    &:hover {
      background-image: url('../images/icons/icon-chevron-white.png');
    }

    &.complete {
      background-image: url('../images/icons/icon-tick-white.png');
      background-position: 85% 50%;
    }
  }

  // status list
  .status-list--complete .status-list--icon {
    background-image: url('../images/icons/icon-tick-white.png');
    background-position: 0 0;
    height: 35px;
    top: 5px;
    width: 35px;
  }
}

// Helpers, because GDS
.space {
  margin-bottom: $gutter;
}

.margin20 {
  margin-top: ($gutter * 2);
}

.margin60 {
  margin-top: ($gutter * 4);
}

.reg-step--status-tick {
  margin-top: $gutter;
}

.spacelarge {
  margin-bottom: ($gutter * 2);
}

.spacesummary {
  margin-bottom: ($gutter * 2.5);
}

.link-back,
.nospace {
  margin-bottom: 0;
}

.form-label-bold {
  margin-bottom: .5em;
}

.form-label {
  margin-bottom: .3em;
}

.heading-large {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

// information icon override
.declaration {
  background: $grey-4;
  border-bottom: $grey-3 solid 3px;
  margin: 0 -15px;
  padding: $gutter;

  @media screen and (min-width: 641px) {
    margin: 0;
  }

  h2 {
    margin-top: 0;
  }
}

.govuk-box-highlight {
  margin-top: ($gutter * 2);
  padding: $gutter;

  .heading-large {
    margin: 0;
  }
}

.statuslist {
  background: $grey-2;
  color: $page-colour;
  padding: 10px;
}

.statusdone {
  background: $turquoise;
  color: $page-colour;
}

.statusdone,
.statuspending {
  // background-color: $grey-4;
  // color: $grey-1;
  padding: ($gutter / 2);

}

.grey45 {
  // background-color: $grey-4;
  // border-bottom: 3px solid $grey-3;
  padding: 0 $gutter;
}

.status-text {

  h2 {
    margin-top: ($gutter / 2);
  }

}

hr {
  margin-bottom: 0;
}

/* -- application progress page -- */
.progress-steps {
  margin-bottom: 12px;
}

.progress-steps li {
  margin-bottom: 0;
  margin-top: 12px;
}

.progress-steps li:first-child {
  margin-top: 0;
}

/* qualified attribute selector required here, otherwise
   all text colour takes on regular anchor colour  */
a.progress-step {
  background-color: #dee0e2;
  color: #0b0c0c;
  display: block; /* for IE8 */
  display: flex; /* for everything else */
  margin-bottom: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: .25s ease-in;
  transition-property: background-color, outline;
}

/* give the whole step component a focus outline */
.progress-step:focus {
  outline: 3px solid #ffbf47;
}

/* mimic the anchor colours inside this block-level component */
.progress-step__edit {
  color: #005ea5;
}

.progress-step__edit:focus,
.progress-step__edit:hover {
  color: #2e8aca;
}

.progress-step--details {
  background: #f8f8f8;
  border-bottom: #dee0e2 solid 3px;
  padding: 5px 10px 15px;
}

.progress-step--details p {
  margin: 0;
  padding-bottom: 10px;
}

.progress-step--status {
  background: url("../images/icons/chevron.svg") no-repeat 90% / 33%;
  border-bottom: 3px solid #dee0e2;
  color: #6f777b;
  padding: 0;
  position: relative;
  transition: .25s ease-in;
}

.no-svg .progress-step--status {
  background-image: url("../images/icons/chevron.png");
  background-position: 90%;
}

.progress-step--status__completed,
.progress-step:focus .progress-step--status__completed,
.progress-step:hover .progress-step--status__completed {
  border-bottom-color: #28a197;
}

.progress-step:focus .progress-step--status__started,
.progress-step:focus .progress-step--status__not-started,
.progress-step:hover .progress-step--status__started,
.progress-step:hover .progress-step--status__not-started {
  background-color: #006435;
  background-image: url("../images/icons/chevron-white.svg");
  border-bottom-color: #01552e;
  color: #fff;
}

.no-svg .progress-step:focus .progress-step--status__started,
.no-svg .progress-step:focus .progress-step--status__not-started,
.no-svg .progress-step:hover .progress-step--status__started,
.no-svg .progress-step:hover .progress-step--status__not-started {
  background-image: url("../images/icons/chevron-white.png");
}

.progress-step--status__completed {
  background: #28a197 url("../images/icons/tick.svg") no-repeat 50% / 33%;
  transition: none;
}

.no-svg .progress-step--status__completed {
  background-color: #28a197;
  background-image: url("../images/icons/tick.png");
  background-position: 50%;
}

.no-svg .progress-step--status,
.no-svg .progress-step:focus .progress-step--status__started,
.no-svg .progress-step:focus .progress-step--status__not-started,
.no-svg .progress-step:hover .progress-step--status__started,
.no-svg .progress-step:hover .progress-step--status__not-started,
.no-svg .progress-step--status__completed {
  background-repeat: no-repeat;
}

.progress-step--status-time {
  padding: 15px 15px 0;
}

.lte-ie8 .grid-layout {
  table-layout: fixed;
}

/* having to specify these widths for IE8 until a better fix appears.
   we can get away with this because IE8 isn't responsive */

.lte-ie8 .progress-step > .column-one-third {
  width: 213.66px;
}

.lte-ie8 .progress-step > .column-two-thirds {
  width: 427.33px;
}

@media screen and (max-width: 640px) {
  .progress-step {
    margin: 0 -0.78947em 12px;
  }

  .progress-step .column-one-third {
    float: left;
    width: 33.33333%;
  }

  .progress-step .column-two-thirds {
    float: left;
    width: 66.66667%;
  }

  .progress-step--status__started,
  .progress-step--status__not-started {
    background-size: 20%;
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
  .progress-step--status__started,
  .progress-step--status__not-started {
    background-size: 25%;
  }
}

/* -- // application progress page -- */



/* -- // application status page -- */
// we want the number *inside* the list element here
.status-list {
  padding-left: 0;

  li {
    line-height: 1.25;
    list-style-position: inside;
    padding: 18px 55px 10px 10px;
    position: relative;
  }
}

.status-list--icon {
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;

  .status-list--complete & {
    // tick
    background: url('../images/icons/tick.svg') no-repeat -10px -10px;
    background-size: 164%;
  }
}

.status-list--upcoming {
  background: $grey-2;
  color: $page-colour;
}

.status-list--pending {
  //
}

.status-list--complete {
  background-color: $turquoise;
  color: $page-colour;
}

.status-list--start {
  border-top: 3px solid $grey-2;
}

.status-list--end {
  border-bottom: 3px solid $grey-2;
}



