{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

		  	{{>includes/back}}

            <h1 class="heading-xlarge">
                <span class="heading-secondary">Pre-application</span>
		  		Is this your business?
		  	</h1>

		  	<p>You are registering the following business for anti-money laundering supervision:</p>

            <div class="panel panel-border-wide space">
                <p>{{>includes/business-address}}</p>
            </div>

			<p><a href="structure" >Not the right business?</a></p>

			<div class="form-group">
                <a href="structure-am"  class="button" type="submit" id="save-and-continue">Confirm and continue</a>
            </div>

	  	</div>
	</div>

{{/main}}
{{/layout}}