{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}


	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
	   			<span class="heading-secondary">Submit registration</span>
	   			Declaration
	   		</h1>

            <div class="panel panel-border-wide spacelarge">
                <div class="notice">
                    <i class="icon icon-important"><span class="visuallyhidden">Warning</span></i>
                    <p>You have told us that you are John Doe.</p>
                </div>
            </div>
            <p>I declare that:</p>
            <ul class="list-bullet spacelarge">
                <li>all the information I have given in this application is correct</li>
                <li>I understand that the business must tell HMRC about any change to any of the information on this form</li>
                <li>I understand that non-compliance with the Money Laundering Regulations may result in a civil penalty or criminal prosecution</li>
                <li>I confirm that I have read and understood the <a href="https://www.gov.uk/guidance/money-laundering-regulations-who-needs-to-register">guidance</a></li>
            </ul>


			<div class="form-group">
	            <input type="submit" class="button" value="Confirm and submit">
   			</div>

	  	</div>
	</div>

{{/main}}
{{/layout}}