{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

	<div class="grid-row">
	 	<div class="column-two-thirds">

			{{>includes/back}}
			<h1 class="heading-xlarge">
				<span class="heading-secondary">About the business</span>
				Where is your registered office or main place of business?
			</h1>

			<form method="post">
				<input type="hidden" name="next-page" value="contacting-you">

				{{>includes/address-b}}

				<div class="form-group">
					<input type="submit" class="button" value="Save and continue">
				</div>
			</form>

	  	</div>
	</div>

{{/main}}
{{/layout}}

<script>
$("#over").hide();
$("#radio-inline-2-1").on('click', function() {
  $("#over").hide();
  $("#count").show();
});
</script>

<script>
$("#radio-inline-2-2").on('click', function() {
  $("#over").show();
  $("#count").hide();
});
</script>