{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">About the business</span>
                What you need
            </h1>
        </div>
    </div>

        <div class="grid-row">
        <div class="column-two-thirds">

            <p>For this section you'll need your:</p>

            <ul class="list-bullet spacelarge">
                <li>registered office or main place of business address</li>
                <li>email address</li>
                <li>phone number</li>
                <li>postal address</li>
            </ul>

            <p>Depending on your circumstances, you may also need:</p>
            <ul class="list-bullet spacelarge">
            <li>your Money Laundering Regulations registration number</li>
            <li>the date your business will start activities which need to be supervised</li>
            <li>your VAT registration number</li>
            <li>your Corporation Tax reference number</li>
            </ul>

            <div class="form-group">
                <a href="registered" class="button ">Continue</a>
            </div>


        </div>

        <div class="column-one-third">

             {{>includes/save-message}}

        </div>
    </div>

{{/main}}
{{/layout}}