{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Anti-money laundering supervision registration</span>
                Your application status
            </h1>
        </div>
    </div>

    <div class="grid-row spacelarge">
        <div class="column-two-thirds">
            <div class="panel panel-border-wide">
            <p>Ubunchews Accountany Services
            <br>Benton Park Road
            <br>Newcastle
            <br>Tyne and Wear
            <br>AB1 2DE</p>
        </div>
        </div>
        <div class="column-one-third declaration">
            <p class="heading-small">Confirmation code</p>
            <p class="font-small">CXAAM00000123456</p>
        </div>
    </div>



    <div class="grid-row">
        <div class="column-one-third">
            <ul class="list">
    <li class="statusdone">1. Complete all sections <img src="public/images/icons/icon-tick-white-small.png"  alt="" /></li>
    <li class="statusdone">2. Submit application <img src="public/images/icons/icon-tick-white-small.png"  alt="" /></li>
    <li class="statusdone">3. Pay fee <img src="public/images/icons/icon-tick-white-small.png"  alt="" /></li>
    <li class="statusdone">4. Under review <img src="public/images/icons/icon-tick-white-small.png"  alt="" /></li>
    <li class="statuspending">5. Decision <img src="public/images/icons/icon-tick-white-small.png"  alt="" /></li>
    {{! <li class="statuslist">Renewal Due</li> }}
    {{! <li class="statuslist">Rejected</li>
    <li class="statuslist">Withdrawn</li>
    <li class="statuslist">Timed out</li> }}
</ul>
        </div>
        <div class="column-two-thirds status-text">
            <h2 class="heading-medium">Rejected</h2>
            <p>Your application has been rejected, and your business is not registered with HM Revenue and Customs for anti-money laundering supervision. XXwhat happens now? What do we want them to do?XX</p>
            <div class="form-group">
                <a href="declaration/who-is-registering" class="button" type="submit">Submit new application</a>
            </div>

        </div>
    </div>





    </div>

{{/main}}
{{/layout}}