{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
                    <span class="heading-secondary">Trading premises</span>
                   	Your business' premises
                </h1>

				<p>Please check all the information you have provided.</p>

				<table class="space">
					<tbody>
						<tr>
							<th width="90%">Premises</th>
							<td><a href="index">Edit</a></td>
						</tr>
						<tr>
							<td colspan="2">ACME Limited</td>
						</tr>
						<tr>
							<td colspan="2">
								Your organisation's
								<br>Registered address
								<br>Town
								<br>County
								<br>AB1 2DE
							</td>
						</tr>
						<tr>
							<td colspan="2">Residential</td>
						</tr>
						<tr>
							<td colspan="2">Trading start date of 17 November 2016</td>
						</tr>
					</tbody>
				</table>

				<table class="space">
					<tbody>
						<tr>
							<th width="90%">Trading activities</th>
							<td><a href="activities">Edit</a></td>
						</tr>
						<tr>
							<td colspan="2">Estate agent business</td>
						</tr>
					</tbody>
				</table>



				<form method="post">
					<div class="form-group">
						<input type="hidden" name="next-page" value="summary">
            			<input type="submit" class="button" value="Return to summary">
          			</div>
          		</form>


          	</div>
		</div>


{{/main}}
{{/layout}}