{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Estate Agent Business</span>
                What you need
            </h1>

        </div>
    </div>

        <div class="grid-row">
        <div class="column-two-thirds">
            <p>For this section you'll need:</p>

            <ul class="list-bullet spacelarge">
                <li>a list of which services you provide</li>
                <li>which redress scheme you're registered with, if relevant </li>
                <li>information about any penalties you've received, if relevant</li>
            </ul>

            <div class="form-group">
                <a href="services" class="button ">Continue</a>
            </div>


        </div>


         <div class="column-one-third">
            {{>includes/save-message}}
        </div>
    </div>

{{/main}}
{{/layout}}