{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

            <h1 class="heading-xlarge">
                    <span class="heading-secondary">Registration</span>
                    How it was calculated
                </h1>

            {{! <h2 class="heading-medium">Thank you for registering online.</h2>
            <p>We cannot currently receive payments. HM Revenue and Customs will contact you within 4 weeks to arrange payment for the registration fee. This does not affect your registration for anti-money laundering supervision.</p>
 }}

			<div class="panel panel-border-wide spacelarge">
				<p>Your registration fee:
				<br /><span class="heading-xlarge">&pound;1,200</span></p>
				{{! <div class="form-group">
                    <a href="payment/index" class="button" type="submit">Pay fee</a>
				</div> }}
			</div>

            <p>How your registration fee has been calculated:</p>
			<table class="spacelarge">
                <thead>
                	<th></th>
                	<th width="15%" class="numeric">Quantity</th>
                	<th width="20%" class="numeric">Fee per item</th>
                	<th width="20%" class="numeric">Total</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Application submission</td>
                        <td class="numeric">1</td>
                        <td class="numeric">&pound;100</td>
                        <td class="numeric">&pound;100</td>
                    </tr>
                    <tr>
                        <td>Responsible people</td>
                        <td class="numeric">4</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;440</td>
                    </tr>
                    <tr>
                        <td>Trading premises</td>
                        <td class="numeric">6</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;660</td>
                    </tr>
                    <tr>
                        <th colspan="3">Registration fee</th>
                        <th class="numeric">&pound;1,200</th>
                    </tr>
                </tbody>
            </table>

            {{! <h2 class="heading-large">How to pay</h2>
            <p>You can pay the fee by Bacs or cheque.</p>

            <h3 class="heading-medium">Bacs</h3>
            <p>Use the following bank account details to pay the fee via bank transfer. Use your 8-digit Money Laundering Regulations number as the reference.</p>
            <div class="panel panel-border-wide spacelarge">
                <p><span class="heading-small">Account name</span><br />HMRC Money Services Receipts (HMRC MS RCTS)</p>
                <p><span class="heading-small">Sort code</span><br />20-50-46</p>
                <p><span class="heading-small">Account number</span><br />10365998</p>
            </div>

            <h3 class="heading-medium">Cheque</h3>
            <p>Make the cheque payable to ‘HM Revenue and Customs’ and write your 8-digit Money Laundering Regulations reference number on the back.</p>
            <p>Post the cheque to:</p>

            <div class="panel panel-border-wide spacelarge">
                <p>HM Revenue and Customs
                <br />Anti Money Laundering Supervision
                <br />7th Floor, Alexander House
                <br />21 Victoria Avenue
                <br />Southend on Sea
                <br />Essex
                <br />SS99 1AG</p>
            </div> }}
	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration margin20">
                <p><span class="heading-small">Confirmation code: XAAM00000123456</span></p>
                <p>Quote this code if you need to contact HM Revenue and Customs about your registration.</p>
  			</div>
	  	</div>

  	</div>

{{/main}}
{{/layout}}