{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

		<div class="grid-row">
			<div class="column-two-thirds">


				<h1 class="heading-xlarge">Anti-money laundering supervision prototype</h1>

				<h2 class="heading-medium">Full service</h2>
				<p>Run through the service from the start</p>
				<p><a href="gov-gateway" class="button">Get started</a></p>

				<hr />
				<h2 class="heading-medium">Page by page breakdown</h2>
				<p>Links to every page</p>
				<p><a href="listings" class="button">Continue</a></p>

				<hr />
				<h2 class="heading-medium">Variations and amendments</h2>
				<p>The application status page</p>
				<p><a href="application-status/gov-gateway" class="button">Continue</a></p>



				{{! <table>
					<thead>
						<tr>
							<th width="25%">Iteration</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
						</tr>

					</tbody>
				</table> }}


			</div>
		</div>

{{/main}}

{{/layout}}