{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

		<div class="grid-row">
			<div class="column-two-thirds">


				<h1 class="heading-xlarge">Anti-money laundering supervision prototype</h1>

				<h2 class="heading-medium">Full service</h2>
				<p>Run through the service from the start at Government Gateway</p>
				<p><a href="gov-gateway" class="button">Get started</a></p>
				<hr />

				<h2 class="heading-medium">MSB extras</h2>
				<p>Run through the service including the extra agent pages for MSB</p>
				<p><a href="gov-gateway" class="button">Get started</a></p>
				<hr />

				<h2 class="heading-medium">Variations and amendments</h2>
				<p>The application status pages, make a change to your supervision etc.</p>
				<p><a href="application-status/gov-gateway" class="button">Continue</a></p>
				<hr />

				<h2 class="heading-medium">Page by page breakdown</h2>
				<p>Links to every page</p>
				<p><a href="listings" class="button">Continue</a></p>

			</div>
		</div>

{{/main}}

{{/layout}}