{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{>includes/back}}
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Trading premises</span>
                What you need
            </h1>

        </div>
    </div>
        <div class="grid-row">
        <div class="column-two-thirds">


            <p>For each of your trading premises, you'll need to know:</p>
            <ul class="list-bullet space">
                <li>the trading name and address</li>
                <li>the date you'll start trading from these premises</li>
                <li>if it's a residential address</li>
                <li>what the business does from these premises</li>
                <li>whose premises they are</li>
            </ul>


             <h2 class="heading-small">Agents</h2>
         <p>If you use agents, we also need to know where your agents trade from. An agent is an individual or business that works on behalf of your business, to provide your services. An employee is not an agent.
            </p>

            <p>You'll need the following information for each agent:</p>
             <ul class="list-bullet space">
                <li>your agent's registered business name</li>
                <li>your agent's business structure</li>
             </ul>


              <p>Depending on your agent's circumstances, you may also need:</p>
                <ul class="list-bullet space">
                <li>your agent's company registration number</li>
                <li>your agent's date of birth</li>
             </ul>
            <div class="form-group">
                <a href="msb-agent" class="button ">Continue</a>
            </div>


        </div>

        <div class="column-one-third">
            {{>includes/save-message}}
        </div>
    </div>

{{/main}}
{{/layout}}