{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}
   
            
        <div class="grid-row">
	  <div class="column-three-quarters">

	  	<a href="#" class="link-back">Back</a>

	   	<h1 class="heading-large">
	   		<span class="heading-secondary">
	   			<!--Question 1.1-->
	   			High value dealer
	   		</span>
	   		How do you expect to receive these non face to face payments?
	   	</h1>
          
		<form class="form" method="post">

        <input type="hidden" name="next-page" value="summary">
        
            <div class="form-group">
                <fieldset>
                    <span class="form-hint">(Please select all that apply.)</span>
                    <label class="block-label" >
                        <input id="asp" type="checkbox" name="activities" value="asp">
                        Courier
                    </label>
                        
                    <label class="block-label" >
                        <input id="ct" type="checkbox" name="activities" value="bpsp">
                        Direct into bank account
                    </label>
                        
                    <label class="block-label" >
                        <input id="other-ps" type="checkbox" name="activities" value="msb">
                        Other
                    </label>
                  
                  <div class="clearfix js-hidden"></div>
                    <h3 class="heading-small js-hidden">If other:</h3>
                    <div id="other" class="panel-indent inline-indent">
                      <label class="form-label" for="first-name-2">Please specify
                      </label>
                      <input class="form-control" id="first-name-2" type="text">
                </div>
    
                       
                </fieldset>
            </div>


  			<div class="form-group">
          <input type="submit" class="button" value="Check your answers">
   			</div>


	   	</form>



	  </div>
	  <div class="column-quarter">

	   	{{>includes/amls/action-links}}

	   	<div class="meta-data">
	   	</div>

		</div>
	</div>


	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#other").hide();
      $("#other-ps").click(function(){
        $("#other").show();
      });
    });
  })(jQuery || window.jQuery);
</script>

{{/content}}

{{/layout-amls}}
