{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{>includes/service-header}}

		<div class="grid-row">
			<div class="column-two-thirds">

                <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">Bank details</span>
                   	Check your answers
				</h1>




				<table class="spacesummary">
                    <tbody>
                        <tr>
                            <th>ACME Limited</th>
                            <td class="numeric"><a href="accounts">Edit</a></td>
                        </tr>
                        <tr>
                            <td width="40%">Account number:</td>
                            <td>01234537</td>
                        </tr>
                        <tr>
                            <td>Sort code:</td>
                            <td>45-33-14</td>
                        </tr>
                        <tr>
                            <td>Account type:</td>
                            <td>Personal account</td>
                        </tr>
                        <tr>
                            <td>UK bank account:</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                </table>

                <table class="spacesummary">
                    <tbody>
                        <tr>
                            <th>Oceans Limited</th>
                            <td class="numeric"><a href="accounts">Edit</a></td>
                        </tr>
                        <tr>
                            <td width="40%">IBAN number:</td>
                            <td>01234537</td>
                        </tr>
                        <tr>
                            <td>Sort code:</td>
                            <td>45-33-14</td>
                        </tr>
                        <tr>
                            <td>Account type:</td>
                            <td>My business account</td>
                        </tr>
                        <tr>
                            <td>UK bank account:</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>

				<form method="post">
    				<div class="form-group">
   						<input type="submit" class="button" value="Accept and complete section">
					</div>
				</form>

			</div>
		</div>

{{/main}}
{{/layout}}
