{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{! 	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge"><span class="heading-secondary">Submit registration</span>
			Confirmation</h1>
		</div>
	</div> }}

	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="govuk-box-highlight spacelarge">
				<p class="heading-large"><img src="public/images/icons/tick.png"> You have submitted the registration. Now pay the registration fee.</p>
				<p class="heading-small">Confirmation code: XAAM00000123456</p>
			</div>


			<div class="panel panel-border-wide spacelarge">
				<p>Your registration fee:
				<br /><span class="heading-xlarge">&pound;660</span></p>
				{{! <div class="form-group">
                    <a href="payment/index" class="button" type="submit">Pay fee</a>
				</div> }}
			</div>


            <p>How your registration fee has been calculated:</p>
			 <table class="spacelarge">
                <thead>
                	<th></th>
                	<th width="15%" class="numeric">Quantity</th>
                	<th width="20%" class="numeric">Fee per item</th>
                	<th width="20%" class="numeric">Total fee</th>
                </thead>
                <tbody>
                    {{! <tr>
                        <td>Application submission</td>
                        <td class="numeric">1</td>
                        <td class="numeric">&pound;100</td>
                        <td class="numeric">&pound;100</td>
                    </tr>
                    <tr>
                        <td>Responsible people</td>
                        <td class="numeric">4</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;440</td>
                    </tr> }}
                    <tr>
                        <td>Trading premises</td>
                        <td class="numeric">6</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;660</td>
                    </tr>
                </tbody>
            </table>



        <h2 class="heading-medium">How to pay</h2>
        <p>You have registered for anti-money laundering supervision, pending payment.</p>




	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration margin20">


                <h3 class="heading-small">Confirmation and payment codes</h3>
                <p>You have registered for anti-money laundering supervision, pending payment.</p>
	  	        <p>Your confirmation code is: <span class="heading-small">XAAM00000123456</span></p>
                <p>Quote this code if you need to speak to HM Revenue and Customs about your registration.</p>

                <p>You have 30 days to pay the registration fee.</p>




  			</div>
	  	</div>
  	</div>



{{/main}}
{{/layout}}
