{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}
<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">Anti-money laundering supervision registration</span>
            Your application status
        </h1>
    </div>
</div>

<div class="grid-row spacelarge">
    <div class="column-two-thirds">
        <div class="panel panel-border-wide">
            <p>Ubunchews Accountany Services
                <br>Benton Park Road
                <br>Newcastle
                <br>Tyne and Wear
                <br>AB1 2DE</p>
        </div>
    </div>
    <div class="column-one-third declaration">
        <p class="heading-small">Confirmation code</p>
        <p class="font-small">CXAAM00000123456</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <ol class="list list-number status-list">
            <li class="status-list--complete">Complete all sections</li>
            <li class="status-list--complete">Submit application</li>
            <li class="status-list--complete">Pay fee</li>
            <li class="status-list--complete">Under review</li>
            <li class="status-list--pending">Decision</li>
            <li class="status-list--upcoming">Renewal Due</li>
            {{!
            <li class="status-list--upcoming">Rejected</li>
            <li class="status-list--upcoming">Withdrawn</li>
            <li class="status-list--upcoming">Timed out</li> }}
        </ol>
    </div>
    <div class="column-two-thirds status-text">
        <h2 class="heading-medium">Approved</h2>
        <p>Your application has been successful, and your business is now registered with HM Revenue and Customs for anti-money laundering supervision.</p>
        <p><a href="example">Download your registration certificate</a></p>
        <p>Your supervision lasts for 12 months, and you will need to renew your registration on XXdateXX. You’ll receive a letter around XXdateXX to remind you to renew your registration.</p>
    </div>
</div>

<hr />

<div class="grid-row">
    <div class="column-two-thirds">
        {{>includes/status-change}}
        <ul class="list">
            <li><a href="#">Change your trading premises</a></li>
            <li><a href="#">Change your responsible people</a></li>
            <li><a href="#">Withdraw application</a></li>
        </ul>

        <a href="status-05-rejected" class="link-back">temp status link</a>
    </div>
</div>

{{/main}}
{{/layout}}