{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

    {{>includes/service-header}}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                <span class="heading-secondary">Business activities</span>
                What you need
            </h1>

            <p>For this section you'll need to know:</p>
            <ul class="list-bullet spacelarge">
                <li>the anticipated turnover for the next 12 months</li>
                <li>how many employees you have</li>
                <li>where your most high-value customers live</li>
            </ul>
            
             <p>Depending on your circumstances, you may also need to know:</p>
            <ul class="list-bullet spacelarge">
                <li>your franchisor's name</li>
                <li>how you record transactions</li>
                <li>your accountant's name and address</li>
                <li>your accountant's HMRC Agent Reference Number</li>

            </ul>
            
            
            <div class="form-group">
                <a href="confirm-activities" class="button ">Continue</a>
            </div>


        </div>
    </div>

{{/main}}
{{/layout}}