{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}


{{>includes/service-header}}

	<div class="grid-row">
	  	<div class="column-two-thirds">

			{{>includes/back}}
<h1 class="heading-xlarge">
				<span class="heading-secondary">High Value Dealers</span>
				Check your answers
			</h1>


			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%">What will your business sell?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>

                        <td colspan="2">
                            Gold, Jewellery
                        </td>
                    </tr>
                  </tbody>
                    </table>


			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Will you be buying or selling duty-suspended excise goods? </th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>

                </tbody>
            </table>



            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">How will you sell these goods?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Auction, Wholesale
                        </td>
                    </tr>

                </tbody>
            </table>






            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Has your business already accepted any cash payments of €15,000 or more?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Date of first payment: 12 07 2015
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">What proportion of your turnover do you expect to come from cash payments over €15,000?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            No
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="space">
                <tbody>
                    <tr>
                        <th width="90%">Do you expect to receive cash payments over €15,000 from customers you've not met in person? </th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            How do you expect to receive these payments? By courier
                        </td>
                    </tr>


                </tbody>
            </table>

			<table class="space">
                <tbody>
                    <tr>
                        <th width="90%">What proportion of your turnover do you expect to come from cash payments over €15,000?</th>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            41 - 60%
                        </td>
                    </tr>
                </tbody>
            </table>

			<form method="post">
                <div class="form-group">
                    <input type="submit" class="button" value="Accept and complete section">
                </div>
            </form>

            <p><a href="#">Print this page</a></p>

		</div>
	</div>

{{/main}}
{{/layout}}
