{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

{{! 	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge"><span class="heading-secondary">Submit registration</span>
			Confirmation</h1>
		</div>
	</div> }}

	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="govuk-box-highlight spacelarge">
				<p class="heading-large"><img src="public/images/icons/tick.png"> You have finished the registration. Please pay the registration fee.</p>
				<p class="heading-small">Confirmation code: XAAM00000123456</p>
			</div>


			<div class="panel panel-border-wide spacelarge">
				<p>Your registration fee:
				<br /><span class="heading-xlarge">&pound;1,160</span></p>
				<div class="form-group">
                    <a href="payment/index" class="button" type="submit">Pay fee</a>
				</div>
			</div>


            <p>How your registration fee has been calculated:</p>
			 <table class="spacelarge">
                <thead>
                	<th></th>
                	<th width="15%">Quantity</th>
                	<th width="20%" class="numeric">Fee per item</th>
                	<th width="20%" class="numeric">Total fee</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Application submission</td>
                        <td>1</td>
                        <td class="numeric">&pound;100</td>
                        <td class="numeric">&pound;100</td>
                    </tr>
                    <tr>
                        <td>Responsible people</td>
                        <td>4</td>
                        <td class="numeric">&pound;100</td>
                        <td class="numeric">&pound;400</td>
                    </tr>
                    <tr>
                        <td>Trading premises</td>
                        <td>6</td>
                        <td class="numeric">&pound;110</td>
                        <td class="numeric">&pound;660</td>
                    </tr>
                </tbody>
            </table>


           

			
	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration margin20">


                <h3 class="heading-small">Confirmation code</h3>
                <p>You have registered for anti-money laundering supervision, pending payment.</p>
	  	        <P>Your confirmation code is: XAAM00000123456</P>
                
                <p>You have 30 days to pay the registration fee.</p>




  			</div>
	  	</div>
  	</div>



{{/main}}
{{/layout}}
