{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Registration progress</h1>
            <p class="lede">Complete all the sections below to register. Once you start the application, you have 28 days to finish it.</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">

			{{#sections}}


	  			<div class="grid-row summaryblock {{#status}}green{{/status}} ">

					<div class="column-two-thirds greyblock">
						<h2 class="heading-small">{{name}}</h2>

		  				{{^status}}<p>{{message}}</p><!--<p class="font-xsmall"><a href="{{link}}">Start this section</a></p>-->{{/status}}
		  				{{#status}}<p class="font-xsmall"><a href="{{editlink}}">Edit</a></p>{{/status}}
					</div>
					<div class="column-one-third">
						{{#status}}
							<img src="public/images/icons/icon-tick-white.png" class="statusspace"/>
						{{/status}}
						{{^status}}
							<div class="grid-row chev">

								<div class="column-two-thirds">
									<p class="font-xsmall"><span class="heading-large">{{time}}</span><br />minutes to complete</p>
								</div>
								<div class="column-one-third">

									<a href="{{link}}"><span class="chevron right"></span></a>
								</div>
							</div>
	  					{{/status}}
					</div>

				</div>


	  		{{/sections}}

	  	</div>

	  	<div class="column-one-third">
			<div class="grid-row statusblock declaration">
	  			<h2 class="heading-small">Submit registration</h2>
				{{^complete}}
	  			<p>You can't finish the registration until you've completed all the sections.</p>
	  			{{/complete}}

	  			{{#complete}}
	  			<p>All sections complete: you can now submit the registration.</p>
	  			{{/complete}}

	  			<div class="form-group">
     				{{^complete}}
                    <a href="" class="button" disabled="disabled" type="submit">Submit registration</a>
					{{/complete}}

					{{#complete}}
                    <a href="declaration/index" class="button" type="submit">Submit registration</a>
                    {{/complete}}
				</div>
  			</div>
	  	</div>
  	</div>



{{/main}}
{{/layout}}
