{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header-not-matched}}

<header class="page-header">
      <span class="form-hint">AMLS Registration</span>
    </header>    <div class="grid-row">
      <div class="column-two-thirds"> 
          <h1 class="heading-xlarge">Your business details</h1>

          <div class="form-group">

            <p>You are about to apply for Alcohol Wholesaler Registration Scheme (AWRS) using the following business details.</p>

            <table>
              <tr>
                <th>Name</th>
                <td>ACME Limited</td>
              </tr>
              <tr>
                <th class="align-top">Registered address</th>
                <td>
                  Your organisation's<br>
                  Registered address<br>
                  Town<br>
                  County<br>
                  AB1 2DE<br>
                </td>
              </tr>
            </table>
          </div>
          <form action="/your-business-details/" method="POST">
            <div class="form-group">
              <a href="summary" class="button" type="submit">Continue</a>
            </div>
          </form>
          <a href="#">Not the right business?</a>
      </div>
     </div> 	

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>

<script type="text/javascript">
    //when next button is clicked create a function
    $('#next').click(function() {
        //if radio button yes is checked go to home '/'
        if($('#yes-alias').is(':checked')){
            location.href = 'other-names'
        }
        // else if radio button no is checked go to /summary page
        else if ($('#no-alias').is(':checked')){
            location.href = 'business-details'
        }
        // else if nothing is ticket return false and od nothing
        else{
            return false;
        }
    });
</script>

{{/content}}

{{/layout}}
