{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}

		<div class="grid-row">            
            
			<div class="column-two-thirds">
                        
                <h1 class="heading-xlarge">Sprint One Prototype</h1>
                <p class="lede">Start page and Gov Gateway.</p>
            
                    <ul class="list-bullet">
                        <li><a href="start">Start page</a></li>
                        <li><a href="gov-gateway">Gov Gateway</a></li>
                        <li><a href="summary">Summary</a></li>
                        <li><a href="your-details-1">Your Details</a></li>
                        <li><a href="your-details-1a">Other Names</a></li>
                        
                    </ul>
                
			</div>
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
  (function($) {
    $(document).ready(function(){
      $("#uk-yes").hide();
      $("#radio-inline-2-1").click(function(){
        $("#uk-yes").show();
      });
      $("#radio-inline-2-2").click(function(){
        $("#uk-yes").hide();
      });
    });
  })(jQuery || window.jQuery);
</script>

{{/content}}

{{/layout}}
