{{<layout-amls}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
            
			<div class="column-three-quarters">
                        
                <h1 class="heading-large">
                    <span class="heading-secondary">
                        Service
	   		          </span>
                    Your AMLS registration</h1>
                <p>Complete the sections below. Progress can be saved by using the save and continue button on each page. Once you start the application, you have 28 days to complete it.</p>
                
                
                <table class="table-summary">
			<thead>
				<tr>
					<th class="section-name complete">
						<h2>
							<a href="about-you-1">
							<span class="section-number">1.</span>About you
							</a>
						</h2>
					</th>
					<th class="section-status">
						<span class="status complete">Done</span>
					</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="section-name ">
						<h2>
							<a href="business-details-1">
							<span class="section-number">2.</span>About the business
							</a>
						</h2>
					</th>
					<th class="section-status">
					</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="section-name ">
						<h2>
							<a href="3/question-page">
							<span class="section-number">3.</span>Business premises
							</a>
						</h2>
					</th>
					<th class="section-status">
					</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="section-name ">
						<h2>
							<a href="4/question-page">
							<span class="section-number">4.</span>Agents
							</a>
						</h2>
					</th>
					<th class="section-status">
					</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="section-name ">
						<h2>
							<a href="5/question-page">
							<span class="section-number">5.</span>Responsible persons
							</a>
						</h2>
					</th>
					<th class="section-status">
					</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="section-name ">
						<h2>
							<a href="6/question-page">
							<span class="section-number">6.</span>Business activities
							</a>
						</h2>
					</th>
					<th class="section-status">
					</th>
				</tr>
			</thead>
		</table>
  
                
			</div>
            
           <div class="column-quarter">   
                 {{>includes/amls/action-links}}
			</div>
            
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


{{/content}}

{{/layout-amls}}
