{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$content}}

	<main id="content" role="main">

    {{>includes/amls/phase-banner-alpha}}
    {{>includes/amls/service-header}}

		<div class="grid-row">
            
			<div class="column-two-thirds">
                        
                <h1 class="heading-xlarge">Other names</h1>
                <p class="lede">Let us know your other names or aliases.</p>
                <div class="form-group">
                    <label class="form-label" for="first-name-2">First name</label>
                    <input class="form-control" id="first-name-2" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label" for="last-name-2">Last name</label>
                    <input class="form-control" id="last-name-2" type="text">
                </div>
                <div class="form-group">
                    <label class="form-label">Are you known by any other names or aliases?</label>
                    <fieldset class="inline">
                        <label class="block-label" for="radio-inline-1">
                          <input id="yes-alias" type="radio" name="radio-inline-group" value="Yes">
                          Yes
                        </label>
                        <label class="block-label" for="radio-inline-2">
                          <input id="no-alias" type="radio" name="radio-inline-group" value="No">
                          No
                        </label>
                    </fieldset>
                </div>
                <div class="form-group">
                    <a href="#" id="next" class="button">Save and continue</a>
                </div>
            
            </div>
            
             <div class="column-third">
                 
                 <div class="related">
                    <h3 class="heading-medium">Names and aliases</h3>
                    <ul class="listform-sections">
                        <li>Vincent Gough</li>
                    </ul>
                 </div>
            
			</div>
		</div>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    //when next button is clicked create a function
    $('#next').click(function() {
        //if radio button yes is checked go to home '/'
        if($('#yes-alias').is(':checked')){
            location.href = 'other-names'
        }
        // else if radio button no is checked go to /summary page
        else if ($('#no-alias').is(':checked')){
            location.href = 'business-details'
        }
        // else if nothing is ticket return false and od nothing
        else{
            return false;
        }
    });
</script>

{{/content}}

{{/layout}}
