{{<layout}}

{{$pageTitle}}
  Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	{{>includes/service-header}}


		<div class="grid-row">
			<div class="column-two-thirds">

	  			<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<h1 class="heading-xlarge">
					<span class="heading-secondary">High Value Dealer</span>
					How much of your turnover do you expect to come from cash payments over €15,000?
	  			</h1>

	  			<form method="post">
					<input type="hidden" name="next-page" value="summary">

					<div class="form-group">
					<label class="block-label" for="radio-1">
        				<input id="radio-1" type="radio" name="radio-group" value="0-20">0% to 20%
      				</label>
      				<label class="block-label" for="radio-2">
        				<input id="radio-2" type="radio" name="radio-group" value="21-40">21% to 40%
      				</label>
      				<label class="block-label" for="radio-3">
        				<input id="radio-3" type="radio" name="radio-group" value="21-40">41% to 60%
      				</label>
      				<label class="block-label" for="radio-4">
        				<input id="radio-4" type="radio" name="radio-group" value="21-40">61% to 80%
      				</label>
      				<label class="block-label" for="radio-5">
        				<input id="radio-5" type="radio" name="radio-group" value="21-40">81% to 100%
      				</label>
      				</div>

					<div class="form-group">
			  			<input type="submit" class="button" value="Save and continue">
					</div>

	  			</form>


	  		</div>
	  	</div>


{{/main}}
{{/layout}}