{{<layout}}

{{$pageTitle}}
	Anti Money Laundering Registration
{{/pageTitle}}

{{$main}}

	<div class="grid-row">
		<div class="column-two-thirds">

			<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
			<h1 class="heading-xlarge">
				<span class="heading-secondary">Business matching</span>
				 What's your company registration number?
			</h1>

			<form method="post">
				<fieldset>
					<legend class="visuallyhidden">Business details</legend>
					<div class="form-group">
						<label class="visuallyhidden">Company registration number</label>
						<span class="form-hint">For example: A1234567</span>
  						<input class="form-control" id="reg_name" type="text" name="reg_name" value="">
					</div>
					<div class="form-group">
						<a href="business-type"  class="button" type="submit" id="save-and-continue">Save and continue</a>
					</div>
				</fieldset>
			</form>

		</div>
	</div>

{{/main}}
{{/layout}}